<ion-view class="pretextView">
  <ion-content>
  	<div class="contentWrapper">
	    <div class="content-heading">
	       వదాణా తగ్గించినా.. పాల దిగుబడి తగ్గలేదు!
	    </div>
	    <div class="content">
	      హైడ్రోపోనిక్స్‌లో పశుగ్రాసం సాగుకు మొక్కజొన్న విత్తనాలు అనువుగా ఉంటాయి. తొలుత విత్తనాలను నీటిలో 12 గంటలు నానబెట్టి, 24-36 గంటల పాటు మొలకకట్టాలి. ఈ విత్తనాలను ట్రేలో పోసి ఐదు రోజుల పాటు మాదిరి ఎండతగిలే ప్రాంతంలో లేదా షేడ్‌నెట్ కింద ఉంచాలి. ఈ సమయంలో మొలక ఎండిపోకుండా ఉండేందుకు తేమను అందిస్తూ ఉండాలి. దీనికోసం మిస్టర్లు, ఫాగర్లను వాడవచ్చు. మూడడుగుల పొడవు, అడుగున్నర వెడల్పు ఉన్న ట్రేలో 1.54 కిలోల విత్తనాన్ని సాగు చేయవచ్చు. వారం రోజుల్లో 12 కిలోల గడ్డి లభిస్తుంది. ఇది ఒక పశువుకు సరిపోతుంది. గడ్డి 15-30 సెం. మీ. పెరుగుతుంది. దీన్ని వేళ్లతో సహా అందించాలి. ఒక పశువుకు ఒక రోజుకు సరిపడా గడ్డిని అందించేందుకు ఇలాంటి ట్రేలు ఐదు అవసరమవుతాయి. కిలో విత్తనానికి 7 రోజులకు మూడు లీటర్ల నీరు అవసరం అవుతుంది. నీటిలో ఎలాంటి పోషకాలు కలపాల్సిన అవసరం లేదు. విత్తనంలో ఉండే పోషకాలే మొక్క పెరుగుదలకు సరిపోతాయి.
	    </div>
    </div>
  </ion-content>
</ion-view>


