<ion-view class="pretextView">
  <ion-content>
  	<div class="contentWrapper">
	    <div class="content-heading">
	       యాప్ గురించి
	    </div>
	    <div class="about">
        <p>
          అందరికి అర్థమయ్యేలా “కేవికే ఆత్మా కడప అగ్రి యాప్” రూపొందించబడింది. వివిధ పంటల యాజమాన్య పద్ధతులను, పొలంలోని చీడపీడల
          గురించి మరియు సకాలంలో వాటి నివారణకు తీసుకోవలసిన చర్యలు ఈ యాప్ ద్వారా వివిరిచడం జరిగింది.
          రైతులు నేరుగా శాస్త్రవేత్తలతో మాట్లాడటానికి వీలుగు కాల్ సెంటర్ టోల్ ప్రీ నెంబర్లను ఈ యాప్ లో అనుసంధానం చేయడం జరిగింది.
          నూతన యాజమాన్య పద్ధతుల కు సంబంధించిన వీడియోలను ఈ యాప్ లో చూడటానికి వీలుకల్పించడం జరిగింది.
          పరిశోధనా కేంద్రాలు, ఏరువాక కేంద్రాలు, పరిశోధన స్థానాలు వాటి చిరునామాలను, ఫోన్ నెంబర్లను ఈ యాప్ లో పొందు పరచటం జరిగింది.
        </p>
	    </div>
    </div>
  </ion-content>
</ion-view>
