<ion-view>
  	<ion-content>
  		<div class="address">
        <div class="content-heading">
            చిరునామా పుస్తకం
        </div>
        <p><b>దక్షిణ మండలం పరిశోధన స్థానం</b></p>
        <p>ప్రాంతీయ వ్యవసాయ పరిశోధనా స్థానం</p>
        <ul class="kadapaAddress">
        <li>
            <span>ప్రాంతీయ వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>తిరుపతి, చిత్తూరు జిల్లా</p>
                <p>పరిశోధనాంశాలు : వేరుశనగ, నీటి యాజమాన్యం, ఉష్ణమండల అపరాలు</p>
                <p>ఫోన్: 08772248704</p>
                
            </div>
       </li>
        <li>
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>పెరుమాళ్ళ పల్లె &ndash; 5517505 , చిత్తూరు జిల్లా.</p>
                <p>పరిశోధనాంశాలు : చిరుధాన్యాలు, చెరకు</p>
                <p>ఫోన్: 08772276240</p>
                
            </div>
        </li>
        <li>            
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>పలమనేరు, చిత్తూరు జిల్లా</p>
                <p>పరిశోధనాంశాలు : చిరుధాన్యాలు, వేరుశనగ</p>
                
            </div>
        </li>
        <li>
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>నెల్లూరు &ndash; 524004</p>
                <p>పరిశోధనాంశాలు : వరి</p>
                <p>ఫోన్: 08621285279</p>
                
            </div>
        </li>
        <li>
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>కావలి &ndash; 524202, నెల్లూరు జిల్లా</p>
                <p>పరిశోధనాంశాలు : ఆగ్రోఫారెస్ట్రి, వరి, నూనె పంటలు</p>
                <p>ఫోన్ : 08626241528</p>
                
            </div>
        </li>
        <li>
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>పొదలకూరు &ndash; 524345, నెల్లూరు జిల్లా</p>
                <p>పరిశోధనాంశాలు: జొన్న, తృణధాన్యాలు, పప్పు దినుసులు, గడ్డి, జొన్న</p>
                <p>ఫోన్: 08621285279</p>
                
            </div>
        </li>
        <li>
            <span>వ్యవసాయ పరిశోధనా స్థానం</span>
            <div>
                <p>ఉటుకూరు &ndash; 51600, కడప జిల్లా</p>
                <p>పరిశోధనాంశాలు : వరి, వేరుశనగ, పంటల సరళి, మెట్ట వ్యవసాయం</p>
                <p>ఫోన్: 08562259778</p>
                
            </div>
        </li>
        </ul>



        <p><b>కృషి విజ్ఞాన కేంద్రం</b></p>
        <p>01. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, ఉటుకూరు &ndash; 516003</p>
            <p>కడప జిల్లా</p>
            <p>ఫోన్: 08562231331, 09989623826</p>
            
        </div>
       
        <p>02. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, రెడ్డిపల్లి, అనంతపురం జిల్లా</p>
            <p>ఫోన్: 08554257243, 09989623825</p>
            
        </div>
        
        <p>03. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, నెల్లూరు జిల్లా</p>
            <p>ఫోన్: 08612329803, 09989623828</p>
            
        </div>
        <p>04. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, గరుడాపురం, కళ్యాణదుర్గం మండలం,</p>
            <p>అనంతపురం జిల్లా.</p>
            <p>ఫోన్: 07702544492</p>
            
        </div>

        <p>05. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, బనవాసి ఆంధ్రబ్యాంకు పైన,</p>
            <p>కర్నూలు జిల్లా.</p>
            <p>ఫోన్: 09490575664</p>
            
        </div>
        <p>06. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, యాగంటిపల్లె, బనగానపల్లె మండలం,</p>
            <p>కర్నూలు జిల్లా.</p>
            <p>ఫోన్: 09440607424</p>
            
        </div>
        <p>07. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, కలికిరి, చిత్తూరు జిల్లా.</p>
            <p>ఫోన్: 09989234214</p>
            
        </div>
        <p>08. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>రాస్ - కృషి విజ్ఞాన్ కేంద్రం, వనస్థలి, కరకంబాడి (పోస్ట్), రేణిగుంట మండలం,</p>
            <p>తిరుపతి, చిత్తూరు జిల్లా</p>
            <p>ఫోన్: 08772240203</p>
            
        </div>
        <p>09. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, ఆముదాల వలస, శ్రీకాకుళం జిల్లా.</p>
            <p>ఫోన్: 08942286210, 09989623822</p>
            
        </div>
        <p>10. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, రాస్తకుంటబాయి, విజయనగరం జిల్లా</p>
            <p>ఫోన్: 08963225094, 09440019058</p>
            
        </div>
        <p>11. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>బి.సి.టి. - కృషి విజ్ఞాన్ కేంద్రం, ఎకో రిజువనేసన్ కేంద్రం, హరిపురం, విశాఖపట్నం జిల్లా.</p>
            <p>ఫోన్: 08924253850, 09441530994</p>
        </div>
        <p>12. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, కలవచెర్ల, రాజ నగరం మండలం,</p>
            <p>తూర్పుగోదావరి జిల్లా</p>
            <p>ఫోన్: 08832448341, 08790819002</p>
            
        </div>

        <p>13. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, వుండి, పశ్చిమ గోదావరి జిల్లా.</p>
            <p>ఫోన్: 08816228322, 09989623823</p>
            
        </div>
        <p>14. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
         <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, గరికపాడు, కృష్ణ జిల్లా.</p>
            <p>ఫోన్: 08654288238, 09989623824</p>
            
        </div>
        <p>15. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
         <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, ఘంటసాల, కృష్ణ జిల్లా</p>
            <p>ఫోన్: 08008201253</p>
            
        </div>
        <p>16. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
         <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, ప్రకాశం జిల్లా</p>
            <p>ఫోన్ : 08407254768, 09989623827</p>
            
            </div>
        <p>17. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
         <div class="addr-li-hack">
            <p>కృషి విజ్ఞాన్ కేంద్రం, కందుకూరు, ప్రకాశం జిల్లా</p>
            <p>ఫోన్: 08598223554, 09494483554</p>
            
            </div>
        <p><b>ఏరువాక కేంద్రం</b></p>
        <p> 
            <p class="addr-lx-heading">01.&nbsp;</p>
            <p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, ఊటుకూరు, కడప జిల్లా</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్ : 08562252389, 09989623811</p>
        </div>
        <p>
            <p class="addr-lx-heading">02.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, ఒంగోలు</p>
        </p>
        <div class="addr-li-hack">
         <p>ఫోన్: 08592220788, 09989623807</p>
        </div>

        <p>
             <p class="addr-lx-heading">03.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, నెల్లూరు</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08612314052, 09989623808</p>
        </div>
        <p>
        <p class="addr-lx-heading">04.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, అనంతపురం</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 09989623812</p>
        </div>
        <p>
        <p class="addr-lx-heading">05.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, కర్నూలు</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08518251813, 09989623810</p>
        </div>
        <p>
        <p class="addr-lx-heading">06.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, చిత్తూరు</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08572245112, 09989623809</p>
        </div>

        <p>
        <p class="addr-lx-heading">07.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, ఆముదాల వలస, శ్రీకాకుళం</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08942287720, 09989623800</p>
        </div>

        <p>
        <p class="addr-lx-heading">08.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, విజయనగరం</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 09989623801</p>
        </div>
        <p>
        <p><p class="addr-lx-heading">09. &nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, అనకాపల్లి, విశాఖపట్నం</p></p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08924221711, 09989623892</p>
        </div>

        <p>
        <p class="addr-lx-heading">10.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, నడికుదురు, కరప మండలం, కాకినాడ, తూర్పు గోదావరి జిల్లా</p>
        </p>
        <div class="addr-li-hack">    
            <p>ఫోన్: 08842348780, 09989623803</p>
        </div>
        <p>
        <p class="addr-lx-heading">11.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, ఏలూరు, పశ్చిమ గోదావరి జిల్లా</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్:08812248543, 09989623804</p>
        </div>
        <p>
        <p class="addr-lx-heading">12.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, మచిలీపట్నం, కృష్ణా జిల్లా</p>
        </p>
        <div class="addr-li-hack">
            <p>ఫోన్: 08672250629, 09989623805</p>
        </div>
        <p>
        <p class="addr-lx-heading">13.&nbsp;</p><p>కో ఆర్డినేటర్, ఏరువాక కేంద్రం, లాం ఫారం, గుంటూరు</p>
        </p>
        <div class="addr-li-hack">
        <p>ఫోన్ : 08632524009, 09989623806</p>
        </div>
        <p>&nbsp;</p>
      </div>
  	</ion-content>
</ion-view>
