<ion-view>
  	<ion-content>
  		<div class="address">
        <div class="content-heading">
            చిరునామా పుస్తకం
        </div>
        <p>దక్షిణ మండలం పరిశోధన స్థానం</p>
        <p>ప్రాంతీయ వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>* ప్రాంతీయ వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>తిరుపతి, చిత్తూరు జిల్లా</p>
        <p>పరిశోధనాంశాలు : వేరుశనగ, నీటి యాజమాన్యం, ఉష్ణమండల అపరాలు</p>
        <p>ఫోన్: 08772248704</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>పెరుమాళ్ళ పల్లె &ndash; 5517505 , చిత్తూరు జిల్లా.</p>
        <p>పరిశోధనాంశాలు : చిరుధాన్యాలు, చెరకు</p>
        <p>ఫోన్: 08772276240</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>పలమనేరు, చిత్తూరు జిల్లా</p>
        <p>పరిశోధనాంశాలు : చిరుధాన్యాలు, వేరుశనగ</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>నెల్లూరు &ndash; 524004</p>
        <p>పరిశోధనాంశాలు : వరి</p>
        <p>ఫోన్: 08621285279</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>కావలి &ndash; 524202, నెల్లూరు జిల్లా</p>
        <p>పరిశోధనాంశాలు : ఆగ్రోఫారెస్ట్రి, వరి, నూనె పంటలు</p>
        <p>ఫోన్ : 08626241528</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>పొదలకూరు &ndash; 524345, నెల్లూరు జిల్లా</p>
        <p>పరిశోధనాంశాలు: జొన్న, తృణధాన్యాలు, పప్పు దినుసులు, గడ్డి, జొన్న</p>
        <p>ఫోన్: 08621285279</p>
        <p>&nbsp;</p>
        <p>* వ్యవసాయ పరిశోధనా స్థానం</p>
        <p>ఉటుకూరు &ndash; 51600, కడప జిల్లా</p>
        <p>పరిశోధనాంశాలు : వరి, వేరుశనగ, పంటల సరళి, మెట్ట వ్యవసాయం</p>
        <p>ఫోన్: 08562259778</p>
        <p>&nbsp;</p>
        <p>కృషి విజ్ఞాన కేంద్రం</p>
        <p>1. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, ఉటుకూరు &ndash; 516003</p>
        <p>కడప జిల్లా</p>
        <p>ఫోన్: 08562231331</p>
        <p>09989623826</p>
        <p>&nbsp;</p>
        <p>2. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, రెడ్డిపల్లి, అనంతపురం జిల్లా</p>
        <p>ఫోన్: 08554257243, 09989623825</p>
        <p>&nbsp;</p>
        <p>3. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, నెల్లూరు జిల్లా</p>
        <p>ఫోన్: 08612329803, 09989623828</p>
        <p>&nbsp;</p>
        <p>4. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, గరుడాపురం, కళ్యాణదుర్గం మండలం,</p>
        <p>అనంతపురం జిల్లా.</p>
        <p>ఫోన్: 07702544492</p>
        <p>&nbsp;</p>
        <p>5. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, బనవాసి ఆంధ్రబ్యాంకు పైన,</p>
        <p>కర్నూలు జిల్లా.</p>
        <p>ఫోన్: 09490575664</p>
        <p>&nbsp;</p>
        <p>6. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, యాగంటిపల్లె, బనగానపల్లె మండలం,</p>
        <p>కర్నూలు జిల్లా.</p>
        <p>ఫోన్: 09440607424</p>
        <p>&nbsp;</p>
        <p>7. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, కలికిరి, చిత్తూరు జిల్లా.</p>
        <p>ఫోన్: 09989234214</p>
        <p>&nbsp;</p>
        <p>8. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>రాస్ - కృషి విజ్ఞాన్ కేంద్రం, వనస్థలి, కరకంబాడి (పోస్ట్), రేణిగుంట మండలం,</p>
        <p>తిరుపతి, చిత్తూరు జిల్లా</p>
        <p>ఫోన్: 08772240203</p>
        <p>&nbsp;</p>
        <p>9. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, ఆముదాల వలస, శ్రీకాకుళం జిల్లా.</p>
        <p>ఫోన్: 08942286210, 09989623822</p>
        <p>&nbsp;</p>
        <p>10. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, రాస్తకుంటబాయి, విజయనగరం జిల్లా</p>
        <p>ఫోన్: 08963225094, 09440019058</p>
        <p>&nbsp;</p>
        <p>11. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>బి.సి.టి. - కృషి విజ్ఞాన్ కేంద్రం, ఎకో రిజువనేసన్ కేంద్రం, హరిపురం, విశాఖపట్నం జిల్లా.</p>
        <p>ఫోన్: 08924253850, 09441530994</p>
        <p>12. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, కలవచెర్ల, రాజ నగరం మండలం,</p>
        <p>తూర్పుగోదావరి జిల్లా</p>
        <p>ఫోన్: 08832448341, 08790819002</p>
        <p>&nbsp;</p>
        <p>13. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, వుండి, పశ్చిమ గోదావరి జిల్లా.</p>
        <p>ఫోన్: 08816228322, 09989623823</p>
        <p>&nbsp;</p>
        <p>14. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, గరికపాడు, కృష్ణ జిల్లా.</p>
        <p>ఫోన్: 08654288238, 09989623824</p>
        <p>&nbsp;</p>
        <p>15. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, ఘంటసాల, కృష్ణ జిల్లా</p>
        <p>ఫోన్: 08008201253</p>
        <p>&nbsp;</p>
        <p>16. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, ప్రకాశం జిల్లా</p>
        <p>ఫోన్ : 08407254768, 09989623827</p>
        <p>&nbsp;</p>
        <p>17. ప్రోగ్రాం కో ఆర్డినేటర్,</p>
        <p>కృషి విజ్ఞాన్ కేంద్రం, కందుకూరు, ప్రకాశం జిల్లా</p>
        <p>ఫోన్: 08598223554, 09494483554</p>
        <p>&nbsp;</p>
        <p>ఏరువాక కేంద్రం</p>
        <p>1. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, ఊటుకూరు, కడప జిల్లా</p>
        <p>ఫోన్ : 08562252389, 09989623811</p>
        <p>2. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, ఒంగోలు</p>
        <p>ఫోన్: 08592220788, 09989623807</p>
        <p>3. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, నెల్లూరు</p>
        <p>ఫోన్: 08612314052, 09989623808</p>
        <p>4. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, అనంతపురం</p>
        <p>ఫోన్: 09989623812</p>
        <p>5. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, కర్నూలు</p>
        <p>ఫోన్: 08518251813, 09989623810</p>
        <p>6. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, చిత్తూరు</p>
        <p>ఫోన్: 08572245112, 09989623809</p>
        <p>7. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, ఆముదాల వలస, శ్రీకాకుళం</p>
        <p>ఫోన్: 08942287720, 09989623800</p>
        <p>8. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, విజయనగరం</p>
        <p>ఫోన్: 09989623801</p>
        <p>9. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, అనకాపల్లి, విశాఖపట్నం</p>
        <p>ఫోన్: 08924221711, 09989623892</p>
        <p>10. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, నడికుదురు, కరప మండలం, కాకినాడ, తూర్పు గోదావరి జిల్లా</p>
        <p>ఫోన్: 08842348780, 09989623803</p>
        <p>11. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, ఏలూరు, పశ్చిమ గోదావరి జిల్లా</p>
        <p>ఫోన్:08812248543, 09989623804</p>
        <p>12. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, వ్యవసాయ మార్కెట్ యార్డ్, మచిలీపట్నం, కృష్ణా జిల్లా</p>
        <p>ఫోన్: 08672250629, 09989623805</p>
        <p>&nbsp;</p>
        <p>13. కో ఆర్డినేటర్, ఏరువాక కేంద్రం, లాం ఫారం, గుంటూరు</p>
        <p>ఫోన్ : 08632524009, 09989623806</p>
        <p>&nbsp;</p>
        <p>కాల్ సెంటర్</p>
        <p>&nbsp;</p>
        <p>వ్యవసాయ పంటల సూచనలు</p>
        <p>18004254440</p>
        <p>ఆచార్య ఎన్.జి.రంగా వ్యవసాయ విశ్వవిద్యాలయం</p>
        <p>&nbsp;</p>
        <p>ఉద్యాన పంటల సూచనలు</p>
        <p>18004252960</p>
        <p>ఉద్యాన శాఖ, ఆంధ్రప్రదేశ్ ప్రభుత్వం</p>
        <p>&nbsp;</p>
        <p>చేపల పెంపకం సూచనలు</p>
        <p>18004251188</p>
        <p>మత్స్యశాఖ, ఆంధ్రప్రదేశ్ ప్రభుత్వం</p>
        <p>&nbsp;</p>
        <p>వాతావరణ సూచనలు</p>
        <p>18001801717</p>
        <p>భారత ప్రభుత్వం</p>
        <p>&nbsp;</p>
        <p>రైతుల కాల్ సెంటర్ నెంబర్</p>
        <p>1800 425 0430</p>
        <p>&nbsp;</p>
        <p>అన్నపూర్ణ కృషి ప్రసారసేవ</p>
        <p>1800 425 3141</p>
      </div>
  	</ion-content>
</ion-view>
