<ion-view>
  	<ion-content>
  		<div class="cotton">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><U><FONT SIZE=2><B>పత్తి</B></FONT></U></SPAN></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>ఎరువులు
యాజమాన్యం </B></FONT></SPAN></FONT><FONT SIZE=2><B>(</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>ఎకరాకు
కిలోల్లో</B></FONT></SPAN></FONT><FONT SIZE=2><B>):</B></FONT></P>
<TABLE WIDTH=638 CELLPADDING=7 CELLSPACING=0>
<COL WIDTH=113>
<COL WIDTH=114>
<COL WIDTH=114>
<COL WIDTH=114>
<COL WIDTH=113>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రాంతం</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నత్రజని</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>భాస్వరం</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పొటాష్</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వేసే
    పధ్ధతి</FONT></SPAN></FONT></P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD COLSPAN=4 WIDTH=495 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కోస్తా
    ప్రాంతం</FONT></SPAN></FONT></P>
  </TD>
  <TD ROWSPAN=2 WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అన్ని
    ప్రాంతాలకు సిఫారసు చేసిన
    భాస్వరం ఎరువులు ఒకేసారి
    ఆఖరి దుక్కిలో వేసి కలియదున్నాలి</FONT></SPAN></FONT><FONT SIZE=2>.
    </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కోస్తా</FONT></SPAN></FONT><FONT SIZE=2>,
    </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రాయలసీమ
    ప్రాంతాల్లో అమెరికన్ రకాలకు
    మరియు సంకరజాతి రకాలకు
    సిఫారసు చేసిన నత్రజని మరియు
    పొటాష లను మూడు సమభాగాలుగు
    చేసి విత్తిన  </FONT></SPAN></FONT><FONT SIZE=2>30,
    60, 90 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజులకు
    మొక్క మొదళ్లకు </FONT></SPAN></FONT><FONT SIZE=2>7-10
    </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సెం</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మీ</FONT></SPAN></FONT><FONT SIZE=2>.
    </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>దేశవాళీ
    రకాలు దూరంలో పాదులు తీసి
    వేయాలి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రాయలసీమలోని
    అమెరకన్ రకాలు వర్షాధార
    అమెరికన్ సంకరజాతి రకాలకు
    సిఫారసు చేసిన నత్రజనిని
    రెండు సమభాగాలుగా చేసి
    విత్తిన </FONT></SPAN></FONT><FONT SIZE=2>30,60
    </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజులకు
    పైన తెల్పిన విధంగా వేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అమెరికన్
    రకాలు</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>36</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>18</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>18</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సంకర జాతి
    రకాలు</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>48</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD COLSPAN=4 WIDTH=495 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రాయలసీమ</FONT></SPAN></FONT></P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>దేశవాళి
    రకాలు</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>8</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>8</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>-</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అమెరికన్
    రకాలు </FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వర్షాధారము</FONT></SPAN></FONT><FONT SIZE=2>)</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>16</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>8</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>8</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అమెరికన్
    రకాలు </FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నీటి
    వసతి</FONT></SPAN></FONT><FONT SIZE=2>)</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>36</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>18</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>18</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సంకరజాతి
    రకాలు</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>48</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వరి కోసిన
    తర్వాత వేసే మాగాణి భూముల్లో</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సూటి
    రకాలు</FONT></SPAN></FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>54</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>18</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>1</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
<TR VALIGN=TOP>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>హైబ్రిడ్స్
    </FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సంకరజాతి
    రకాలు</FONT></SPAN></FONT><FONT SIZE=2>)</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>60</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=114 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><FONT SIZE=2>24</FONT></P>
  </TD>
  <TD WIDTH=113 STYLE="border: 1px solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
    <P><BR>
    </P>
  </TD>
</TR>
</TABLE>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>నీటి
యాజమాన్యం </B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నీరు
ఎక్కువగా పెట్టరాదు</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సాధారణంగా
ఎరువులు వేసిన వెంటనే మరియు
పూత సమయంలో</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాయ
తయారగు సమయంలో నీరు పెట్టాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఖరీఫ్
లో </FONT></SPAN></FONT><FONT SIZE=2>2-3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తడులు</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రబీలో
ఆరు తడులు అవసరం ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>కలుపు
నివారణ</B></FONT></SPAN></FONT><FONT SIZE=2><B>: </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>విత్తే
ముందు ప్లుక్లోరాలిన్ </FONT></SPAN></FONT><FONT SIZE=2>45%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎకరాకు
లీటరు చొప్పున పిచికారీ చేసి
భూమిలో కలియదున్నాలి లేదా
పెండిమిథాలిన్ </FONT></SPAN></FONT><FONT SIZE=2>30%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎకరాకు
</FONT></SPAN></FONT><FONT SIZE=2>1.3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నుండి
</FONT></SPAN></FONT><FONT SIZE=2>1.6 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>విత్తిన
</FONT></SPAN></FONT><FONT SIZE=2>25-30 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజులప్పుడు
అంతరకృషి చేయడానికి అవకాశం
లేనప్పుడు గడ్డి జాతి మొక్కల
నివారణకు యకరాకు </FONT></SPAN></FONT><FONT SIZE=2>400
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>క్విజలోఫాప్
ఇథైల్ </FONT></SPAN></FONT><FONT SIZE=2>200 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటర్ల
నీటిలో కలిపి పిచికారీ
చేసుకోవాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వెడల్పాటి
ఆకు కలుపు సమస్య ఎక్కువగా
ఉన్నట్లయితే ఎకరాకు </FONT></SPAN></FONT><FONT SIZE=2>250
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పైరిథయోబ్యాక్
సోడియంను </FONT></SPAN></FONT><FONT SIZE=2>200
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటర్లు
నీటిలో కలిపి పిచికారీ
చేసుకోవాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఖరీఫ్
లో వర్షాలు ఎక్కువగా వుండి
అంతరకృషి కుదరనప్పుడు ఎకరాకు
లీటరు పెరాక్వాట్ </FONT></SPAN></FONT><FONT SIZE=2>24%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా </FONT></SPAN></FONT><FONT SIZE=2>2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటర్ల
గ్లైఫోసేట్ మందును </FONT></SPAN></FONT><FONT SIZE=2>2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలోల
యూరియా</FONT></SPAN></FONT><FONT SIZE=2>/</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అమ్మోనియా
సల్ఫేట్ తో </FONT></SPAN></FONT><FONT SIZE=2>200</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నీటిలో
కలిపి ప్రత్తి మీద పడకుండా
వరుసల మధ్య కలుపు మీద మాత్రమే
పడేటట్లు పిచికారీ చేసుకోవాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>సూక్ష్మధాతు
లోపాలు – సవరణ</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>మెగ్నీషియం
లోప లక్షణాలు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ముదురు
ఆకులు</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అంచుల
నుండి మధ్య భాగానికి పసుపు
రంగుకు మారుతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకుల
ఈనెలు మాత్రం ఆకుపచ్చగా
వుంటాయి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లోప
తీవ్రత పెరిగినప్పుడు ఆకులు
ఎర్రబారి ఎండిపోయి రాలిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నివారణకు
లీటరు నీటికి </FONT></SPAN></FONT><FONT SIZE=2>10</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మెగ్నీషియం
సల్ఫేట్ పైరు వేసిన </FONT></SPAN></FONT><FONT SIZE=2>45
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మరియు
</FONT></SPAN></FONT><FONT SIZE=2>75 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
తర్వాత రెండుసార్లు పిచికారీ
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>జింకు
లోప లక్షణాలు </B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ ధాతు
లోపం</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మొక్క
మధ్య ఆకుల మీద కనిపిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకుల
ఈనెలు ఆకుపచ్చగా వుంది ఈనెల
మధ్య భాగం మాత్రమే పసుపుపచ్చగా
మారుతుంది</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కొమ్మ
చివరి ఆకులు చిన్నవిగా వుండి
ముడతలు పడి కణుపుల మధ్య దూరం
తగ్గుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నివారణకు
</FONT></SPAN></FONT><FONT SIZE=2>20 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలోల
జింకు సల్ఫేట్ ను ఆఖరు దుక్కిలో
వేసుకోవాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
</FONT></SPAN></FONT><FONT SIZE=2>0.2% (2.0</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గా</FONT></SPAN></FONT><FONT SIZE=2>)
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>జింకు
సల్ఫేట్ ద్రవవానాన్ని మొక్కల
మీద లోప లక్షనాలు గమనించినప్పుడు
</FONT></SPAN></FONT><FONT SIZE=2>7-10 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధిలో </FONT></SPAN></FONT><FONT SIZE=2>2</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సార్లు
పిచికారీ చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>బోరాన్
లోప లక్షణాలు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
 </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూల
స్వరూపం మారి ఆకర్షణ పత్రాలు
చిన్నవై లోపలకు ముడుచుకుపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకులు
మరియు కాడలు ఒకే రీతిన ఉండక
కొంత దలసరిగాను</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కొంత
పలచగాను వుండి అక్కడక్కడ
రింగులుగా ఏర్పడటంతో పాటు
ఆకుల మీద రాగి రంగు మచ్చలు
ఏర్పడుతాయి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ
లోపం బాగా ఎక్కువగా వున్నప్పుడు
పూత మొగ్గ దశలో ఎండిపోవడం</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>చిన్న
కాయలు రాలిపోవడంతో పాటు
మొక్కలు గిడసబారి ప్రధాన
కాండంపై పగుళ్ళు కూడా ఏర్పడతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాయలు
సరిగ్గా అభివృద్ధి చెందక
ఆకారం కోల్పోయి కాయ పెరిగే
దశలో ఒక్కోసారి నిలువుగా
పగుళ్ళు ఏర్పడతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నివారణకు
పైరు వేసిన </FONT></SPAN></FONT><FONT SIZE=2>60
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మరియు
</FONT></SPAN></FONT><FONT SIZE=2>90 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
తర్వాత లీటరు నీటికి </FONT></SPAN></FONT><FONT SIZE=2>1-1.5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>బోరాక్స్
వారం రోజుల వ్యవధిలో రెండుసార్లు
పిచికారీ చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>జీవన
ప్రక్రియ సంబంధిత రుగ్మతలు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూత</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిందె
రాలటం </FONT></SPAN></FONT><FONT SIZE=2>: </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రతికూల
పరిస్థితులలో నాప్తలిన్
ఎసిటిక్ యాసిడ్ </FONT></SPAN></FONT><FONT SIZE=2>10
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>యం</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ద్రావనాన్ని
ఒకటి లేదా రెండుసార్లు </FONT></SPAN></FONT><FONT SIZE=2>10-15
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధిలో అవసరాన్ని బట్టి
పిచికారి చేయటం ద్వారా పూత</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిందె
రాలటాన్ని కొంత వరకు నివారించవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అధికంగా
రొట్టె పెరగడం</FONT></SPAN></FONT><FONT SIZE=2>:
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సైకోసిలిన్
</FONT></SPAN></FONT><FONT SIZE=2>60 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>యం</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మోతాదులో
పిచికారి చేసినట్లయితే</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మొక్కల్లో
అదనపు శాఖీయ పెరుగుదల ఆగిపోయి</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మొక్కల్లో
తయారైన పిండి పదార్థాలు</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూత</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిందె
అభివృద్ధికి వుపయోగాపడటంతో</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పాటు
పూత</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిందె
రాలటం తగ్గుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>పక్వానికి
రాకముందే ఆకులు వదలి రాలిపోవడం</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నెలలో
పొటాష్ లభ్యత అధికంగా
వున్నప్పటికిని మొక్కలో
పొటాషియం లోపం వలన ఆకులు
పక్వానికి రాకముందే రాలిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>దీనిని
అధిగమించుటకు</FONT><FONT SIZE=2><B> </B></FONT></SPAN></FONT><FONT SIZE=2>2%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పొటాషియం
నైట్రేటు ద్రావణాన్ని ప్రత్తి
పంట కాయ దశలో ఉన్నప్పుడు </FONT></SPAN></FONT><FONT SIZE=2>4-5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధిలో రెండు సార్లు పిచికారి
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>బెట్ట
లేదా ముంపునకు గురైనప్పుడు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>బెట్టకు
లేదా నీటి ముంపునకు ప్రత్తి
పొలం గురైనప్పుడు</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూత పిందె</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాయలు
రాలి పోవడం</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకులు
వాడిపోవడం జరుగుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అప్పుడు
మురుగు నీటిని తీసివేయడంతో
పాటుగా</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎండ
వున్నా సమయంలో </FONT></SPAN></FONT><FONT SIZE=2>2%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పొటాషియం
నైట్రేటు మరియు </FONT></SPAN></FONT><FONT SIZE=2>2%
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>యూరియా
మార్చి మార్చి పిచికారి చేయడం
ద్వారా మంచి ఫలితాన్ని
పొందవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>తెగుళ్ళు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>వేరుకుళ్ళు
తెగుళ్ళు </B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>భూమిలో
తేమ అధికంగా ఉన్నప్పుడు ఈ
తెగులు పైరు అన్ని దశల్లో
కనబడుతుంది</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేత
మొక్కలు అర్ధాంతరంగా ఎండిపోయి
చనిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వడలిపోయిన
ఆకులు చాలా కాలం వరకు చెట్లపై
నుండి క్రిందికి వ్రేలాడుతూ
వుంటాయి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలో
విత్తనానికి </FONT></SPAN></FONT><FONT SIZE=2>2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కర్బండిజం
లేదా గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ట్రైకోడెర్మ
విరిడితో విత్తన శుద్ది చేసి
విత్తుకోవాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రెండు
కిలోల ట్రైకోడెర్మ విరిడి
పొడిని </FONT></SPAN></FONT><FONT SIZE=2>90 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలోల
పశువుల ఎరువు మరియు </FONT></SPAN></FONT><FONT SIZE=2>10
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలోల
వేప పిండితో కలిపి వృద్ది
చేసి ఆఖరి దుక్కిలో మరియు
అవసరాన్ని బట్టి పైపాటుగా
వేయాలి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాపర్
ఆక్సీ క్లోరైడ్ </FONT></SPAN></FONT><FONT SIZE=2>3
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
కార్బండిజం </FONT></SPAN></FONT><FONT SIZE=2>1
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటరు
నీటికి కలిపిన ద్రావణాన్ని
తెగులు సోకిన మొక్కల పాదుల
చుట్టూ నేలపై పోయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>వడలు
తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>ఫ్యుజేరియం
వడలు తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తెగులు
సోకిన మొక్కల ఆకులు వాడిపోయి
మొదట ఈనెల మధ్య పసుపు రంగుగా</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తదుపరి
ఎర్రగా మారి ఆకులు క్రింది
నుండి పైకి ఎండుకుంటూ రాలిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కొమ్మలను
చీల్చి చూస్తే లోపల నల్లని
బూజుతో చారలుగా కనిపిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>వర్టిసీలియం
వడలు తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈనెల
మధ్య పసుపు రంగుకు మారి</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తెగులు
తీవ్రమైనప్పుడు కణాలు చనిపోయి
పెద్ద పెద్ద నల్లని మచ్చలు
ఏర్పడి ఆకులపై పులి చారల వలె
కనిపిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకులు
కొంత కాలం వ్రేలాడి</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూర్తిగా
రాలాక క్రింద భాగంలో వున్న
మొగ్గలు క్రొత్త ఆకులను</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కొమ్మలనిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాని
కాయలు ఏర్పడవు</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాండము
మరియు వేరును చీల్చి చూస్తే
లోపల గోధుమ రంగుకు మారి ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వేరుకుళ్ళు
తెగులు నివారణకు సూచించిన
చర్యలను పాటించాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సిఫార్సు
మేరకు పొటాష్ ఎరువులను తప్పక
వాడాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>నల్లమచ్చ
తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:  </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ముందుగా
ఆకులపై కోణాకారంలో నూనె రంగు
మచ్చలు ఏర్పడి తర్వాత నల్లగా
మారి మూడవ దశలో ఆకుల ఈనెల
ద్వారా తెగులు వ్యాపించి
నల్లగా మారుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తెగులు
ఉదృతంగా ఉన్నప్పుడు కొమ్మలకు
కూడా వ్యాపించి కొమ్మలు నల్లగా
మారి ఎండిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>దీనినే
‘బ్లాక్ ఆర్మ్’ అని పిలుస్తారు</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పైరు
వివిధ దశల్లో కనిపిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వర్షాకాలంలో
మబ్బులు పట్టినప్పుడు ఈ తెగులు
బాగా వ్యాపిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలో
విత్తనానికి </FONT></SPAN></FONT><FONT SIZE=2>10
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సూడోమొనాస్
ప్లోరోసెన్స్ తో విత్తనశుద్ది
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఉదృతిని
బట్టి </FONT></SPAN></FONT><FONT SIZE=2>3-4 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పర్యాయాలు
</FONT></SPAN></FONT><FONT SIZE=2>15 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధిలో </FONT></SPAN></FONT><FONT SIZE=2>10 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటర్ల
నీటికి </FONT></SPAN></FONT><FONT SIZE=2>1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>స్ట్రెప్టోసైక్లిన్
మరియు కాపర్ ఆక్సీ క్లోరైడ్
</FONT></SPAN></FONT><FONT SIZE=2>30 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రాముల
చొప్పున కలిపి పిచికారి
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>ఆకుమచ్చ
తెగుళ్ళు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అల్టర్నేరియా
వలన ఆకుల మీద గోధుమ రంగు మచ్చలు
వలయాకారపు సుడులుగా</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రింగులుగా
ఏర్పడతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సెర్మోస్పొరా
వలన ఆకుల మీద ముదురు గోధుమ
రంగులో గుండ్రని మచ్చలు ఏర్పడి
చుట్టూ ఎరుపు వర్ణం కల్గి
మధ్యభాగం తెల్లగా ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>హెల్మింతోస్పోరియం
వలన ఆకుల మీద తేలిక గోధుమ రంగు
గుండ్రని మచ్చలు ఏర్పడి
మధ్యభాగం బూదిదరంగుతో చుట్టూ
ఎర్రటి అంచులు ఏర్పడుతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆ మంచు
తెగుళ్ల నివారణకు సూడోమొనాస్
తో విత్తన శుద్ధి చేసి నాటాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీటరు
నీటికి </FONT></SPAN></FONT><FONT SIZE=2>2.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మాంకోజెబ్
లేదా కాపర్ ఆక్సీ క్లోరైడ్
</FONT></SPAN></FONT><FONT SIZE=2>3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
క్యూమాన్</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎల్</FONT></SPAN></FONT><FONT SIZE=2>.
4 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
ప్రొపికొనజోల్ </FONT></SPAN></FONT><FONT SIZE=2>1
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
కాప్టాన్ </FONT></SPAN></FONT><FONT SIZE=2>+
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>హెక్సాకొనజోల్
</FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తాకత్</FONT></SPAN></FONT><FONT SIZE=2>)
1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
2-3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పర్యాయాలు
</FONT></SPAN></FONT><FONT SIZE=2>15 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధితో పిచికారి చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>బూజు
</B></FONT></SPAN></FONT><FONT SIZE=2><B>(</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>గ్రే
మిల్ట్యు</B></FONT></SPAN></FONT><FONT SIZE=2><B>)
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆకుల
మీద కోణాకారపు తెల్లటి మచ్చలు
ఏర్పడి</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>బూజు
తెగులు శిలీంధ్ర బీజాలు ఆకుల
అడుగుభాగాన ఏర్పడుతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఉదృతిని
బట్టి ఆకు పైభాగాన కూడా
వ్యాపించి ఆకులు పసుపు రంగులోకి
మారి పండు బారి రాలిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నివారణకు
లీటరు నీటిలో కరిగే గంధకం </FONT></SPAN></FONT><FONT SIZE=2>3
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా </FONT></SPAN></FONT><FONT SIZE=2>1
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కార్బండిజం
కలిపి పిచికారి చేయాలి లేదా
పొడి గంధకం ఎకరాకు </FONT></SPAN></FONT><FONT SIZE=2>8-10
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కిలోలు
పవరు డస్టరునువుపయోగించి
చల్లాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>త్రుప్పు
తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>: </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>త్రుప్పు
తెగులు ఎక్కువగా కాయ పక్వ
దశలో ఆశిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ముదురు
ఆకుల భాగాన త్రుప్పు మచ్చలు
ఏర్పడి క్రమంగా లేత ఆకులకు
వ్యాపిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తెగులు
ఉదృతి పెరిగే కొద్దీ ఆకుల
పైభాగాన ఈ త్రుప్పు మచ్చలు
గుంటలు ఏర్పడినట్లుగా
కనిపిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నవంబరు
– ఫిబ్రవరి మాసాల్లో ఈ తెగులు
ఎక్కువగా కన్పిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అధిక తేమ
వుండి వర్షాలు పడుతున్నప్పుడు
ఈ తెగులు ఎక్కువగా వ్యాప్తి
చెందుతుంది</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ
తెగులు నివారణకు </FONT></SPAN></FONT><FONT SIZE=2>3
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సల్పెక్సు
లేక </FONT></SPAN></FONT><FONT SIZE=2>1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ట్రైడిమార్ఫ్
లేక </FONT></SPAN></FONT><FONT SIZE=2>1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రొపికోనజోల్
లీటరు నీటికి కలిపి </FONT></SPAN></FONT><FONT SIZE=2>10-15
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధితో </FONT></SPAN></FONT><FONT SIZE=2>3-4 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సార్లు
పిచికారి చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>కాయకుళ్ళు
తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>: </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రత్తి
పంట కాయదశలో ఉన్నప్పుడు
వర్షాలు ఎక్కువగా పడితే అనేక
రకాలైన శిలీంధ్రాలు ఆశించి
కాయలు కుళ్ళి పోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ శిలీంధ్రాలు
ఎక్కువగా కాయతొలుచు పురుగుల
వల్ల ఏర్పడి రంధ్రాల ద్వారా
కాయలోనికి ప్రవేశిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నివారణకు
సాధారణంగా వాడే పురుగు మందులతో
పాటు శిలీంద్ర నాశినులైన
స్ట్రెప్టోసైక్లిన్ మరియు
కాపర్ ఆక్సీ క్లోరైడ్ పైన
చెప్పిన మోతాదులో కలిపి </FONT></SPAN></FONT><FONT SIZE=2>10
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వ్యవధితో పిచికారీ చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శిలీంద్రం
వలన కలిగే కాయ కుళ్ళుకు </FONT></SPAN></FONT><FONT SIZE=2>1
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కర్బండిజం
లీటరు నీటిలో కలిపి పిచికారీ
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>టొబాకో
స్ట్రీక్ వైరస తెగులు</B></FONT></SPAN></FONT><FONT SIZE=2><B>:
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ వైరస్
తెగలు తామర పురుగుల ద్వారా
ప్రత్తిని ఆశిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వైరస్
సోకిన మొక్కల్లో కొమ్మల చివరి
ఆకులు కొద్దిగా పసుపు వర్ణానికి
మారి చిన్నవిగా ఉంటాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కొంత
భాగం  మాడిపోతాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>క్రొత్త
చిగురు</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూత
ఏర్పడదు</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వయ్యారిభామ</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గడ్డి
చేమంతి</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఉత్తరేణి
మొదలగు కలుపు మొక్కల ద్వారా
ఈ వైరస్ వ్యాపిస్తుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కావున
ఈ మొక్కలను నాశనం చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తామర
పురుగుల నివారణకు అవసరాన్ని
బట్టి లీటరు నీటికి ఎసిఫేట్
</FONT></SPAN></FONT><FONT SIZE=2>1.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేక
మోనోక్రోటోఫాస్ </FONT></SPAN></FONT><FONT SIZE=2>1.6
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేక
ధయోమిథాక్సాం </FONT></SPAN></FONT><FONT SIZE=2>0.2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేక
ఇమిడాక్లోప్రిడ్ </FONT></SPAN></FONT><FONT SIZE=2>0.3
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేక
ఎసిటామిప్రిడ్ </FONT></SPAN></FONT><FONT SIZE=2>0.2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>చొప్పున
వారం రోజుల వ్యవధిలో రెండుసార్లు
మందులను మార్చి పిచికారి
చేయలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>బిటి ప్రత్తిలో
పాటించవలసిన పురుగు మందుల
నిరోధక శక్తి యాజమాన్య పద్ధతులు</FONT></SPAN></FONT><FONT SIZE=2>:</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పంట
తొలిదశ </FONT></SPAN></FONT><FONT SIZE=2>1-60  </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
పంట దశ </FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రసం
పీల్చు పురుగులు ఆశించు దశ</FONT></SPAN></FONT><FONT SIZE=2>):</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>బిటి
ప్రత్తి పంటను తొలిదశలో ఆశించే
రసం పీల్చు పురుగులైనటువంటి
పచ్చదోమ</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పేనుబంక
మరియు తామరపురుగులను ఈ క్రింది
పద్ధతుల ద్వారా సమర్థవంతంగా
నివారించవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<UL>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రసం
పీల్చు పురుగులను తట్టుకోగల
బిటి వంగడాలను మాత్రమే ఎంచుకొని
సాగు చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>విత్తనశుద్ధి
పాటించుట వలన దాదాపు </FONT></SPAN></FONT><FONT SIZE=2>30
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వరకు రసం పీల్చు పురుగులను
అరికట్టవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.
70 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>డబ్ల్యుయస్
లేక థయామిథాక్సాం </FONT></SPAN></FONT><FONT SIZE=2>70
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>డబ్ల్యుయస్
మందులను ఒక కిలో విత్తనానికి
</FONT></SPAN></FONT><FONT SIZE=2>4 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నుండి
</FONT></SPAN></FONT><FONT SIZE=2>5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వరకు
విత్తన శుద్ధి చేసికోనవలెను</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అవసరమైన
మోతాదులో మాత్రమే సిఫారసు
చేసిన మేరకు రసాయన ఎరువులను
ఉపయోగించవలెను</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ముఖ్యంగా
నత్రజని ఎరువులు సేంద్రియ
ఎరువులను విధిగా వుపయోగించినచో
నెల సత్తువ పెరుగుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రత్తిలో
అంతర పంటలుగా అలసంద</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>సోయాచిక్కుడు</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పెసర
మరియు కొర్ర వంటి పంటలను
సాగుచేయటం ద్వారా మిత్ర
పరుగులు బాగా వృద్ధి చెంది
కొంత వరకు రసంపీల్చు పురుగులను
నియంత్రణకు దోహదపడతాయి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తొలి
దశలో ఆశించే రసం పీల్చే
పురుగులను అదుపు చేయడానికి
కాండం మీద పూత పద్థతిని
పాటించాలి</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మూడు
పర్యాయాలు </FONT></SPAN></FONT><FONT SIZE=2>30, 45
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజులలో
మొనోక్రోటోఫాస్ </FONT></SPAN></FONT><FONT SIZE=2>1:4
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నిష్పత్తిలో
వాడాలి </FONT></SPAN></FONT><FONT SIZE=2>(1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పాళ్ళు
మందు</FONT></SPAN></FONT><FONT SIZE=2>, 4 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పాళ్ళు
నీరు</FONT></SPAN></FONT><FONT SIZE=2>) </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మరియు
</FONT></SPAN></FONT><FONT SIZE=2>60 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వయస్సులో ఇమిడాక్లోప్రిడ్
</FONT></SPAN></FONT><FONT SIZE=2>1:20 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నిష్పత్తిలో
వాడాలి </FONT></SPAN></FONT><FONT SIZE=2>(1 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పాళ్ళు
మందు</FONT></SPAN></FONT><FONT SIZE=2>, 20 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పాళ్ళు
నీరు</FONT></SPAN></FONT><FONT SIZE=2>) </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాండం
పూత పద్ధతి ద్వారా పచ్చదోమ</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పేనుబంక</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిండినల్లి
పురుగులను ఎటువంటి పరుగు
మందుల పిచికారీ లేకుండా </FONT></SPAN></FONT><FONT SIZE=2>70-80
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
వరకు అదుపు చేసుకోవచ్చును</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పరుగు
మందులను పిచికారీ చేయకపోవటం
వలన తొలిదశలో మిత్ర పురుగుల
సంతతి పెరిగి చీడపీడలను అదుపు
చేయడంలో సహకరిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రసంపీల్చు
పరుగుల నివారణకు </FONT></SPAN></FONT><FONT SIZE=2>5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
వేపగింజల కషాయం వాడాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT SIZE=2><B>60
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>నుండి
</B></FONT></SPAN></FONT><FONT SIZE=2><B>90 </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>రోజుల
పంట దశ</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT SIZE=2>	</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్రత్తి
పంటలో సాధారణంగా పూత ఏర్పడిన
దగ్గర నుండి కాయతొలుచు పరుగులు
ఆశించటం మొదలవుతుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కాయతొలుచు
పురుగులలో ముఖ్యమైనవి తలనత్త</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శనగపచ్చ
పరుగు మరియు పోగాకులద్దె
పురుగు</FONT></SPAN></FONT><FONT SIZE=2>. </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఇవి
పంట యొక్క వివిధ దశలలో ఆశించి
దిగుబడులకు తీవ్ర నష్టం
కలిగిస్తాయి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ క్రింది
యాజమాన్య పద్ధతులు పాటించడం
ద్వారా కాయ తొలుచు పరుగు బారి
నుండి పంటను సమర్థవంతంగా
కాపాడవచ్చును</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>నష్టపరిమితి
స్థాయి</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT><FONT SIZE=2>
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎకరంలో
</FONT></SPAN></FONT><FONT SIZE=2>50 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
మొక్కలలో కనీసం ఒకొక్క మొక్కను
ఒక గూడ కంటే ఎక్కువ నష్టపోయినచో
</FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పురుగు
చేసిన రంధ్రముతో</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>విచ్చుకున్న
గూడులు</FONT></SPAN></FONT><FONT SIZE=2>) 5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
వేప గింజల కశాయమును పిచికారి
చేయుట ద్వారా శనగ పచ్చ పురుగు
గ్రుడ్లను</FONT></SPAN></FONT><FONT SIZE=2>, </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మొదటి
దశ గొంగళి పురుగులను సమర్థవంతంగా
నివారించవచ్చును</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<UL>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వృక్ష
సంబంధిత మందులైన వేపగుంజల
కషాయం </FONT></SPAN></FONT><FONT SIZE=2>5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
లేక </FONT></SPAN></FONT><FONT SIZE=2>0.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
వేప నూనె లేక </FONT></SPAN></FONT><FONT SIZE=2>0.2
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నుండి
</FONT></SPAN></FONT><FONT SIZE=2>0.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>శాతం
వేప నూనె సంబంధిత మందులను
పిచికారి చేయవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పొగకులద్దె
పరుగు నివారణకు లీటరు నీటికి
</FONT></SPAN></FONT><FONT SIZE=2>1.0 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>నొవాల్యురాన్
లేదా </FONT></SPAN></FONT><FONT SIZE=2>1.0 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లూఫెన్యూరాన్
లేదా ఇమామెక్టీన్ బెంజోయోట్
ను </FONT></SPAN></FONT><FONT SIZE=2>0.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిచికారి
చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT SIZE=2><B>90
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>నుండి
</B></FONT></SPAN></FONT><FONT SIZE=2><B>120 </B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>రోజుల
పంట దశ </B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ
దశలో సాధారణంగా శనగపచ్చ పరుగు
ఉధృతి ఎక్కువగా ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.
90 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రోజుల
నుండి బిటి ప్రత్తిలో గూడ</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పూత మరియు
పిందెలలో ఉండే బిటి ప్రోటీను
స్థాయి క్రమేపి తగ్గుతూ వుండటం
వలన శనగపచ్చ పరుగు నియంత్రణ
కూడా క్రమేపి తగ్గుతూ ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>కావున
ఈ దశలో ఏమైనా గొంగళి పురుగుల
నష్టపరిమితి స్థాయి గమంచినచో
ఒకటి లేదా రెండు పర్యాయాలు
క్రిమిసంహారక మందులు ఉపయోగించడం
ద్వారా పరుగును అదుపు చేయవచ్చును</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<UL>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఆనవాయితీగా
ఉపయోగించే థయోడికార్స్ </FONT></SPAN></FONT><FONT SIZE=2>1.5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
క్వినాల్ ఫాస్ </FONT></SPAN></FONT><FONT SIZE=2>2.0
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
క్లోరిఫైరిఫాస్ </FONT></SPAN></FONT><FONT SIZE=2>2.5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ను మొదటి
పిచికరిగా ఉపయోగించాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT>
</P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అవసరమైతే
రెండవసారి పిచికారిగా</FONT></SPAN></FONT><FONT SIZE=2>,
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>స్పైనోసాడ్
</FONT></SPAN></FONT><FONT SIZE=2>0.3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
ఇండాక్స్ కార్బ్ </FONT></SPAN></FONT><FONT SIZE=2>1.0
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
ఇమామేక్టిన్ బెంజోయేట్ </FONT></SPAN></FONT><FONT SIZE=2>0.5
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
ఫ్లూబెండామైడ్ </FONT></SPAN></FONT><FONT SIZE=2>0.3
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లేదా
క్లొరాన్ ట్రినిలిఫ్రోల్
</FONT></SPAN></FONT><FONT SIZE=2>0.3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>చొప్పున
ఒక లీటరు నీటికి కలిపి ఏదో
ఒక మందును మార్చి మార్చి
పిచికారి చేసుకొనవచ్చును</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>తెల్ల
దోమ కొరకు చేసిన పరుగు మందులను
</FONT></SPAN></FONT><FONT SIZE=2>3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>వేపనూనె
కలిపి పిచికారి చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>రసం
పీల్చు పురుగుల నివారణకు
</FONT></SPAN></FONT><FONT SIZE=2>1.5 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఎసిఫేట్
లేదా </FONT></SPAN></FONT><FONT SIZE=2>2.0 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>మి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>లీ</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఫిప్రోనిల్
ను లేదా </FONT></SPAN></FONT><FONT SIZE=2>0.3 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ప్లోనికామిడ్
లేదా </FONT></SPAN></FONT><FONT SIZE=2>1.25 </FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గ్రా</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>డైఫెనిధియురాన్
లీటరు నీటికి కలిపి వాడాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT SIZE=2><B>120
</B></FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2><B>రోజుల
తరువాత దశ</B></FONT></SPAN></FONT><FONT SIZE=2><B>:</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>ఈ
దశలో సాధారణంగా గులాబిరంగు
పురుగు మరియు పిండినల్లి
ఉధృతి ఎక్కువగా ఉంటుంది</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<UL>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గులాబిరంగు
పురుగు నష్టపరిమితి స్థాయి
గమనించి </FONT></SPAN></FONT><FONT SIZE=2>(</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>గులాబిరంగు
పురుగు నష్టపరిమితి స్థాయి
తెలుసుకొనుటకు ప్రత్తి పంటలో
అక్కడక్కడా కొన్ని కాయలను
కోసి తెరచి చూడాలి</FONT></SPAN></FONT><FONT SIZE=2>.
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పది
కాయలకు ఒక లార్వా గమనించినచో
దానిని నష్ట పరిమితి స్థాయి
అధిగమించినట్లుగా గుర్తించాలి</FONT></SPAN></FONT><FONT SIZE=2>).
</FONT><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>అవసరం
మేరకు పంట చివర దశలో ఒకటి లేక
రెండు పర్యాయాలు సింథటిక్
పైరిత్రాయిడ్ మందులను పిచికారీ
చేయుట ద్వారా గులాబి రంగు
పరుగును నివారించవచ్చు</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పెద్ద
గొంగళిపురుగును గమనించినచో
ఏరి నాశనం చేయాలి</FONT></SPAN></FONT><FONT SIZE=2>.</FONT></P>
<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE=""><SPAN LANG="te-IN"><FONT SIZE=2>పిండినల్లి
నివారణకు ఎసిఫేట్ లేదా
ప్రోఫినోఫాస్ మందులను
ఉపయోగించాలి</FONT></SPAN></FONT><FONT SIZE=2>.
  </FONT>
</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">

</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">

</P>  		</div>
  	</ion-content>
</ion-view>
