<ion-view class="addressbookView">
  <ion-content>
  		<div>
  			<div class="cropwrapper">
  				<div class="crop">
              <img class="cropicon" src="img/cotton.jpg" />
              <div>పత్తి
</div>     
          </div>
  				<div class="crop">
              <img class="cropicon" src="img/groundnut.jpg" /> 
              <div>వేరుశనగ</div>    
          </div>
  			</div>
  			<div class="cropwrapper">
  				<div class="crop">
            <img class="cropicon" src="img/toordal.jpg" />     
            <div>dal</div> 
          </div>				
  			</div>
  		</div>	
  </ion-content>
</ion-view>