<ion-view class="addressbookView">
  <ion-content>
  		<div>
  			<div class="cropwrapper">
          <a href='#/app/cotton'>
    				<div  class="crop">
                <img class="cropicon" src="img/cotton.jpg" />
                <div>పత్తి</div>
            </div>
          </a>
          <a href='#/app/groundnut'>
    				<div  class="crop">
                <img class="cropicon" src="img/groundnut.jpg" />
                <div>వేరుశనగ</div>
            </div>
          </a>
  			</div>
  			<div  class="cropwrapper">
          <a href='#/app/toordal'>
    				<div class="crop">
              <img class="cropicon" src="img/toordal.jpg" />
              <div>కంది</div>
            </div>
          </a>
  			</div>
        <div  class="cropwrapper">
          <a href='#/app/paddy'>
    				<div class="crop">
              <img class="cropicon" src="img/paddy.jpeg" />
              <div>వరి</div>
            </div>
          </a>
  			</div>
  		</div>
  </ion-content>
</ion-view>
