<ion-view class="founderView">
   <ion-content>
   		<div class="contentWrapper">
	      <div class="content-heading">
	        రూపొందించిన వారు 
	      </div>
 		</div>
 		<div class="pretext founderDetails">
 			<table>
 				<tbody>
 					<tr>	
 						<td>శ్రీమతి యస్. రామలక్ష్మిదేవి </td>
 						<td>-</td>
 						<td>శాస్త్రవేత్త (విస్తరణ)</td>
 					</tr>
 					<tr>	
 						<td>డా. ఏ.వీరయ్య</td>
 						<td>-</td>
 						<td>సమన్వయకర్త</td>
 					</tr>
 					<tr>	
 						<td>కుమారి జి.రంజిత</td>
 						<td>-</td>
 						<td>శాస్త్రవేత్త (సస్యరక్షణ)</td>
 					</tr>
 					<tr>	
 						<td>శ్రీ పి. వినోద్ కుమార్ </td>
 						<td>-</td>
 						<td>శాస్త్రవేత్త (ఉద్యాన)</td>
 					</tr>
 					<tr>	
 						<td>శ్రీమతి టి. స్వర్ణలతదేవి</td>
 						<td>-</td>
 						<td>శాస్త్రవేత్త (గృహవిజ్ఞానం)</td>
 					</tr>
 					<tr>	
 						<td>శ్రీ యస్. సురేష్</td>
 						<td>-</td>
 						<td>శాస్త్రవేత్త (పసువిజ్ఞానం)</td>
 					</tr>
	        	</tbody>
	        </table>
    	</div>
    </ion-content>
</ion-view>