<ion-view class="founderView">
   <ion-content>
   		<div class="contentWrapper">
	      <div class="content-heading">
	        రూపొందించిన వారు 
	      </div>
 		</div>
 		<div class="pretext founderDetails">
 			<table id="founder-details" style=" table-layout: fixed;">
 				<tbody>
 				   
 					<tr>
 						<td><img style="height:50px;width:50px;vertical-align:middle" src="img/staff/Ramalakshmi.jpg" /></td>	
 						<td>శ్రీమతి యస్. రామలక్ష్మిదేవి </td> 						
 						<td>శాస్త్రవేత్త (విస్తరణ)</td>
 						<td>కృషి విజ్ఞాన్ కేంద్రం,కడప.</td>
 					</tr>
 					<tr>
 						<td><img style="height:50px;width:50px;vertical-align:middle" src="img/staff/Veeraiah.jpg" /></td>	
 						<td>డా. ఏ.వీరయ్య</td>
 						
 						<td>సమన్వయకర్త</td>
 						
 						<td>కృషి విజ్ఞాన్ కేంద్రం,కడప.</td>
 					</tr>
 					<tr>
 						<td><img style="height:50px;width:50px;vertical-align:middle" src="img/staff/Rajareddy.jpg" /></td>	
 						<td>డా. కె. రాజారెడ్డి</td>
 						
 						<td>విస్తరణ సంచాలకులు</td>
 						
 						<td>ఆచార్య యన్.జి.రంగా విశ్వవిద్యాలయం.గుంటూరు.</td>
 					</tr>

	        	</tbody>
	        </table>
    	</div>
    </ion-content>
</ion-view>