<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
      <div class="content-heading">
          కృతజ్ఞతలు
      </div>
      <div class="gratitude">
        <p><b>&ldquo;కేవికే ఆత్మా కడప అగ్రి యాప్&rdquo; </b>రూపకల్పనకు సహకరించిన కడప జిల్లా కలెక్టరు శ్రీ కె. వి. సత్యనారాయణ గారికి,
           ప్రాజెక్ట్ డైరెక్టర్, అగ్రికల్చర్ టెక్నాలజీ మానేజ్ మెంట్ ఏజెన్సీ (ఆత్మా), ఉటుకూరు, కడప వారికి మా కృతజ్ఞతలు.</p>
        <p>ఈ యాప్ కు సంబందించిన సాఫ్ట్ వేర్ ను రూపొందించన ఉషా ఇన్ఫో సోలుషన్స్, కడప వారికి మా కృతజ్ఞతలు.</p>
        <p><b>రూపొందించిన వారు :</b></p>
        <p>శ్రీమతి యస్. రామలక్ష్మిదేవి - శాస్త్రవేత్త (విస్తరణ)</p>
        <p>డా. ఏ.వీరయ్య - సమన్వయకర్త</p>
        <p>కుమారి జి.రంజిత - శాస్త్రవేత్త (సస్యరక్షణ)</p>
        <p>శ్రీ పి. వినోద్ కుమార్ - శాస్త్రవేత్త (ఉద్యాన)</p>
        <p>శ్రీమతి టి. స్వర్ణలతదేవి - శాస్త్రవేత్త (గృహవిజ్ఞానం)</p>
        <p>శ్రీ యస్. సురేష్ - శాస్త్రవేత్త (పసువిజ్ఞానం)</p>
      </div>
    </div>
  </ion-content>
</ion-view>
