<ion-view class="homeView">
  <ion-content class="cards-container">
    <div class="row">
      <div class="card col">
        <a href='#/app/crops'>
          <div class="item item-image">
            <img src="../img/crops-collage.jpg">
          </div>
          <label class="title">పంటలు</label>
        </a>
      </div>
      <div class="card col">
        <a href='#/app/calc'>
          <div class="item item-image">
            <img src="../img/calculator.jpg">
          </div>
          <label class="title">గణితం</label>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="card col">
        <a href='#/app/callcenter'>
          <div class="item item-image">
            <img src="../img/call-center.jpg">
          </div>
          <label class="title">కాల్ సెంటర్</label>
        </a>
      </div>
      <div class="card col">
        <a href='#/app/videos'>
          <div class="item item-image">
            <img src="../img/videos.png">
          </div>
          <label class="title">వీడియోలు</label>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="card col">
        <a href='#/app/addressbook'>
          <div class="item item-image">
            <img src="../img/address-book.jpg">
          </div>
          <label class="title">చిరునామా పుస్తకం</label>
        </a>
      </div>
      <div class="col">
      </div>
    </div>
  </ion-content>
</ion-view>
