<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-clear">
          వెనక్కి
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <div class="appTitle">కెవికె ఆత్మా కడప అగ్రి యాప్</div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">మెనూ</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="ion-android-home"></i>
          హోం స్క్రీన్
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/pretext">
          <i class="ion-document-text"></i>
          ముందు మాట
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/about">
          <i class="ion-social-buffer-outline"></i>
          యాప్ గురించి
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/founder">
          <i class="ion-lightbulb"></i>
          రూపొందించిన వారు
        </ion-item>
      </ion-list>
      <ion-list>
       <ion-item menu-close href="#/app/gratitude">
         <i class="ion-ribbon-b"></i>
        కృతజ్ఞతలు
       </ion-item>
     </ion-list>
      <ion-list>
        <!--<ion-item menu-close  onclick="window.plugins.socialsharing.share('https://play.google.com/store/apps/details?id=com.socialenterpreneurship.agri')" >
          <i class="ion-android-share"></i>
          పంచండి
        </ion-item>
        -->
        <ion-item menu-close  onclick="window.plugins.socialsharing.share('https://play.google.com/store/apps/details?id=com.ushainfosolutions.agri')" >
          <i class="ion-android-share"></i>
          పంచండి
        </ion-item>
       
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/address">
          <i class="ion-location"></i>
           చిరునామా
        </ion-item>
      </ion-list>
      <!--<ion-list>
       <ion-item menu-close href="#/app/address">
         <i class="ion-location"></i>
          వైదొలగండి
       </ion-item>
     </ion-list>
     -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
