<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-clear">
          వెనక్కి
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <i class="icon ion-ionic padding-top appIcon"></i>
        <div class="appTitle">కృషి సైన్స్</div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">మెనూ</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="ion-android-home"></i>
          హోం స్క్రీన్
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/pretext">
          <i class="ion-document-text"></i>
          ముందు 
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/about">
          <i class="ion-social-buffer-outline"></i>
          గురించి
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/founder">
          <i class="ion-lightbulb"></i>
          సృష్టికర్త
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/gratitude">
          <i class="ion-ribbon-b"></i>
         అభినందనలు
        </ion-item>
      </ion-list>
      <!-- we will confirm if at all rating needs to be implemented-->
       <!--<ion-list>
        <ion-item menu-close href="#/app/rating">
          <i class="ion-android-star"></i>
          రేటింగ్
        </ion-item>
        -->
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/share">
          <i class="ion-android-share"></i>
          పంపిణీ
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/feedback">
          <i class="ion-email"></i>
          సలహా
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item menu-close href="#/app/address">
          <i class="ion-location"></i>         
           చిరునామా
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
