<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
      <div class="content-heading">
          ముందు మాట
      </div>
      <div class="pretext">
        <p>
          వ్యవసాయంలో సాంకేతిక పరిజ్ఞానాన్ని రైతుకు చేరువ చేయాలనే సంకల్పంతో అగ్రికల్చరల్ టెక్నాలజీ మేనేజ్ మెంట్ ఏజెన్సీ (ఆత్మా)
          వారి సహకారంతో కృషి విజ్ఞాన కేంద్రం, ఊటుకూరు, కడప వారిచే “కేవికే ఆత్మా కడప అగ్రి యాప్” రూపొందించబడింది.
          ప్రస్తుత కాలంలో మొబైల్ వాడకం విరివిగా పెరిగినది. రైతులకు వ్యవసాయ సమాచారాన్ని మరియు సాంకేతిక పరిజ్ఞానాన్ని
          “కేవికే ఆత్మా కడప అగ్రి యాప్” మరింత అందుబాటులోనికి తీసుకొచ్చింది. ఈ మొబైల్ యాప్ రైతులకు ఎంతగానో ఉపయోగపడుతుందని
          ఆశిస్తున్నాము.
        </p>

      </div>
    </div>
  </ion-content>
</ion-view>
