<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
      <div class="content-heading">
         వారంలో చేతికొచ్చే పచ్చిమేత!
      </div>
      <div class="content">
        <ul>
            <li>
              షేడ్‌నెట్ కింద ట్రేలలో మొలక గడ్డి పెంపకం సులువు..  తక్కువ స్థలంలోనే పశుగ్రాసం సాగు
            </li>

            <li>
              షేడ్‌నెట్ కింద ట్రేలలో మొలక గడ్డి పెంపకం సులువు..  తక్కువ స్థలంలోనే పశుగ్రాసం సాగు           
            </li>

            <li>
              షేడ్‌నెట్ కింద ట్రేలలో మొలక గడ్డి పెంపకం సులువు..  తక్కువ స్థలంలోనే పశుగ్రాసం సాగు
            </li>

            <li>
              షేడ్‌నెట్ కింద ట్రేలలో మొలక గడ్డి పెంపకం సులువు..  తక్కువ స్థలంలోనే పశుగ్రాసం సాగు
              
            </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>