<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
             వేరుశనగ
      <a href='#/app/groundnut2'>
        <div class="section-heading">
            విత్తేసమయం, నేలలు, నేల తయారి
        </div>
      </a>
       <a href='#/app/groundnut3'>
        <div class="section-heading">
          విత్తన మోతాదు
        </div>
      </a>

      <a href='#/app/groundnut4'>
        <div class="section-heading">
          విత్తన శుద్ధి
        </div>
      </a>

      <a href='#/app/groundnut5'>
        <div class="section-heading">
            నిద్రావస్తను తొలగించడం
        </div>
      </a>
      <a href='#/app/groundnut6'>
        <div class="section-heading">
           విత్తేదూరం ,విత్తటం
        </div>
      </a>

      <a href='#/app/groundnut7'>
        <div class="section-heading">
            రకాలు
        </div>
      </a>

      <a href='#/app/groundnut8'>
        <div class="section-heading">
            ఎరువులు
        </div>
      </a>
      <a href='#/app/groundnut9'>
        <div class="section-heading">
            సూక్ష్మ పోషక పదార్థ లోపాలు – సవరణ
        </div>
      </a>
      <a href='#/app/groundnut10'>
        <div class="section-heading">
            కలుపు నివారణ, అంతర కృషి
        </div>
      </a>
       <a href='#/app/groundnut11'>
        <div class="section-heading">
           నీటి యాజమాన్యం, పంటల సరళి
        </div>
      </a>
     
      <a href='#/app/groundnut12'>
        <div class="section-heading">
            పురుగులు
        </div>
      </a>
     
      <a href='#/app/groundnut13'>
        <div class="section-heading">
            తెగుళ్ళు
        </div>
      </a>
 
    </div>
  </ion-content>
</ion-view>