<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	నీటి యాజమాన్యం,పంటల సరళి
	    </div>
	    <div class="roundedrect">
	    	నీటి యాజమాన్యం
	    </div>
		<div class="sub-section">
			<p>బెట్ట పరిస్థితుల్లో పొడి సున్నం లీటరు నీటికి 50 గ్రాముల చొప్పున కలిపి పైరుపై పిచికారీ చేసి మొక్కల ద్వారా ఆవిరైపోయే నీటి నష్టాన్ని తగ్గించవచ్చు. బెట్టనుండి పైరు త్వరగా కోలుకోవడానికి లీటరు నీటికి 20 గ్రాముల యూరియాని కలిపి పిచికారీ చేయాలి.
			</p>
			<p>
				లేలిక నేలల్లో 8-9 తడులు పెడితే సరిపోతుంది. విత్తేముందు నెల బాగా తడిసేటట్లు నీరు పెట్టి తగినంత చెమ్మ ఉన్నప్పుడు విత్తనం వేయాలి. రెండవ తడిని విత్తిన 20 – 25 రోజులకు (మొదటి పూతదశలో) ఇవ్వాలి. తర్వాత నెల లక్షణం, బంకమట్టి శాతాన్ని అనుసరించి 7-10 రోజుల వ్యవధితో పెట్టాలి. ఆఖరి తడి, పంటకోతకు 15 రోజుల ముందు ఇవ్వాలి. ఊడలు దిగే దశనుండి కాయలు ఊరే దశవరకు (విత్తిన 45 – 50 రోజుల నుండి 85 – 90 రోజుల వరకు) సున్నితమైనది, కనుక ఈ దశలో నీరు సక్రమంగా తగు మోతాదులో కట్టుకోవాలి. నీటిని తుంపర్లు (స్ప్రింకర్లు) ద్వారా ఇచ్చినట్లయితే 25 శాతం సాగు నీటి ఆదాతోపాటు దిగుబడి పెరుగుతుంది. డ్రిప్ పద్దతిలో సాగు చేయునప్పుడు 90 X 90 సెం.మీ. దూరంలో డ్రిప్పర్లు ఏర్పాటు చేసుకొని, కాయ ఏర్పడే దశ వరకు ప్రతి 3 రోజులకు ఒకసారి 10 మి.మీ. నీరు ఇవ్వాలి. ఆ తరువాత ప్రతి రెండు రోజులకు ఒక తడి 10 మి.మీ. చొప్పున ఇవ్వాలి.
			</p>
		</div>
	    <div class="roundedrect">
	    	
	    	పంటల సరళి
	    </div>
	    <div class="sub-section">
	    	కంది, ఆముదం, సజ్జ మరియు జొన్న పంటలను వేరుశనగతో పంటమార్పిడి చేయవచ్చు. వర్షాధార వేరుశనగ పంటలో ప్రతి 7 వేరుశనగ సాళ్ళకు ఒక కంది లేక ఒక ఆముదం సాలు వేసినచో నికరాదాయం అధికంగా ఉంటుంది. ప్రత్తి ఆరుసాళ్ళు వేరుశనగకు రెండు సాళ్ళు సజ్జను కూడ వేసుకోవచ్చు. సజ్జ, జొన్న అంతర పంటగా వేసుకోవడం వలన వేరుశనగలో తామర పురుగుల ఉధృతి తగ్గి వైరుస్ వ్యాప్తి కొంతవరకు తగ్గును. వేరుశనగను వరితో పంట మార్పిడి చేయడం వలన వేరుశనగకు నులిపురుగుల బెడద తగ్గించుకోవచ్చు.
	    </div>
		
    </div>
  </ion-content>
</ion-view>