<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	వేరుపురుగు
	    </div>
	    <div class="img-wrapper">
            <img src="img/groundnut/insects/12.1.jpg"></img>
        </div>
		<div class="sub-section">
			<p>తేలికపాటి నేలల్లో ఎక్కువగా ఆశిస్తుంది. వేరుపురుగు ఆశించిన మొక్కలు ఎండిపోయి చనిపోతాయి. మొక్కలను పీకితే సులువుగా ఊడి వస్తాయి. సాళ్ళ వరుసలలో మొక్కలు గుంపులు గుంపులుగా చనిపోతాయి.
			</p>
			<p>
			నివారణ: లోతు దుక్కి చేయాలి. ఫోరేటు 10% గుళికలు ఎకరానికి 6 కిలోలు, గింజలు విత్తేటప్పుడు వేయాలి. ఒక కిలో విత్తనానికి 2 మి.లీ. ఇమిడాక్లోప్రిడ్ లేదా 6.0 మి.లీ. క్లోర్ పైరిఫాస్ మందును కలిపి విత్తుకోవాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>