<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	రసం పీల్చే పురుగులు
	    </div>
	      <div class="img-wrapper">
            <img src="img/groundnut/insects/12.2.jpg"></img>
        </div>
	    <div class="roundedrect">
			 తామర పురుగులు
	     </div>
		<div class="sub-section">
			వేరుశనగ మొలకెత్తిన 9 వ రోజు నుంచి పిల్ల, పెద్ద పురుగులు ఆకులపై పచ్చదనాన్ని గోకి రసాన్ని పీలుస్తాయి. ఉధృతి ఎక్కువ ఉన్నట్లయితే ఆకులు ముడుచుకొని, మొక్కలు గిడసబారి పోతాయి. వేరుశనగలో “మొవ్వ కుళ్ళు మరియు కాదము కుళ్ళు” వైరుస్ తెగుళ్ళను వయ్యారిభామ వంటి కలుపు మొక్కల ద్వారా సంక్రమింపజేస్తాయి.
		</div>
    </div>
  </ion-content>
</ion-view>