<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	రసం పీల్చే పురుగులు 
	    </div>
	      <div class="img-wrapper">
            <img src="img/groundnut/insects/12.3.jpg"></img>
        </div>
		<div class="roundedrect">
			పేనుబంక (నల్లజీడ) 
	     </div>
		<div class="sub-section">
			తల్లి మరియు పిల్ల పురుగులు మొక్కల కొమ్మల చివర్లపైన, లేత ఆకుల అడుగు భాగాన మరియు కొన్ని సందర్భాలలో పూతపై గుంపులుగా ఏర్పడి రసాన్ని పీల్చడం వలన గిడసబారుతాయి. పూతదశలో ఆశించినపుడు పూత రాలిపోతుంది. ఈ పురుగులు తేనె వంటి జిగురు పదార్థం స్రవించడం వల్ల మొక్కలపై నల్లని బూజు ఏర్పడుతుంది.
		</div>

    </div>
  </ion-content>
</ion-view>