<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	రసం పీల్చే పురుగులు
	    </div>
	  <div class="img-wrapper">
            <img src="img/groundnut/insects/12.4.jpg"></img>
        </div>
		<div class="roundedrect">
			ఆకుపచ్చదోమ (దీపపు పురుగు)
	     </div>
		<div class="sub-section">
			<p>
				పిల్ల మరియు తల్లి పురుగులు ఆకుల అడుగు భాగాన చేరి రసాన్ని పీల్చివేస్తాయి. మొదట ఆకు పైభాగాన మొదటగా “V” ఆకారంలో పసుపు పచ్చని మచ్చలు ఏర్పడి, క్రమేపి ఆకులన్నీ పసుపు పచ్చగా మారుతాయి.
			</p>
			<p>
				తామర పురుగుల నివారణకు ఎకరానికి మొనోక్రోటోఫాస్ 320 మి.లీ. + వేపనూనె 1 లీ. + ఒక కిలో సబ్బు పొడిని 200 లీటర్ల నీళ్ళకు కలిపి విత్తిన 10 నుండి 15 రోజుల వ్యవధిలో 2 సార్లు పిచికారీ చేయాలి. పేనుబంక, పచ్చదోమ నివారణకు దైమిథోయేట్ 400 మి.లీ. లేక మిథైల్ –ఒ-డేమటాన్ 400 మి.లీ. లేక థయోమిధాక్సం 40 గ్రా. లేక ఇమిదాక్లోప్రిడ్ 60 మి.లీ. లేక థయోక్లోప్రిడ్ 50 మి.లీ. మందును 200 లీటర్ల నీటికి కలిపి ఎకరానికి పిచికారీ చేయాలి. ఇమిదాక్లోప్రిడ్ తో విత్తన శుద్ధి చేయుట వలన మొక్కలు రసం పీల్చే పరుగుల నుండి 20-25 రోజుల వరకు రక్షణ కల్పించవచ్చును.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>