<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	ఆకుముడత
	    </div>
	      <div class="img-wrapper">
            <img src="img/groundnut/insects/12.5.jpg"></img>
        </div>
		<div class="sub-section">
			తొలిదశలో ఆకులపై గోధుమ రంగు మచ్చలు వుంటాయి. వాటిలోపల ఆకుపచ్చ రంగులో నల్లని తల కలిగిన పిల్లపురుగులు దాగి వుంటాయి. ఇవి 2,3 ఆకులను కలిపి గూడు చేసి వాటిలో వుండి, పచ్చదనాన్ని తినివేయడం వలన ఆకులన్నీ ఎండి, దూరం నుండి చూస్తే కాలినట్లు కనబడతాయి. దీనినే రైతులు అగ్గితెగులు అని కూడా అంటారు. దీని నివారణకు అంతర పంటలుగా జొన్న లేక సజ్జ 7:1 నిష్పత్తిలో వేయాలి. క్వినాల్ఫాస్ 400 మి.లీ. లేక మొనోక్రోటోఫాస్ 320 మి.లీ. లేక క్లోర్ పైరిఫాస్ 500 మి.లీ. లేక ప్లూబెండమెయిడ్ – 40 మి.లీ. మందును 200 లీటర్ల నీటికి కలిపి ఎకరానికి పిచికారీ చేయాలి.
		</div>

    </div>
  </ion-content>
</ion-view>