<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	పొగాకు లద్దె పరుగు
	    </div>
	      <div class="img-wrapper">
            <img src="img/groundnut/insects/12.7.jpg"></img>
        </div>
		<div class="sub-section">
			<p>తల్లి పురుగులు లేథ గోధుమ రంగులో వుండి ఆకుపైన మరియు అడుగు భాగాన గుంపుగా నూగుతో కప్పిన గ్రుడ్లు పెడతాయి. పిల్లపురుగులు గుంపులుగా వుండి ఆకుపై పత్రహరితాన్ని గోకి తినివేసి, జల్లెడగా మారుస్తాయి. బాగా ఎదిగిన పురుగులు ఆకులను తినివేస్తాయి. పగటివేళ ఈ పురుగులు చెట్ల అడుగుభాగాన లేక మట్టి పెళ్లలు లేక గుళిక రాళ్ళు క్రింద దాగి వుండి రాత్రిపూట మొక్కలను ఆశించి ఆకులను పూర్తిగా తినివేస్తాయి.
			</p>
			<p>
			దీని నివారణకు నేలను లోతుగా దుక్కిచేయాలి. యూరియాను ఎక్కువ మోతాదులో వాడరాదు. ఎక్కువ నీటి తడులు పెట్టరాదు. ఎకరాకు 4 లింగాకర్షణ బుట్టలు పెట్టి మగరెక్కల పురుగులను ఆకర్షించాలి. ఎకరా వేరుశనగ పొలంలో 30-40 ఆముదం, ప్రొద్దు తిరుగుడు మొక్కలు ఎర పంటలుగా ఉండేటట్లు చూడాలి. గ్రుడ్ల సముదాయాన్ని, పిల్ల పురుగులను ఏరివేయాలి. 5 శాతం వేప గింజల కషాయం గ్రుడ్లు మరియు పురుగులు చిన్నవిగా ఉన్నప్పుడు పిచికారీ చేయాలి. క్వినాల్ ఫాస్ 400 మి.లీ. లేక వేపనూనె 1000 మి.లీ. మందును 200 లీటర్ల నీటికి చొప్పున కలుపుకొని ఎకరానికి పిచికారి చేయాలి. ఎకరానికి 10 పక్షిస్థావరాలు ఏర్పాటు చేయాలి. ఎదిగిన లార్వాలకు థయోడికార్బ్ 200 గ్రా. లేదా నవల్యూరాన్ 200 మి.లీ. లేదా క్లోరోఫినాఫైర్ 400 మి.లీ. నీటికి కలిపి ఎకరానికి పిచికారీ చేయాలి. లేదా విషపు ఎర ఉండలను చిన్నవిగా తయారు చేసి (వరి తవుడు 5 కిలోలు + బెల్లం ½ కిలో + మోనోక్రోటోఫాస్ లేదా క్లోరోఫైరిఫాస్ 500 మి.లీ. లేదా మిథోమిల్ 350 మి.లీ. ) ఎకర పొలం లో సాయంత్రం పూట సమానంగా చల్లాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>