<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	తిక్కా ఆకుమచ్చ తెగులు
	    </div>
	      <div class="img-wrapper">
            <img src="img/groundnut/virus/13.1.jpg"></img>
        </div>
		<div class="sub-section">
			<p>
			త్వరగా వచ్చే ఆకుమచ్చ తెగులు, పంట వేసిన 30 రోజుల నుండి కనిపిస్తుంది. ఈ మచ్చలు కొంచెం గుండ్రంగా వుండి, ఆకు పై భాగాన ముదురు గోధుమ రంగు కల్గి వుంటాయి. ఆలస్యంగా వచ్చే ఆకుమచ్చ తెగులు మచ్చలు చిన్నవిగా, గుండ్రంగా వుండి, ఆకు అడుగు భాగాన నల్లని రంగు కల్గి వుంటాయి. కాండం మీద, ఆకు కాడలమీద, ఊడలమీద కూడా మచ్చలు ఏర్పడతాయి.
			</p>
			<p>
			దీని నివారణకు తెగులును తట్టుకొనే రకాలను (కదిరి హరితాంద్ర, కదిరి – 9, అభయ) సాగు చేసుకోవాలి. తెగులు కనిపించిన వెంటనే ఎకరాకు మాంకోజెబ్ 400 గ్రా. మరియు కార్బండిజం 200గ్రా. లేదా క్లోరోథలోనిల్ 400 గ్రా. లేదా హెక్సాకొనజోల్ 400 మి.లీ. లేదా టేబుకొనజోల్ 200 మి.లీ. చొప్పున 200 లీటర్ల నీటిలో కలిపి ఒకసారి తర్వాత 15 రోజలకు మరొకసారి పిచికారీ చేయాలి. వేరుశనగ లో సజ్జ పంటను 7:1 నిస్ఫత్తిలో అంతర పంటగా వేయాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>