<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	త్రుప్పు లేక కుంకుమ తెగులు
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.2.jpg"></img>
        </div>
		<div class="sub-section">
			ఆకుల అడుగు భాగంలో ఎరుపు లేక ఇటుక రంగు గల చిన్న పొక్కులు ఏర్పడి ఆకు పైభాగంలో పసుపు రంగు మచ్చలు కనిపిస్తాయి. తెగులు ఉధృతి ఎక్కువైనప్పుడు ఈ పొక్కులు పూల మీద తప్ప మొక్క మిగతా అన్నిభాగాల మీద కనిపిస్తాయి. దీని నివారణకు ఎకరాకు 400 గ్రా. క్లోరోథలోనిల్ లేక 200 మి.లీ. ట్రైడిమార్ఫ్ లేదా 400 గ్రా. ల మాంకోజెబ్ మందును 200 లీటర్ల నీటిలో కలిపి మొక్కలు తడిచే విధంగా పిచికారీ చేయాలి.
		</div>

    </div>
  </ion-content>
</ion-view>