<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	మొదలు కుళ్ళు తెగులు
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.3.jpg"></img>
        </div>
		<div class="sub-section">
			<p>ఈ తెగులు ఆశించడం వలన విత్తిన తర్వాత మొలక రాకుండానే విత్తనం కుళ్ళి పోతుంది. రెండవ దశలో మొలకెత్తిన తర్వాత కాండం పైన నల్లని శిలీంద్ర బీజాలతో కప్పబడి ఉంటుంది. తెగులు యొక్క మచ్చలు మొదట నేల మట్టం పై ఉన్న కాండం మీద ఏర్పడి క్రమంగా పై కొమ్మలకు వ్యాపిస్తాయి. కాయలపై కూడా శిలీంద్రం ఆశించి నల్లని మచ్చల్ని కలుగజేస్తుంది. ఎదిగిన మొక్కలకు లెనిలు సోకినట్లైతే మొక్కలు వడలిపోయి, ఎండిపోతాయి.
			</p>
			<p>
				దీని నివారణకు  విత్తే ముందు కిలో విత్తనానికి 1 గ్రా. టేబుకొనజోల్ 2 డి.యస్. లేక 3 గ్రా. మాంకోజెబ్ చొప్పున కలిపి విత్తన శుద్ధి చేయాలి. విత్తనాన్ని 5 సెం.మీ. ల కంటే లోతుగా వేయకూడదు. శనగ పంటతో పంట మార్పిడి చేయాలి. తెగులు ఆశించిన వెంటనే ఎకరాకు 400 గ్రా. మాంకోజెబ్ మందుని 200 లీటర్ల నీటిలో కలిపి పిచికారీ చేయాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>