<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	కాండం కుళ్ళు తెగులు
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.4.jpg"></img>
        </div>
		<div class="sub-section">
			<p>
				ఈ తెగులును బూజు తెగులు లేక బుడిమ తెగులు అని కూడ అంటారు. తెగులు ఆశించడం వలన ప్రారంభ దశలో మొక్క మొదలులో వున్న శాఖలు పసుపు వర్ణానికి మారి ఎండిపోతాయి. తరువాత భూమిపై వున్న కాండం మీద తెల్లటి బూజు, తెరలుగా ఏర్పడుతుంది. ఊడలు, కాయలు కూడా ఈ తెగులుకు లోనవుతాయి. కాయలోని గింజలపై నీలి, బూడిద రంగు మచ్చలు ఏర్పడుతాయి. ఈ తెగులు ఆశించిన మొక్కలను పీకినపుడు నేలపై ఉన్న మొక్క భాగాలు మాత్రమే ఊడివస్తాయి. వేర్లు, కాయలు నేలలోనే ఉండిపోతాయి.
			</p>
			<p>
				దీని నివారణకు వేసవిలో లోతు దుక్కులు చేసుకోవాలి. ఆకుమచ్చ తెగుళ్లను అదుపులో ఉంచినచో కాండం కుళ్ళు తెగులు యొక్క ఉధృతి తగ్గుతుంది. సజ్జ, జొన్న వంటి పంటలతో పంట మార్పిడి చేయాలి. సేంద్రీయ ఎరువులను పొలంలో వేసి కలియ దున్నాలి. కిలో విత్తనానికి 3 గ్రా. మాంకోజెబ్ లేక 1 గ్రా టేబుకొనజోల్ కలిపి విత్తన శుద్ధి చేయాలి. రెండు కిలోల ట్రైకోడేర్మా విరిడి ఫార్ములేషన్ ను 90 కిలోల పశువుల ఎరువు మరియు 10 కిలోల వేపగుంజల పిండితో కలిపి, పాలిథిన్ కాగితంలో కప్పి 3 రోజుల కొకసారి నీరు చల్లుతూ, 15 రోజుల తర్వాత ఒక ఎకరా భూమిలో విత్తే ముందు వేసుకోవాలి. ఎకరాకు 200 కిలోల జిప్సం ఎరువును పూత సమయంలో వేయటం వలన తెగులు యొక్క ఉధృతి తగ్గించవచ్చు. పొలంలో తెగులు సోకిన మొక్కల చుట్టూ గల నేలను 2 మి.లీ. హెక్సాకొనజోల్ ఒక లీటరు నీటిలో కలిపి తడిసేటట్లు పిచికారి చేయాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>