<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	వేరు కుళ్ళు తెగులు
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.5.jpg"></img>
        </div>
		<div class="sub-section">
			<p>ఈ తెగులు సుమారు 30 రోజుల తర్వాత వర్షాభావ పరిస్థితుల వలన ఎక్కువగా ఆశిస్తుంది. మొదట కాండం మీద గోధుమ వర్ణపు మచ్చలు ఏర్పడుతాయి. కొన్ని రోజుల తర్వాత నలుపు వర్ణానికి మారి కాండం పైభాగానికి మరియు వేరుకు కూడా వ్యాపిస్తాయి. ఈ తెగులు వలన తల్లి వేరు కుళ్ళిపోయి నలుపు రంగుకి మారి నుజ్జు నుజ్జుగా తయారవుతుంది.
			</p>
			<p>
				ఈ తెగులు నివారణకు తెగులు లేని పొలం నుండి విత్తనాలను సేకరించి తప్పనిసరిగా విత్తనశుద్ది చేయాలి. ట్రైకోడేర్మా విరిడి ఫార్ములేషన్ ను (2 కిలోలు), పశువుల ఎరువు (90 కిలోలు), మరియు వేపపిండి (10 కిలోలు) ని కలుపుకొని 15 రోజుల తర్వాత విత్తేముందు పొలంలో వేసుకోవాలి. పొలంలో తెగులు ఆశించిన మొక్కలను పీకి కాల్చివేయాలి. తెగులు సోకిన మొక్కల చుట్టూ గల నేలను 0.1 % కర్బండిజం లేదా 0.3% మాంకోజెబ్ మందులతో తడిచేటట్లు పిచికారీ చేయాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>