<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	మొవ్వు కుళ్ళు వైరుస్ తెగులు (పి.బి.ఎన్.డి.)
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.6.jpg"></img>
        </div>
		<div class="sub-section">
			<p>మొదటగా లేత ఆకులపై నిర్జీవ వలయాలు లేక చారలు కనిపిస్తాయి. మొవ్వు ఎండిపోతుంది. లేత దశలో తెగులు ఆశిస్తే మొక్కలు కురచబడి, ఎక్కువ రెమ్మలు వస్తాయి. ఆకులు చిన్నవిగా మారి లేత ఆకుపచ్చని మచ్చలు కలిగి పాలిపోయి వుంటాయి. లేత దశలో ఆశించిన మొక్కలలో కాయలు ఏర్పడవు. ముదిరిన మొక్కలలో తెగులు లక్షణాలు కొన్ని మాత్రమే కనిపిస్తాయి. తెగులు సోకిన మొక్కల నుండి వచ్చిన వేరుశనగ కాయ మరియు విత్తనాలు చిన్నవిగా వుండి, ముడుచుకొని వుంటాయి.
			</p>
			<p>
				ఈ తెగులు నివారణకు తెగులును కొంతవరకు తట్టుకొనే ఆర్ – 8808, వేమన, ఐ.సి.జి.యస్.-11 ఐ.సి.జి.యస్.-44 వంటి రకాలను సాగుచేయాలి. కిలో విత్తనానికి 2 మి.లీ. ఇమిడాక్లోప్రిడ్ అనే మందుతో విత్తనశుద్ది చేసిన తర్వాత 1 గ్రా. టేబుకొనజోల్ లేదా 3 గ్రా. మ్యాంకోజెబ్ అనే పొడి మందుతో కూడా శుద్ధి చేసి తర్వాత విత్తుకోవాలి. వేరుశనగ, సజ్జ పంటను 7:1 నిష్పత్తితో అంతరపంటగా వేయాలి. విత్తిన 20 రోజుల తర్వాత తామర పురుగుల (త్రిప్స్) వ్యాప్తిని అరికట్టడానికి మోనోక్రోటోఫాస్ 320 మి.లీ. లేక డైమిథోయేట్ 400 మి.లీ. లేక 80 మి.లీ. ఇమిడాక్లోప్రిడ్ ను 200 లీటర్ల నీటిలో కలిపి ఒక ఎకరాకు పిచికారీ చేయాలి.
			</p>
		</div>

    </div>
  </ion-content>
</ion-view>