<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	కాండం కుళ్ళు వైరస్ తెగులు (పి.యస్.ఎన్.డి.)
	    </div>
	       <div class="img-wrapper">
            <img src="img/groundnut/virus/13.7.jpg"></img>
        </div>
		<div class="sub-section">
			లేత ఆకులపై మరియు ఆకు ఈనెలపై నల్లటి మాడు పట్టిన మచ్చలు ఏర్పడుతాయి. తర్వాత ఈ మచ్చలు ఆకు తొడిమ నుండి కాండం పైకి విస్తరిస్తాయి. మొవ్వు ఎండిపోతుంది. 15 రోజుల లోపు వయస్సు ఉన్న మొక్కలకు తెగులు ఆశించిన యెడల మొక్కలు చనిపోతాయి. 15-30  రోజుల పైన వయస్సు ఉన్న మొక్కలకు తెగులు ఆశిస్తే మొక్కలు గిడసబారి, చిన్న చిన్న ఆకులతో వుండి మొక్క పొదవలె అగుపిస్తుంది. ఊడలు నల్లగా మారుతాయి. కాయలపై మచ్చలు ఏర్పడుతాయి. గిజలు కూడా రంగు మారుతాయి. ఈ వైరస్, వేరుశనగ లేని సమయంలో గట్లపై ఉన్న కలుపు మొక్కల పుప్పొడిలో జీవిస్తుంది. అందువలన ఈ కలుపు మొక్కలను పూత దశకు రాక ముందే నిర్మూలించాలి. పొలం చుట్టూ దట్టంగా మేర సాళ్ళు (4-6) సజ్జ / జొన్న / మొక్కజొన్న వేసుకోవాలి. పొలం లో అంతరపంటగా 7:1 లేదా 11:1 నిష్పత్తిలో సజ్జ / జొన్న / మొక్కజొన్న వేసుకోవాలి. కిలో విత్తనానికి 2మి.లీ. ఇమిడాక్లోప్రిడ్ అనే మందుతో విత్తన శుద్ధి చేసిన తర్వాత ఏదైనా శిలీంద్రనాశిని మందుతో విత్తన శుద్ధి చేసి విత్తుకోవాలి. పంట కాలంలో 30 రోజుల తర్వాత ఎకరాకు 400 మి.లీ. డైమిథోయేట్ లేదా 80మి.లీ. ఇమిడాక్లోప్రిడ్ మందును 200 లీటర్ల నీటిలో కలుపుకొని పిచికారీ చేయాలి.
		</div>

    </div>
  </ion-content>
</ion-view>