<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
           <div class="oval">     వేరుశనగ తెగుళ్ళు </div>
      <a href='#/app/groundnut13-1'>
        <div class="section-heading">
          <img src="img/groundnut/virus/13.1.jpg">
         తిక్కా ఆకుమచ్చ తెగులు
          </img>
        </div>
      </a>
      <a href='#/app/groundnut13-2'>
        <div class="section-heading">
            <img src="img/groundnut/virus/13.2.jpg">
            తుప్పు లేక కుంకుమ తెగులు  
            </img>

        </div>
      </a>
      <a href='#/app/groundnut13-3'>
        <div class="section-heading">
          <img src="img/groundnut/virus/13.3.jpg">
           మొదలు కుళ్ళు తెగులు 
          </img>
        </div>
      </a>
      <a href='#/app/groundnut13-4'>
        <div class="section-heading">
            <img src="img/groundnut/virus/13.4.jpg">
            కాండం కుళ్ళు తెగులు
            </img>
        </div>
      </a>
      <a href='#/app/groundnut13-5'>
        <div class="section-heading">
            <img src="img/groundnut/virus/13.5.jpg">
            వేరుకుళ్ళు తెగులు 
            </img>
        </div>
      </a>
      <a href='#/app/groundnut13-6'>
        <div class="section-heading">
            <img src="img/groundnut/virus/13.6.jpg">
          మొవ్వు కుళ్ళు వైరుస్ తెగులు (పి.బి.ఎన్.డి.)
            </img>
        </div>
      </a>
      <a href='#/app/groundnut13-7'>
        <div class="section-heading">
            <img src="img/groundnut/virus/13.7.jpg">
          కాండం కుళ్ళు వైరుస్ తెగులు (పి.యస్.ఎన్.డి.)
            </img>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>