<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తేసమయం, నేలలు, నేల తయారి
	    </div>
	    <div class="roundedrect">
	    	విత్తే సమయం

	    </div>
		<div class="sub-section">
			దక్షిణ మండలం లో ఖరీఫ్ లో జూలై – ఆగష్టు 15 వరకు, రబీలో నవంబర్ – డిసెంబర్ 15 వరకు విత్తుకోవచ్చు.
		</div>
	    <div class="roundedrect">
	    	
	    	నేలలు
	    </div>
		<div class="sub-section">
			ఇసుకతో కూడిన గరపనేలలు శ్రేష్టం. చల్కా మరియు ఎర్ర గరపనేలలు కూడా అనుకూలం.
		</div>
	    <div class="roundedrect">
	    	
	    	నేల తయారి
	    </div>
		<div class="sub-section">
			వేసవిలో లోతు దుక్కులు చేయడం వలన పంటను నష్టపరిచే కీటకాలు, తెగుళ్ళు ఉధృతిని తగ్గించవచ్చు. విత్తే ముందు నేలను మెత్తగా దుక్కిచేసి చదును చేయాలి.
		</div>
    </div>
  </ion-content>
</ion-view>