<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తన మోతాదు
	    </div>
		<div class="sub-section">
			<div>కదిరి  6,7,8, నారాయణి, ఐ.సి.జి.యస్. 44, కాళహస్తి, అభయ, ప్రసూన, గ్రీష్మ, కదిరి హరితాంధ్ర, కదిరి అనంత <br></div>
			<table width="100%">
				<tr> 
					<td>ఖరీఫ్</td><td>60 కిలోలు / ఎకరా</td>
				</tr>
				<tr> 
					<td>రబ</td><td>75  కిలోలు / ఎకరా</td>
				</tr>
			</table>
			<div>కదిరి -9, ఐ.సి.జి.యస్.. 11, టి.ఏ.జి.-24 </div>
			<br>
			<table width="100%">
				<tr> 
					<td>ఖరీఫ్</td><td>50 కిలోలు / ఎకరా</td>
				</tr>	
				
				<tr> 
					<td>రబీ</td><td>60 కిలోలు / ఎకరా</td>
				</tr>
			</table>
		</div>

    </div>
  </ion-content>
</ion-view>