<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తన శుద్ధి
	    </div>
		<div class="sub-section">
			కిలో విత్తనానికి ఒక గ్రా. టేబ్యుకొనజోల్ 2 డి.యస్. లేదా 3 గ్రాముల మ్యాంకోజెబ్ ట్రైకోడెర్మవిరిడి పొడి మందును పట్టించాలి. కాండము కుళ్ళు వైరుస్ తెగులు (పియస్ఎన్ డి) ఆశించే ప్రాంతాలలో కిలో విత్తనానికి 2 మి.లీ. ఇమిడాక్లోప్రిడ్ మందుతో విత్తనశుద్ధి చేయాలి. వేరుపురుగు ఉధృతి ఎక్కువగా ఉన్న ప్రాంతాలలో కిలో విత్తనానికి 2 మి.లీ. ఇమిడాక్లోప్రిడ్ చొప్పున కలిపి శుద్ధి చేయాలి. వరి మాగాణుల్లో లేక కొత్తగా వేరుశనగ సాగు చేసేటప్పుడు విత్తనానికి రైజోబియం కల్చరుని పట్టించాలి. మొదలు కుళ్ళు, వేరుకుళ్ళు, కాండము కుళ్ళు తెగుళ్ళు ఎక్కువగా ఆశించే ప్రాంతాలలో కిలో విత్తనానికి 4 గ్రా. ట్రైకోడెర్మా విరిడిని పట్టించాలి. విత్తనాన్ని మొదట క్రిమిసంహారక మందుతో శుద్ధిచేసి, నీడలో ఆరబెట్టి తర్వాత శిలీంధ్రనాశనితో శుద్ధి చేయాలి. అవసరమైతే రైజోబియం కల్చరును కూడా విత్తనాలకు పట్టించవచ్చు.
		</div>

    </div>
  </ion-content>
</ion-view>