<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	నిద్రావస్థను తొలగించటం
	    </div>
	    
		<div class="sub-section">
			నిద్రావస్థగల రకాల (కదిరి-7,8,9) విత్తనాన్ని 5 మి.లీ. ఇథరిల్ (100%) ను 10 లీటర్ల నీటిలో కలిపిన ద్రావణంలో 12 గంటలు నానబెట్టి తర్వాత నీడలో ఆరబెట్టి విత్తుకోవాలి లేదా మార్కెట్ లో దొరికే ఎల్తోపాన్ (39%), 125 మి.లీ. మూడు లీటర్ల నీటిలో కలిపి 100 కిలోల విత్తనంపై పిచికారీ చేసి గాలి దూరని సంచులలో ఒక రాత్రి విత్తేదూరం, విత్తటం (12 గం.) వుంచి, మరుసటి రోజు ఉదయమే నీడలో ఆరబెట్టి విత్తుకోవాలి.
		</div>

    </div>
  </ion-content>
</ion-view>