<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తేదూరం,	విత్తటం
	    </div>
	    <div class="roundedrect">
	    	విత్తేదూరం
	    </div>
		<div class="sub-section">
			<table>							
			<tr> 
				<td >గుత్తి రకాలు</td><td>కదిరి -6,9, అభయ, ప్రసూన, గ్రీష్మ</td>
			</tr>
		    <tr> 
				<td >వర్షాధారపు పంట ఖరీఫ్</td><td>30 X 10 సెం. మీ.</td>
			</tr>
			<tr>
				<td>నీటి పారుదల క్రింద రబీ పంట</td><td>22.5 X 10 సెం. మీ. </td>
			</tr>
			<tr>
				<td>తీగ/పెద్ద గుత్తిరకాలు</td><td> ఐ.సి.జి.యస్. 11, 44, కదిరి – 7 బోల్డ్, కదిరి – 8 బోల్డ్   </td>
			</tr>
			<tr>
				<td>వర్షాధారపు పంట ఖరీఫ్</td><td>30 X 15 సెం. మీ.</td>
			</tr>
			<tr>
				<td>నీటి పారుదల క్రింద రబీ పంట</td><td> 22.5 X 15 సెం.మీ.</td>
			</tr>

			</table>

		</div>
		<div class="roundedrect">
	    	విత్తటం
	    	
	    </div>
		<div class="sub-section">
			విత్తనాన్ని గొర్రుతోగాని లేక నాగలి చాళ్ళలోగాని లేక ట్రాక్టరుతో నడిచే విత్తు యంత్రముతో గాని విత్తాలి. విత్తే సమయంలో నేలలో తగినంత తేమ ఉండాలి. విత్తనాన్ని 5 సెం.మీ. లోతు మించకుండా విత్తుకోవాలి. ట్రాక్టరు డ్రిల్ ను వాడినట్లైతే తక్కువ సమయంలో ఎక్కువ విస్తీర్ణములో విత్తుకోవడమేకాక, ఖర్చును కూడా గణనీయంగా తగ్గించుకోవచ్చును.
		</div>
    </div>
  </ion-content>
</ion-view>