<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	రకాలు
	    </div>
	    <div class="roundedrect">
	    	కదిరి – 6
	    </div>
		<div class="sub-section">
			<div><b>గుణగణాలు:</b> చిన్న గుత్తిరకం. పంటకాలం 100 రోజులు. గింజ పరిమాణం జే.యల్. – 24 కంటే 5% పెద్దదిగా ఉంటుంది. </div> 
			<div><b>దిగుబడి (కిలోలు/ఎకరాకు):</b> ఖరీఫ్ : 800-880, రబీ : 1600-1700</div>
		</div>
		<div class="roundedrect">
	    	కదిరి – 9
	    </div>
		<div class="sub-section">
			<div>
				<b>గుణగణాలు:</b>  చిన్న గుత్తిరకం. వర్షాభావ పరిస్థితులను, బెట్టను బాగా తట్టుకొంటుంది. ఆకుమచ్చ, వేరుకుళ్ళు తెగుళ్లను, రసం పీల్చే పచ్చదోమ, తామర పరుగులు, నులిపురుగులు, ఎర్రనల్లిని తట్టుకొంటుంది. నిద్రావస్థ 30 రోజులు. పంటకాలం – ఖరీఫ్ 105-110, రబీ 115-120 
			</div>
			<div><b>దిగుబడి (కిలోలు/ఎకరాకు)</b>: ఖరీఫ్ : 800-1000, రబీ : 1400-1600</div>
		</div>
		<div class="roundedrect">
	    	అనంత
	    </div>
		<div class="sub-section">
			<div><b>గుణగణాలు:</b>చిన్న గుత్తి రకం. వర్షాభావ పరిస్థితులను, ఆకుమచ్చ తెగులును, రసం పీల్చే పురుగులను తట్టుకొంటుంది. </div>
			<div><b>పంటకాలం:</b> ఖరీఫ్ 105-110 రోజులు, రబీలో 110-120 రోజులు.</div>
			<div><b>దిగుబడి (కిలోలు/ఎకరాకు):</b> ఖరీఫ్ : 800-1000, రబీ : 1400-1800</div>
		</div>
		<div class="roundedrect">
	    	ధరణి
	    </div>
		<div class="sub-section">
			<div>
				<b>గుణగణాలు:</b> చిన్న గుత్తి రకం. బెట్టను తట్టుకొంటుంది. 100-105 రోజుల పంటకాలం. మొక్కలు మధ్యస్థముగా వుంటాయి.
			</div>
			<div>
				<b>దిగుబడి (కిలోలు/ఎకరాకు):</b> ఖరీఫ్ : 600-1000, రబీ: 1500-1700
			</div>
		</div>
		<div class="roundedrect">
	    	టి.ఏ.జి. 24
	    </div>
		<div class="sub-section">
			<div>
				<b>గుణగణాలు:</b>చిన్న గుత్తి రకం రబీకి అనువైన రకం. మొక్కలు పొట్టిగా వుంటాయి. 95-100 రోజులు పంటకాలం.
			</div>
			<div>
				<b>దిగుబడి (కిలోలు/ఎకరాకు):</b> రబీ: 1600-1800
			</div>
		</div>
    </div>
  </ion-content>
</ion-view>