<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఎరువులు
	    </div>
	    
		<div class="sub-section">
			<p>
				భూసార పరీక్షలనను అనుసరించి ఎరువుల మోతాదును నిర్ణయించాలి. ఆఖరు దుక్కిలో ఎకరానికి 4-5 టన్నుల సేంద్రీయ ఎరువు వేయాలి. మొత్తం భాస్వరం, పొటాష్ ఎరువులను విత్తే సమయంలోనే వేసుకోవాలి. వర్షాధారపు పంటకు ఎకరానికి 100 కిలోల సూపర్ ఫాస్ఫేట్, 33 కిలోల మ్యురేట్ ఆఫ్ పొటాష్ మరియు 18 కిలోల యూరియాను విత్తే సమయంలోనే వేయాలి. నీటిపారుదల పంటకు ఎకరానికి 100 కిలోల సూపర్ ఫాస్ఫేట్, మరియు 33 కిలోల మ్యురేట్ ఆఫ్ పొటాష్ ఆఖరి దుక్కిలో వేయాలి. అలాగే 18 కిలోల యూరియాను విత్తనాలను విత్తే సమయంలో, 9 కిలోల యూరియాను 30 రోజుల తర్వాత అంటే తొలి పూత దశలో వేసుకోవాలి.
			</p>
			<p>
				నీటిపారుదల క్రింద ఎకరానికి 200 కిలోల జిప్సంను తొలి పూత సమయంలో మొక్కల మొదళ్ళ దగ్గర చాళ్ళలో వేసి కలుపుతీసి మొక్కల మొదళ్ళకు మట్టిని ఎగదోయాలి. వర్షాభావ పరిస్థితుల్లో జిప్సంను వూడలు దిగే సమయం (విత్తిన 45 రోజులు) లో అనగా రెండవ కలుపు తీసే సమయంలోనే వేయాలి. విత్తిన 45 రోజుల తర్వాత ఎటువంటి అంతర సేద్యం చేయరాదు. విత్తుకునే సమయంలో ఎరువులు నేరుగా నేలలో పడేటట్లు విత్తనం మరియు ఎరువు గొర్రుతో గాని వేసుకున్నట్లయితే ఎరువులను విత్తనం కంటే 2.5 సెం. మీ. లోతులో వేసుకోవాలి.
			</p>
		</div>
    </div>
  </ion-content>
</ion-view>