<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	సూక్ష్మ పోషక పదార్థ లోపాలు – సవరణ
	    </div>
	    
		<div class="sub-section">
			<p>
				జింకు లోపించిన పైరు ఆకులు చిన్నవిగా మారి గుబురుగా కనిపిస్తాయి. మొక్కలు గిడసబారుతాయి. ఆకు ఈనెల మధ్య భాగం పసుపు రంగుగా మారవచ్చు. ఈ లోపాన్ని సవరించడానికి ఎకరానికి 400 గ్రా. ల చొప్పున జింకుసల్ఫేట్ ను 200 లీటర్ల నీటిలో కలిపి వారం వ్యవధితో రెండుసార్లు పిచికారీ చేయాలి. ఇనుముధాతు లోపం నల్లరేగడి నేలల్లో అధిక తేమ ఉన్నప్పుడు కనిపిస్తుంది. లేత ఆకులు పసుపుపచ్చగాను తర్వాత తెలుపు రంగుకు మారుతాయి. ఈ లోపాన్ని సవరించడానికి ఎకరానికి 1 కిలో అన్నభేది మరియు 200 గ్రాముల సిట్రిక్ ఆమ్లాన్ని 200 లీటర్ల నీటిలో కలిపి వారం వ్యవధితో రెండుసార్లు పిచికారీ చేయాలి. నీటి పారుదల క్రింద సాగుచేసే పంటకు ఎకరానికి 4 కిలోల బోరాక్స్ ను  విత్తేటప్పుడు వేయాలి. బోరాన్ గింజల అభివృధికి అవసరం.
			</p>
		</div>
    </div>
  </ion-content>
</ion-view>