<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
         <h3 class="crop-heading">     కంది </h3>
      <a href='#/app/redgram2'>
        <div class="section-heading">
            కంది
        </div>
      </a>
       <a href='#/app/redgram3'>
        <div class="section-heading">
            రబీ కంది సాగుకి అవకాశాలు
        </div>
      </a>
       <a href='#/app/redgram4'>
        <div class="section-heading">
            రబీ కందికి అనువైన ప్రాంతాలు
        </div>
      </a>
       <a href='#/app/redgram5'>
        <div class="section-heading">
           ఖరీఫ్, రబీ కంది పైరుల తేడాలు
        </div>
      </a>
      
      <a href='#/app/redgram6'>
        <div class="section-heading">
            విత్తన శుద్ధి,విత్తే సమయం,విత్తే పద్ధతి, విత్తే దూరం, ఎరువులు 
        </div>
      </a>

       <a href='#/app/redgram7'>
        <div class="section-heading">
            రకాలు
        </div>
      </a>
      <a href='#/app/redgram8'>
        <div class="section-heading">
            నీటి యాజమాన్యం
        </div>
      </a>
      <a href='#/app/redgram9'>
        <div class="section-heading">
            అంతర పంటలు
        </div>
      </a>
      <a href='#/app/redgram10'>
        <div class="section-heading">
            పురుగులు
        </div>
      </a>
     
      <a href='#/app/redgram11'>
        <div class="section-heading">
            తెగుళ్ళు
        </div>
      </a>
      <a href='#/app/redgram12'>
        <div class="section-heading">
             సమగ్ర సస్యరక్షణ (కంది, శనగ)
        </div>
      </a>

 
   
    </div>
  </ion-content>
</ion-view>