<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	మారుకా మచ్చల పురుగు
	    </div>
	  	<div class="img-wrapper">
            <img src="img/redgram/insects/10.3.jpg"></img>
        </div>  
		<div class="sub-section">
			దీని నివారణకు క్లోరిఫైరిఫాస్ 2.5 మి.లీ. / ఎసిఫేట్ 1 గ్రా./ థయోడికార్బ్ 1 గ్రా. / నొవాల్యురాన్ 1.0 మి.లీ. / స్పైనోసాడ్ 0.3 మి.లీ. / ల్యాండా సైహలోత్రిన్ 1 మి.లీ. / ఫ్లుబెండిఎమైడ్ 0.3 మి.లీ. లేదా క్లోరాంత్రానిలిప్రోల్ 0.3 మి.లీ. తో పాటు డైక్లోరోవాస్ 1 మి.లీ. / లీటరు నీటికి కలిపి మందులు మార్చి వారము రోజులకొకసారి పిచికారీ చేయాలి.
		</div>

    </div>
  </ion-content>
</ion-view>