<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	కాయ ఈగ
	    </div>
		<div class="img-wrapper">
            <img src="img/redgram/insects/10.4.jpg"></img>
        </div>    
		<div class="sub-section">
			కాయ ఈగ ఆశించినప్పుడు నష్టం బయటకు కనిపించదు. దీని పిల్ల పురుగులు కాయ లోపల వుండి గింజలను తినివేస్తుంది. ఈ పురుగు అన్ని దశలనూ కాయలోపలే పూర్తి చేసుకొని తల్లి పురుగు మాత్రమే బయటకు వస్తుంది. తల్లి పురుగు లేత పిందె దశలో కాయలపై గ్రుడ్లు పెడుతుంది. కావున పిందె దశలో 5% వేపగింజల కషాయం పిచికారీ చేసినట్లయితే గ్రుడ్లు పెట్టకుండా నివారించుకోవచ్చు. గింజ గట్టిపడే దశలో మొనోక్రోటోఫాస్ 1.6మి.లీ. లేక డైమిథోయేట్ 2.0 మి.లీ. లేక ప్రోఫేనోఫాస్ 2.0 మి.లీ. లీటరు నీటికి కలిపి పిచికారీ చేయాలి.         
		</div>

    </div>
  </ion-content>
</ion-view>