<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
            <div class="oval">     కంది పురుగులు </div>
      <a href='#/app/redgram10-1'>
        <div class="section-heading">
          <img src="img/redgram/insects/10.1.jpg">
          ఆకుచుట్టు పురుగు
          </img>
        </div>
      </a>
      <a href='#/app/redgram10-2'>
        <div class="section-heading">
            <img src="img/redgram/insects/10.2.jpg">
            కాయ తొలుచు పురుగు / (శనగ పచ్చ పురుగు)
            </img>

        </div>
      </a>
      <a href='#/app/redgram10-3'>
        <div class="section-heading">
          <img src="img/redgram/insects/10.3.jpg">
          మారుకా మచ్చల పురుగు
          </img>
        </div>
      </a>
      <a href='#/app/redgram10-4'>
        <div class="section-heading">
            <img src="img/redgram/insects/10.4.jpg">
            కాయ ఈగ
            </img>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
