<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఎండు తెగులు
	    </div>
	    
		<div class="sub-section">
			ఈ తెగులు సోకిన మొక్కలు పూర్తిగా కాని మొక్కలో కొంత భాగం గాని వాడి ఎండి పోతాయి. ఎండిన మొక్కలను పీకి కాండం మొదలు భాగం చీల్చి పరిశీలిస్తే గోధుమ రంగు నిలువు చారలు కనిపిస్తాయి. నివారణకు ఈ తెగులు అధికంగా కనిపించిన పొలాల్లో పొగాకు లేక జొన్నతో పంట మార్పిడి చేయాలి. ఐ.సి.పి.యల్ 87119 మరియు ఐ.సి.పి.యల్. 8863లనే కంది రకాలు ఈ తెగులును తట్టుకొంటాయి. ఈ తెగులు నివారణకు ఎలాంటి మందులు లేవు. నీరు నిల్వ ఉండే భూముల్లో కందిని సాగు చేయకూడదు. 
		</div>
    </div>
  </ion-content>
</ion-view>