<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	వెర్రి తెగులు (స్టెరిలిటి మొజాయిక్)
	    </div>
		<div class="img-wrapper">
            <img src="img/redgram/virus/11.2.jpg"></img>
        </div>	    
		<div class="sub-section">
			ఇది వైరస్ తెగులు, తెగులు సోకిన మొక్క లేత ఆకుపచ్చ రంగు గల చిన్న ఆకులను విపరీతంగా తొడుగుతుంది. పూత పూయదు. ఈ తెగులు అసరియా కజాని అనే ఇరియోఫిడ్ నల్లి (మైట్స్) ద్వారా వ్యాపిస్తుంది. నల్లి నివారణకు లీటరు నీటికి 3 గ్రా. నీటిలో కరిగే గంధకపు పొడి లేక 4 మి.లీ. కెల్ థేన్  ను కలిపి వారానికి ఒకసారి రెండు దఫాలు పిచికారీ చేయాలి. ఈ తెగులును తట్టుకోగల ఐ.సి.పి.యల్. 87119, ఐ.సి.పి.యల్. 85063, బి.ఎస్.యం.ఆర్ 853, బి.ఎస్.యం.ఆర్ 736 రకాలను సాగుచేయాలి.
		</div>
    </div>
  </ion-content>
</ion-view>