<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	మాక్రోఫోమినా ఎండు తెగులు
	    </div>
		<div class="img-wrapper">
            <img src="img/redgram/virus/11.3.jpg"></img>
        </div>	    
		<div class="sub-section">
			ముదురు మొక్కల కాండంపైన నూలు కండె ఆకారం కలిగిన ముదురు గోధుమ రంగు మచ్చలు కనిపిస్తాయి. ఈ మచ్చలు చుట్టూ గోధుమ వర్ణంలోనూ మధ్య భాగం తెలుపు రంగులో వుంటాయి. తెగులు సోకిన మొక్కలు ఎండిపోతాయి. ఒక్కొక్కప్పుడు కొన్ని కొమ్మలు మాత్రమే ఎండిపోతాయి. యం.ఆర్.జి 66 కంది రకం ఈ తెగులును తట్టుకొంటుంది. కందిని ఎక్కువ కాలం ఒకే పొలంలో వేయరాదు.
		</div>
    </div>
  </ion-content>
</ion-view>