<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
               కంది తెగుళ్ళు
      <a href='#/app/redgram11-1'>
        <div class="section-heading">
          <img src="img/redgram/virus/11.1.jpg">
          ఎండు తెగుళ్ళు
          </img>
        </div>
      </a>
      <a href='#/app/redgram11-2'>
        <div class="section-heading">
            <img src="img/redgram/virus/11.2.jpg">
            వెర్రి తెగులు (స్టెరిలిటి మొజాయిక్)
            </img>

        </div>
      </a>
      <a href='#/app/redgram11-3'>
        <div class="section-heading">
          <img src="img/redgram/virus/11.3.jpg">
          మాక్రోఫోమినా ఎండు తెగులు
          </img>
        </div>
      </a>
     
    </div>
  </ion-content>
</ion-view>