

<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	సమగ్ర సస్యరక్షణ (కంది, శనగ)
	    </div>
	    
		<div class="roundedrect">
			<ol>
				<li>
					 వేసవిలో లోతు దుక్కి చేస్తే భూమిలోని పురుగు కోశస్థ దశలు బయటపడి పక్షులు ఏరుకు తినటానికి వీలవుతుంది.
				</li>
				<li>
					ఈ పురుగు తక్కువగా ఆశించే పంటలైన జొన్న, సోయాచిక్కుడు, నువ్వులు, మినుము, ఉలవ, మెట్ట వరి మొదలైన పంటలతో పంట మార్పిడి చేయాలి.
				</li>
				<li>
				ఖరీఫ్ లో అంతర పంటగా 7 సాళ్ళు, రబీలో 3 సాళ్ళు పెసర/మినుము వేయడం ద్వారా పరాన్న జీవులను వృద్ధి చేయటానికి తోడ్పడుతాయి. పొలంచుట్టూ 4 సాళ్ళు జొన్న రక్షిత పైరుగా విత్తాలి.
				</li>
				<li>
					పచ్చ పురుగును తట్టుకునే ఐ.సి.పి.యల్. 332, యల్.ఆర్.జి 41 రకాలను లేదా పురుగు ఆశించినప్పటికీ తిరిగి పూతకు రాగల ఎల్.ఆర్.జి 30, ఎల్.ఆర్.జి 38 కంది రకాలను సాగు చేసుకోవాలి.
				</li>
				<li>
					పైరు విత్తిన 90-100 రోజుల్లో చిగుళ్ళను ఒక అడుగు మేరకు కత్తిరించాలి.
				</li>

				<li>
					ఎకరాకు 4 లింగాకర్షక బుట్టలను అమర్చి పురుగు ఉనికిని గమనించి తగిన సస్యరక్షణ చర్యలు చేపట్టాలి.
				</li>
				<li>
					పురుగులను తినే పక్షులను ఆకర్షించడానికి వీలుగా ఎకరాకు 20 పక్షి స్థావరాలను ఏర్పాటు చేయాలి.
				</li>
				<li>
					 పురుగు గ్రుడ్లను, తొలి దశ పురుగులను గమనించిన వెంటనే 5% వేపగింజల కషాయాన్ని లేక వేప సంబధమైన మందు (అజాడిరక్టిన్) లను పిచికారి చేయాలి.
				</li>
				<li>
					ఎకరాకు 200 లార్వాలకు సమానమైన ఎన్.పి.వి. ద్రావణాన్ని లేక 400 గ్రాముల బ్యాక్టీరియ సంబంధమైన మందును 200 లీటర్ల నీటితో కలిపి వారం తేడాతో రెండు సార్లు చలికాలంలో సాయంత్రం వేళల్లో పిచికారీ చేయాలి.
				</li>
				<li>
					బాగా ఎదిగిన పురుగులను ఏరివేయాలి. లేక చెట్లను బాగా కుదిపి దుప్పట్లలో పడిన పురుగులను నాశనం చేయాలి.
				</li>
				<li>
					రసాయనిక పురుగు మందులను విచక్షణారహితంగా వాడరాదు.
				</li>
				<li>
					పైన చెప్పిన చర్యలు తగిన సమయంలో చేపట్టలేనప్పుడు తప్పనిసరి అయితే పురుగు ఉధృతిని బట్టి పైరు మొగ్గ/తొలి పూతదశలో ఉన్నప్పుడు క్లోరిఫైరిఫాస్ 2.5 మి.లీ. పూత లేదా కాయదశలో క్వినాల్ ఫాస్ 2.0 మి.లీ. లేక ఎసిఫేట్ 1.5 గ్రా. లీటరు నీటిలో కలిపి హ్యాండ్ కంప్రెషన్ స్ప్రేయర్ తో పిచికారీ చేయాలి. ఈ మందులు వాడిన తర్వాత కూడా శనగ పచ్చ పురుగును నివారించలేక పొతే ఇండాక్సాకార్బ్ 1.0 మి.లీ. లేదా స్పైనోసాడ్ 0.3 మి.లీ.ను లీటరు నీటిలో కలిపి పిచికారీ చేయాలి.
				</li>
				
			</ol>
		</div>
    </div>
  </ion-content>
</ion-view>
