

<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	కంది
	    </div>
	    
		<div class="roundedrect">
			కంది పంట ఆంధ్రప్రదేశ్ లో దాదాపు 3.78 లక్షల ఎకరాల్లో సాగుచేయబడుతూ, 0.73 లక్షల టన్నుల ఉత్పత్తినిస్తున్నది. హెక్టారుకు 481 కిలోల సరాసరి దిగుబడినిస్తుంది. ప్రత్తి, మిరప, పొగాకులకు ప్రత్యామ్నాయంగా అలాగే పెసర, మినుము, సోయాచిక్కుడు, వేరుశనగ లాంటి పైర్లతో మిశ్రమ పంటగా కందిని ఖరీఫ్ లో పండించవచ్చు. కందిని సాధారణంగా తొలకరిపంటగా అనేక ఇతర పంటలతో కలిపి మిశ్రమ పైరుగా సాగు చేయవచ్చు. కందిని రబీలో కూడా పండించవచ్చు.
		</div>
    </div>
  </ion-content>
</ion-view>