
<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	రబీ కంది సాగుకి అవకాశాలు
	    </div>
	    
		<div class="roundedrect">
			<ol>
				<li>
					కారణాంతరాల వల్ల తొలకరిలో ఏ పైరు వేసుకునేదుంకు అవకాశం లేని ప్రాంతాలు.

				</li>
				<li>
					అధిక వర్షాలకు, బెట్టకు మొదటి పంట పూర్తిగా దెబ్బతిన్న ప్రాంతాలు.
				</li>
				<li>
					తొలకరిలో స్వల్పకాలిక పంటలు (పెసర,మినుము లాంటివి) వేసుకుని రెండవ పంటగా కంది వేసుకోవచ్చు.
				</li>
				<li>
					స్వల్పకాలిక వరి రకాల తర్వాత కూడా కందికి అవకాశముంది. అయితే అక్టోబర్ తర్వాత కంది విత్తకూడదు.
				</li>
				<li>
					తొలకరి కంది ఎక్కువ ఎత్తు పెరగటం వలన ఈ పంటను ఆశించే కాయ తొలుచు పురుగు మరియు మారుకా మచ్చల పురుగుల నివారణ కష్టమౌతుంది. రబీ కంది, అనువైన ఎత్తులో వుండటం వలన సస్యరక్షణ చర్యలు చేపట్టటం తేలిక. రబీ కంది జనవరిలో పూతకొస్తుంది. ఈ సమయంలో శనగపచ్చ పురుగు ఉధృతి తక్కువగా ఉంటుంది. కాబట్టి పురుగును తట్టుకుంటుంది.
				</li>
			</ol>
		</div>
    </div>
  </ion-content>
</ion-view>