<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	రబీ కందికి అనువైన ప్రాంతాలు
	    </div>
	    
		<div class="roundedrect">
			<p>దక్షిణ కోస్తా జిల్లాలైన నెల్లూరు, ప్రకాశం మరియు ఖమ్మం జిల్లాలలో వరద పోయిన తర్వాత రబీ కంది సాగుకు అనుకూలం. శ్రీరాంసాగర్, నిజంసాగర్ మరియు నాగార్జున సాగర్ ఆయకట్టు ప్రాంతాల్లో కూడా కందిని ఆరుతడి పంటగా పండించవచ్చు. నీటి వసతి ఉంటే మన రాష్ట్రంలో ఏ ప్రాంతంలోనైన సాగుచేయవచ్చు.
			</p>
			<p>
				తొలకరిలో 170 నుండి 180 రోజుల్లో కోతకు వచ్చే మధ్యకాలిక రకాలైన ఐసిపియల్ 85063, పల్నాడు, యల్.ఆర్.జి. 38, యల్.ఆర్.జి 41, సి. 11, అభయ, ఐసిపియల్ 87119, ఐసిపియల్ 8863 లను రబీకాలంలో కూడా వేసుకోవచ్చు.
			</p>
		</div>
    </div>
  </ion-content>
</ion-view>