<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఖరీఫ్, రబీ కంది పైరుల తేడాలు
	    </div>
	    
		<br><br>
		<table>
			<thead>
				<th>లక్షణాలు</th>
				<th>ఖరీఫ్</th>
				<th>రబీ</th>
			</thead>
			<tbody>
				<tr>
					<td>విత్తేకాలం</td>
					<td>జూన్ – జూలై</td>
					<td>సెప్టెంబర్ 15 – అక్టోబర్ 15</td>
				</tr>
				<tr>
					<td>పంటలు</td>
					<td>సహపంటగా</td>
					<td>ఏకపంటగా / సహపంటగా </td>
				</tr>
				<tr>
					<td>విత్తనం (ఎకరాకు)</td>
					<td>2-3 కిలోలు</td>
					<td>6-8 కిలోలు</td>
				</tr>
				<tr>
					<td>విత్తేదూరం</td>
					<td>150X20 లేక 180X20 సెం.మీ</td>
					<td>45-90 X 10 సెం.మీ.</td>
				</tr>
				<tr>
					<td>కాల పరిమితి</td>
					<td>160-180 రోజులు</td>
					<td>120 – 125 రోజులు</td>
				</tr>
				<tr>
					<td>మొక్కల ఎత్తు</td>
					<td>2 మీటర్ల వరకు</td>
					<td>1.2 మీటర్ల వరకు</td>
				</tr>
				<tr>
					<td>కొమ్మలు</td>
					<td>బాగా వస్తాయి</td>
					<td>తగ్గుతాయి</td>
				</tr>
				<tr>
					<td>కాయగింజల పరిమాణం</td>
					<td>బాగుంటుంది</td>
					<td>తగ్గుతుంది</td>
				</tr>
				
				<tr>
					<td>చీడపీడలు</td>
					<td>ఎక్కువ</td>
					<td>తక్కువ</td>
				</tr>
				<tr>
					<td>దిగుబడి (ఎకరానికి)</td>
					<td>6-8 క్వింటాళ్ళు</td>
					<td>5-6 క్వింటాళ్ళు</td>
				</tr>
			</tbody>
		</table>
    </div>
  </ion-content>
</ion-view>