<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తన శుద్ధి, విత్తే సమయం, విత్తే పద్ధతి, విత్తే దూరం 
	    </div>
	    
		<div class="roundedrect">
			విత్తన శుద్ధి
		</div>

		<div class ="sub-section">
			రైజోబియంను విత్తనంలో కలిపి విత్తితే అధిక దిగుబడిని పొందవచ్చు.
		</div>
		<div class="roundedrect">
			విత్తే సమయం
		</div>

		<div class ="sub-section">
			తక్కువ వర్షపాత మండలాల్లో జూన్ లోను, కృష్ణా – గోదావరి, దక్షిణ మండలం మరియు ఉత్తర కోస్తా మండలాల్లో జూన్ – అగుస్టు నెలల్లోనూ; సెప్టెంబర్ – అక్టోబరు నెలల్లోనూ విత్తుకోవచ్చు.
		</div>
		<div class="roundedrect">
			విత్తే పద్ధతి
		</div>

		<div class ="sub-section">
			నాగలి వెంబడి గాని, సాళ్ళలో గొర్రుతో గానీ విత్తుకోవాలి.
		</div>
		<div class="roundedrect">
			విత్తే దూరం
		</div>

		<div class ="sub-section">
			ఖరీఫ్ నల్లరేగడి నేలల్లో 150 X 20 లేదా 180X20 సెం.మీ. (వరుసల మధ్య, మొక్కల మధ్య), ఎర్ర నేలల్లో90 X 20 సెం.మీ., రబీలో వర్షాధారంగా 45-60X10, ఆరుతడి పంటగా 75-90X10 సెం.మీ.
		</div>
		<div class="roundedrect">
			నేలలు
		</div>

		<div class ="sub-section">
			నీరు త్వరగా ఇంకిపోయే గరప, ఎర్ర రేగడి, చల్కా నేలల్లో మరియు మురుగు నీరు పోయే వసతి గల నల్ల రేగడి నేలల్లో సాగు చేసుకోవచ్చు. చౌడు నేలలు, నీటి ముంపుకు గురయ్యే నేలలు పనికి రావు. భూమిని రెండు సార్లు నాగళ్ళతో దున్ని నేలను మెత్తగా తయారు చేయాలి. 
		</div>
		<div class="roundedrect">
			ఎరువులు
		</div>

		<div class ="sub-section">
			చివరి దుక్కిలో ఎకరాకు 2 టన్నుల ఎరువుల ఎరువు, ఖరీఫ్లో 8 కిలోలు, రబీలో 16 కిలోల నత్రజని, ఈ రెండు కాలాల్లోనూ 20 కిలోల చొప్పున భాస్వరం వేసుకోవాలి. అంతరపంటగా వేసినప్పుడు పైరును బట్టి వేసే ఎరువు మోతాదు మారుతుంది. ప్రధాన పైరుకు, అంతర పంటకు వేరువేరుగా ఎకరాకువులు వేయాలి.
		</div>
    </div>
  </ion-content>
</ion-view>