<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	పల్నాడు (ఎల్.ఆర్.జి. 30)
	    </div>
	    
		<div class="sub-section">
			<div><h4><b>పంటకాలం (రోజుల్లో)</b></h4></div>

			<div>ఖరీఫ్</div>			
			<div>170 – 180</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div>రబీ </div>
			<div>120 – 130</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div><h4><b>గుణగణాలు</b></h4></div>
			<div>మొక్క గుబురుగా పెరిగి కాపు మీద ప్రక్కలకు వాలి పోతుంది. పువ్వులు పసుపు పచ్చగా వుంటాయి. గింజలు మధ్యస్థ లావుగా గోధుమ రంగులో ఉంటాయి.</div>
			<div>మన రాష్ట్రంలోని అన్ని ప్రాంతాలకు అనువైన రకం. రబీకి కూడా అనుకూలం. ఎండు, వెర్రి తెగుళ్లను తట్టుకోలేదు.</div>
		</div>
    </div>
  </ion-content>
</ion-view>