<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఎల్.ఆర్.జి. 38
	    </div>
	    
		<div class="sub-section">
			<div><h4><b>పంటకాలం (రోజుల్లో)</b></h4></div>

			<div>ఖరీఫ్</div>			
			<div>170</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div>రబీ </div>
			<div>120 – 130</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div><h4><b>గుణగణాలు</b></h4></div>
			<div>మొక్కలు ఎత్తుగా, గుబురుగా పెరుగుతాయి. పువ్వులు పసుపు పచ్చగా వుంటాయి. గింజలు లావుగా, గోధుమ వర్ణంలో ఉంటాయి. తొలకరికి, రబీకి కూడా అనుకూలం.</div>
			
		</div>
    </div>
  </ion-content>
</ion-view>