<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఎల్.ఆర్.జి. 41
	    </div>
	    
		<div class="sub-section">
			<div><h4><b>పంటకాలం (రోజుల్లో)</b></h4></div>

			<div>ఖరీఫ్</div>			
			<div>180</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div>రబీ </div>
			<div>120 – 130</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>8-10</div>
			<div>&nbsp;</div>
			<div><h4><b>గుణగణాలు</b></h4></div>
			<div>పైరు ఒకేసారి పూతకు రావటం వలన కొమ్మలు వంగుతాయి. శనగ పచ్చ పురుగును తట్టుకొంటుంది. నల్లరేగడి భూములకు అనుకూలం. నీటి వసతితో తేలికపాటి భూముల్లో కూడా పండించవచ్చు.</div>
			
		</div>
    </div>
  </ion-content>
</ion-view>