<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	ఎల్.ఆర్.జి. 158
	    </div>
	    
		<div class="sub-section">
			<div><h4><b>పంటకాలం (రోజుల్లో)</b></h4></div>

			<div>ఖరీఫ్</div>			
			<div>145-150</div>
			<div>దిగుబడి (క్వింటాళ్ళు /ఎకర) 
			<div>6-7</div>
			
			<div>&nbsp;</div>
			<div><h4><b>గుణగణాలు</b></h4></div>
			<div>ఎండు తెగులును కొంత వరకు తట్టుకొంటుంది. రాయలసీమ ప్రాంతం లోని తేలికపాటి, ఎర్ర చల్కా నేలల్లో వర్షాధారంగా సాగుచేయటానికి అనువైనది.
			</div>
			<div><h4><b>విత్తన శుద్ధి</b></h4></div>
			<div>
			 రైజోబియంను విత్తనంలో కలిపి విత్తితే అధిక దిగుబడిని పొందవచ్చు.</div>
			
		</div>
    </div>
  </ion-content>
</ion-view>