<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
            <div class="oval">     రకాలు </div>
      <a href='#/app/redgram7-1'>
        <div class="section-heading">
        	పల్నాడు (ఎల్.ఆర్.జి. 30)
        </div>
      </a>
      <a href='#/app/redgram7-2'>
        <div class="section-heading">
            ఎల్.ఆర్.జి 38
        </div>
      </a>
      <a href='#/app/redgram7-3'>
        <div class="section-heading">
        	ఎల్.ఆర్.జి 41
        </div>
      </a>
      <a href='#/app/redgram7-4'>
        <div class="section-heading">
            పి.ఆర్.జి. 158
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>