<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    		నీటి యాజమాన్యం
	    </div>
	    
		<div class="sub-section">
			ఈశాన్య ఋతుపవనాల ప్రభావం లేని ప్రాంతాల్లో రబీ కందికి 2 తేలిక పాటి తడులు ఇవ్వాలి. ఈ తడులు మొగ్గ రాబోయే ముందు ఒకసారి, కాయదశలో మరోసారి ఇవ్వాలి.
		</div>

		<div class="roundedrect">
			కలుపు నివారణ, అంతరకృషి
		</div>

		<div class ="sub-section">
			పెండి మిథాలిన్ 30% ఎకరాకు 1.0 – 1.5 లీటర్లు లేదా అలాక్లోర్ 50% ఎకరాకు లీటరు చొప్పున విత్తిన వెంటనే గానీ మరుసటి రోజుగానీ పిచికారీ చేయాలి. విత్తిన 30, 65 రోజులప్పుడు గుంతకతోగానీ, గొర్రుతోగానీ అంతర కృషి చేయాలి.
		</div>
    </div>
  </ion-content>
</ion-view>