<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	అంతర పంటలు
	    </div>
	   
		<div class="sub-section">
			 తక్కువ కాలపరిమితి గల మినుము, పెసర, తృణ ధాన్యాలు, వేరుశనగలను అంతర పంటలుగా వేసుకోవచ్చు.   
		</div>
		<div class="roundedrect">
			అంతర పంటల నిష్పత్తి
		</div>

		<div class ="sub-section">
			కంది + జొన్న / మొక్కజొన్న / సజ్జ (1:2), కంది +పెసర / మినుము/సోయాచిక్కుడు/వేరుశనగ (1:7)
		</div>
		<div>
			<table>
				<thead>
					<tr>
					<th rowspan="2">
						పంటల మిశ్రమం
					</th>
					<th rowspan="2" colspan="4">
						విత్తన మోతాదు (కిలో/ఎకరాకు)
					</th>
					<th colspan="4">
						ఎరువులు (కిలో/ఎకరాకు)
					</th>
					</tr>
					<tr>
						<th colspan="2">
							నత్రజని
						</th>
						<th colspan="2">
							భాస్వరం
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2">కంది</td>
						<td colspan="2">వేరుశనగ /మొక్కజొన్న</td>
						<td>కంది</td>
						<td>వేరుశనగ /మొక్కజొన్న</td>
						<td>కంది</td>
						<td>వేరుశనగ /మొక్కజొన్న</td>
					</tr>
					<tr>
						<td>కంది+వేరుశనగ (1:7)</td>
						<td colspan="2">1-5</td>
						<td colspan="2">42-45</td>
						<td>8</td>
						<td>18</td>
						<td>20</td>
						<td>35</td>
					</tr>
					<tr>
						<td>కంది+మొక్కజొన్న (1:2)</td>
						<td colspan="2">2-3</td>
						<td colspan="2">6</td>
						<td>8</td>
						<td>22</td>
						<td>20</td>
						<td>11</td>
					</tr>

				</tbody>
			</table>

		</div>
    </div>
  </ion-content>
</ion-view>