<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
             <h3 class="crop-heading">    వరి మెనూ</h3>
      <a href='#/app/paddy2'>
        <div class="section-heading">
            విత్తన శుద్ధి, నిద్రావస్థ, విత్తన మోతాదు / ఎకరాకు
        </div>
      </a>
      <a href='#/app/paddy3'>
      <div class="section-heading">
          రకాలు
      </div>
      </a>
       <a href='#/app/paddy4'>
      <div class="section-heading">
          ఆరోగ్యవంతమైన నారు పెంచడానికి సూచనలు
      </div>
      </a>
       <a href='#/app/paddy5'>
      <div class="section-heading">
          నాట్లు
      </div>
      </a>
       <a href='#/app/paddy6'>
      <div class="section-heading">
          సమగ్ర పోషక యాజమాన్యం
      </div>
      </a>
       <a href='#/app/paddy7'>
      <div class="section-heading">
          దక్షిణ మండలంలో సిఫారసు చేసిన పోషకాల మోతాదు (కిలోలు / ఎకరాకు)
      </div>
      </a>
       <a href='#/app/paddy8'>
      <div class="section-heading">
          జింకులోప లక్షణాలు, ఇనుములోప లక్షణాలు
      </div>
      </a>
       <a href='#/app/paddy9'>
      <div class="section-heading">
          కలుపు యాజమాన్యం
      </div>
      </a>
       <a href='#/app/paddy10'>
      <div class="section-heading">
          నీటియాజమాన్యం
      </div>
      </a>
       <a href='#/app/paddy11'>
      <div class="section-heading">
          దమ్ముచేసిన పొలంలో వరిని నేరుగా విత్తే పద్దతి
      </div>
      </a>
       <a href='#/app/paddy12'>
      <div class="section-heading">
          వరిలో ఎలుకల నియంత్రణ
      </div>
      </a>
       <a href='#/app/paddy13'>
      <div class="section-heading">
          పురుగులు
      </div>
      </a>
       <a href='#/app/paddy14'>
      <div class="section-heading">
          తెగుళ్ళు
      </div>
      </a>
    
    </div>
  </ion-content>
</ion-view>
