<ion-view class="pretextView">
  <ion-content>
  	 <div class ="sub-section">
	    	నీటియాజమాన్యం
	</div>
	<div class="roundedrect">
		<div>
			నాట్లు వేసేటప్పుడు నీరు పలుచగా వుండాలి. ఎండలు ఎక్కువగా వుంటే ఊడ్చిన వెంటనే 5 సెం.మీ. వరకు నీరు నిలగట్టాలి. మూన తిరిగిన రోజు నుండి పైరు దుబ్బు చేయటం పూర్తి అయ్యేవరకు పొలంలో పలుచగా అంటే 2-3 సెం.మీ. నీరు ఉండాలి. చిరుపొట్ట దశనుండి గింజ గట్టి పడేవరకు 5 సెం.మీ. లోతు వరకు నీరుండాలి. కోతకు 10 రోజుల ముందుగా నీటిని నెమ్మదిగా తగ్గించి ఆరబెట్టాలి.
		</div>
		<div><b>వరికోత:- </b>వెన్నులోని 80% గింజలు పక్వానికి వచ్చిన తర్వాత, కాండం పచ్చగా ఉన్నప్పుడే కోత కోయటం మంచిది. కోతకు పూత దశనుండి సుమారు 28-32 రోజుల వ్యవధి తీసుకొంటుంది.</div>
	</div>
</ion-content>
</ion-view>