<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu ">
    	<div class ="sub-section">
    	దమ్ముచేసిన పొలంలో వారిని నేరుగా విత్తే పద్ధతి
    	</div>
    	<div class="leftalign">
    		సాగు ఖర్చు తగ్గించుకొని, కూలీల సమస్యను అధిగమిస్తూ సాంప్రదాయకంగా నారు పెంచి నాటేదానికి ప్రత్యామ్నాయంగా ఈ పద్ధతిని ఆచార్య ఎన్.జి.రంగా వ్యవసాయ విశ్వవిద్యాలయం క్షేత్ర స్థాయిలో రైతుల పొలాలలో ఆచరణలోకి తీసుకువచ్చింది. ఈ సాగు వలన కలుగు ప్రధాన ఉపయోగములు
    	</div>
    	<div class="leftalign">
    		<ol>
    			<li>విత్తనం ఎకరానికి 15-20 కిలోలు ఆదా అవుతుంది.</li>
    			<li>నారు పెంపకం, నారు పీకడం, నాట్లు వేసేపని వుండదు కాబట్టి సాగు ఖర్చు ఎకరానికి రూ.2500/- నుండి రూ.3000/- వరకు తగ్గుతుంది.</li>
    			<li>మొక్కల సాంద్రత సరిపడా వుండటం వలన దిగుబడి 10-15 శాతం పెరుగుతుంది.</li>
    		</ol>
    		<div>
    			<b>ఈ పద్దతిలో మెళకువలు:</b>
    		</div>
    		<div>
    			<b>1. నేలలు:</b><span>సమస్యాత్మక నేలలు (చౌడు /క్షారము / ఆమ్లము) తప్ప సాధారణంగా వరిని సాగు చేసే అన్ని నేలలు అనుకూలం. ముంపుకు గురయ్యే భూములు సాగుకు అనుకూలం కాదు.</span>
    		</div>
    		<div>
    			<b>2. విత్తన మోతాదు:</b>
    			<span>రకాన్నిబట్టి ఎకరాకు 10-15 కిలోలు అవసరమవుతాయి.</span>
    		</div>
    		<div>
    			<b>3. విత్తనాన్ని మండె కట్టడం:</b>
    			<span>విత్తనాలను 24 గంగలు నానబెట్టి, నానిన విత్తనాలను గొనె సంచిలో వేసి కానీ లేదా సంచి కప్పిగానీ 24 గంటల పాటు ఉంచాలి. 24 గంటల తర్వాత చూస్తే విత్తనాల ముక్కు పగిలి తెల్లగా మోసు వస్తుంది. రబీ పంట కాలంలో 36 గంటల మండె కట్టాలి. డ్రం సీడర్ పద్ధతిలో గింజలకు ముక్కు పగిలి తెల్లపూస వస్తే సరిపోతుంది.</span>
    		</div>
    		<div>
    			<b>4. ప్రధాన పొలం తయారీ:</b>
    			<span>పొలంలో నీరు నిలువ వుండకూడదు కాబట్టి నీరు ఎక్కువైతే బయటికి పోవటానికి ఏర్పాట్లు చేయాలి. వీలైనంత బాగా చదును చేసుకోవాలి. పెద్దగా వున్నా పొలాలను చిన్న మడులుగా విభజించుకోవాలి. బంక నేలల్లో చివరి దమ్ము చేసి, చదును చేసిన మరుసటి రోజు విత్తుకోవచ్చు. ఇసుక శాతం ఎక్కువ వున్న నేలల్లో విత్తాలనుకున్న రోజే ఆఖరి దమ్ము చేసి, చదునుచేసి పలుచటి నీటి పోర ఉండేటట్లు చూసుకోవాలి. మండె కట్టి మొలక వచ్చిన విత్తనాలను వెదజల్లిగానీ, డ్రం సీడర్ తోగానీ విత్తుకోవాలి.</span>
    		</div>
    		<div>
    			<b>5. వెదజల్లే పద్ధతి: </b>
    			<span>డ్రం సీడర్ డ్రమ్ములో మొలకెత్తిన విత్తనాలను నింపి మూత బిగించాలి. గింజలు రాలడానికి వీలుగా ప్రతి డ్రంలో కేవలం 3/4 వంతు మాత్రమే గింజలను నింపాలి. గింజలు నింపిన డ్రం సీడర్ లాగితే 8 వరుసలలో వరుసకు మధ్య 20 సెం.మీ. దూరంలో గింజలు పడతాయి. వరసల్లో కుదురుకు కుదురుకు మధ్య దూరం 5 – 8 సెం.మీ. ఉంటుంది. ఒక్కో కుదురులో 5–8 గిజలు రాలడం జరుగుతుంది. 16 వరుసలకు అడుగు వెడల్పు కాలిబాటలు వుంచుకోవాలి.</span>
    		</div>
    		<div>
    			<b>6. ఎరువుల యాజమాన్యం:</b>
    			<span>ఈ పద్దతికి కూడా సాధారణ పద్దతిలో సిఫారసు చేసిన మోతాదే సరిపోతుంది. కాకపొతే దమ్ములో నత్రజని ఎరువులు వేయకుండా కేవలం భాస్వరం ఎరువు (మొత్తం మోతాదు) మరియు పొటాష్ ఎరువు (సిఫారసు చేసిన మోతాదులో సగం) మాత్రమే వేయాలి.</span>
    		</div>
    		<div>
    			<b>7. కలుపు యాజమాన్యం: </b>
    			<span>ఒక ఎకరాకు 35గ్రా. ఆక్సాడయార్జిల్ మందును లేదా ప్రేట్లాక్లోర్ 400 మి. లీ. లు లేదా పైరజో సల్ఫురాన్ 100 గ్రా. మందును 20 కిలోల పొడి ఇసుకలో కలిపి విత్తిన 3-5 రోజుల మధ్య పొలంలో పలుచగా నీరు పెట్టి కలుపు మందును చల్లాలి. డ్రం సీడర్ తో విత్తినపుడు, విత్తిన 20-25 రోజులకు కోనోవీడర్ ను  నడపాలి. </span>
    		</div>
    		<div>
    			<b>8. నీటి యాజమాన్యం:</b>
    			<span>విత్తనం వేసినప్పటి నుండి పొట్ట దశ వరకు పొలంలో నీరు నిల్వ ఉండకుండా కేవలం బురదగా మాత్రమే ఉంచాలి. ఎక్కువైన నీరు బయటకు పోవడానికి కాలువలు ఏర్పాటు చేయాలి. పైరు పొట్టదశ నుండి పంట కోసే వారం పది రోజులముందు వరకు 2 సెం.మీ. నీరు నిల్వ ఉండేలా చూసుకోవాలి.</span>
    		</div>


    	</div>
    </div>
  </ion-content>
</ion-view>