<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
    	<div class ="sub-section">
	    	వరిలో ఎలుకల నియంత్రణ
    	</div>
    	<ul class="leftalign">
    	   <li>
    	   		<b>యాజమాన్య పద్ధతులు: </b>
    	   		<span>గట్లపై గడ్డి, కలుపు లేకుండా శుభ్రపరుచుకోవాలి. గట్లను పదునైన పారతో చెక్కుకోవాలి.</span>	
    	   </li>
    	   <li>    	   		
    	   		<span>గట్లపై గడ్డి, కలుపు లేకుండా శుభ్రపరుచుకోవాలి. గట్లను పదునైన పారతో చెక్కుకోవాలి.</span>
    	   </li>
    	   <li>
    	   		<span>ఎలుకల బుట్టలను నారుమడి పోసిన దగ్గర నుండి దమ్ములో పూర్తి అయిన తర్వాత, నాట్లు వేసిన ఒక నెల వరకు మరియు కోతల తర్వాత ఎకరానికి 20 చొప్పున పెట్టినచో వలసవచ్చే మరియు పోయే ఎలుకలను సమర్థవంతంగా నివారించవచ్చును.
    	   		</span>
    	   </li>
    	   <li>	
    	   		<b>నివారణ చర్యలు:</b>
    	   		<span>ఎలుకల నివారణను ఉద్యమ రూపంలో సామూహికంగా పంట లేని సమయంలో చేపట్టాలి. ఆ సమయంలో ఎలుకలకు కావలసిన ఆహారం తక్కువగా ఉన్నందున ‘ఎర’ను తినటానికి అవకాశం ఎక్కువ. పంటకాలంలో విషపు ఎరలను చిరుపొట్ట దశ ఏర్పడక ముందే ఉపయోగించాలి. </span>
    	   </li>
    	   <li>
    	   		<b>బ్రోమడయోలోన్: </b>
    	   		<span>ఈ ఎరను 10-15 గ్రా. (96 పాళ్ళు నూకలు, 2 పాళ్ళ నూనె, 2 పాళ్ళ మందు) పొట్లాలుగా కట్టి కన్నంలో ఒకటి చొప్పున పెట్టాలి. సజీవ ఎలుక బొరియలలో పదిరోజుల వ్యవధితో పైరు చిరుపొట్ట దశ కొచ్చే వరకు రెండు మూడు సార్లు వాడవచ్చు.</span>
    	   </li>	
    	   <li>
    	   		<b>జింకు ఫాస్పైడ్: </b>
    	   		<span>ఎలుకల ఉదృతి మరీ ఎక్కువగా ఉన్నప్పుడు పంట కాలంలో ఒక్కసారి మాత్రమే జింకు ఫాస్పైడు ఎరను వాడాలి. దీనికై ముందుగా విషం లేని ఎరను 20 గ్రా. (98 పాళ్ళు నూకలు, 2 పాళ్ళు నూనె) పొట్లాలుగా కట్టి కన్నానికి ఒకటి చొప్ప్పున పెట్టి రెండు రోజులు ఎలుకలను మచ్చిక చేసుకోవాలి. మూడవ రోజు జింకు ఫాస్పైడ్ ఎరను 10 గ్రా. (96 పాళ్ళు నూకలు, 2 పాళ్ళు నూనె, 2 పాళ్ళు మందు) పొట్లాలు కట్టి కన్నంలో ఒకటి చొప్పున వేయాలి.</span>
    	   </li>	
    	   <li>
    	   		<b>బర్రోఫూమిగేటర్ (పోగాబారించే యంత్రం):</b>
    	   		<span>పంట ఏ దశలోనైనా ఎలుక కన్నాలలో పొగను “బర్రోఫూమిగేటర్” ద్వారా వదలి సులువుగా చంపవచ్చు. పొగను వదిలేటప్పుడు కన్నంచుట్టూ  వున్న పగుల్లను మట్టితో మూసివేసి, పొగను కనీసం మూడు నిమిషాలు వదలాలి. ఎలుకలు రసాయనిక ఎరలను స్వీకరించని సమయాల్లో కూడా దీనిద్వారా మంచి ఫలితాలను పొందవచ్చును. పంట ఈనిక దశలో పొగబారించడం ద్వారా ఒకే కన్నంలో వివిధ దశలలో వున్న ఎలుకలను, చూడు ఎలుకలను నిర్మూలించి తదుపరి సీజన్లో వాటి ఉదృతిని తగ్గించవచ్చును.</span>
    	   </li>	
    	 	
    	</ul>
    </div>
   </ion-content>
</ion-view>