<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  ఉల్లికోడు
        </div>
         <div class="img-wrapper">
            <img src="img/13.1.jpg"></img>
          </div>
        <div class="roundedrect">
          <br><b>పురుగు ఆశించిన గుర్తులు</b><br><br>

          నారుమడి దశనుండి పిలకదశ వరకు నష్ట పరుస్తుంది. అంకురం ఉల్లికాడవలె పొడగాటి గొట్టంగా మారి బయటకు వస్తుంది కంకి వెయ్యదు.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          నారుమడిలో : చ.మీ. కు 1. ఉల్లికోడు సోకిన పిలక పిలకదశలో : 5 శాతం ఉల్లిగొట్టాలు లేక దుబ్బుకి 1 కోడు సోకిన పిలక

          <br><br><b>నివారణ</b><br><br>

          తట్టుకునే వంగడాల సాగు. ఒక సెంటు నారుమడిలో 160 గ్రా.ల కార్బోప్యూరాన్ లేక 50గ్రా. ఫోరేట్ గుళికలు విత్తనం మొలకెత్తిన 10 నుండి 15 రోజుల లోపల వేయాలి. నాటిన 10 నుండి 15 రోజులకు ఎకరాకు  కార్బోప్యూరాన్ 10 కిలోలు లేక ఫోరేట్ 5 కిలోల గుళికలు వాడాలి.

        </div>
    </ion-content>
</ion-view>
