<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  కాడం తొలిచే పురుగు
        </div>
        <div class="roundedrect">
          <br><b>పురుగు ఆశించిన గుర్తులుు</b><br><br>

          నారుమడి నుండి ఈనిక దశవరకు ఆశిస్తుంది. పిలకదశలో – మొవ్వు చనిపోతుంది. ఈనిక దశలో – తెల్ల కంకులు వస్తాయి.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          <b>నారుమడి :</b> చ.మీ. కు 1 తల్లి పురుగు లేదా గ్రుడ్ల సముదాయం
          <b>పిలకదశ:</b> 5 శాతం చచ్చిన మొవ్వులు లేక 1 చ.మీ. కు ఒక తల్లి పురుగు లేక గ్రుడ్ల సముదాయం


          <br><br><b>నివారణ</b><br><br>

          క్లోరిఫైరిఫాస్ 2.5 మి.లీ. లేక ఎసిఫేట్ 1.5 గ్రా. లు లేదా కార్టాఫ్ హైడ్రోక్లోరైడ్ 2.0 గ్రా. క్లోరాస్ట్ట్ర్ నిలిప్రోల్ 20 ఎస్.సి. 0.4 మి.లీ. లీటరు నీటికి కలిపి పిచికారీ చేయాలి. లేక చిరుపొట్ట దశలో  కార్టాఫ్ హైడ్రోక్లోరైడ్ 4జి ఎకరాకు 8 కిలోలు లేదా కార్బొఫ్యూరాన్ 3జి గుళికలు ఎకరాకు 10 కిలోలు వాడాలి.

        </div>
    </ion-content>
</ion-view>
