<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  ఆకుముడత / నాము / తెల్ల తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/13.3.jpg"></img>
          </div>
        <div class="roundedrect">
          <br><b>పురుగు ఆశించిన గుర్తులుు</b><br><br>

          గొంగళి పురుగు ఆకుముడతలో వుండి పత్రహరితాన్ని గోకి తినివేయడం వలన ఆకులు తెల్లబడతాయి. పోటాకు దశలో నష్టం ఎక్కువ.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>
          దుబ్బుకి 1 లార్వా లేక 2 పురుగులు సోకిన ఆకులు

          <br><br><b>నివారణ</b><br><br>

          పిలకదశలో తాడుతో చేనును అడ్డంగా 2-3 సార్లు లాగితే పురుగులు క్రిందపడి పోతాయి. క్లోరిఫైరిఫాస్ 2.5 మి.లీ. లేక ఎసిఫేట్ 1.5 గ్రా. లేక  కార్టాప్ హైడ్రోక్లోరైడ్ 2 గ్రా.  క్లోరాస్ట్ట్ర్ నిలిప్రోల్ 0.4 మి.లీ. లేక ఫ్లూబెండమైడ్ 20 డబ్ల్యుడిజి 0.25 గ్రా. లేదా 48 ఎస్.సి 0.1 మి.లీ. లీటరు నీటికి కలిపి సుడిదోమ లేని పరిస్థితులలో ఒకసారి వాడాలి లేక కార్టాప్  హైడ్రోక్లోరైడ్ 4జి గుళికలు ఎకరాకు 8 కిలోలు వేయాలి.

        </div>
    </ion-content>
</ion-view>
