<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
          సుడిదోమ
        </div>
         <div class="img-wrapper">
            <img src="img/13.4.jpg"></img>
          </div>
        <div class="roundedrect">
          <br><b>పురుగు ఆశించిన గుర్తులుు</b><br><br>

          గోధుమ వర్ణపు / తెల్లమచ్చ దోమలు దుబ్బుల అడుగున నీటిమట్టంపై వుండి దుబ్బులనుండి రసాన్ని పీలుస్తాయి. పైరు సుడులు సుడులుగా ఎండిపోతుంది.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          పిలక దశలో : దుబ్బుకి 10 పురుగులు ఈనిక దశలో : దుబ్బుకి 20 నుంచి 25 పురుగులు.

          <br><br><b>నివారణ</b><br><br>

          తట్టుకునే రకాలు సాగు చేయాలి. పొలాన్ని అడపా దడపా ఆరబెట్టాలి. ప్రతి రెండు మీ. లకి 20 సెం.మీ. ల బాటలు వదలాలి. బూప్రోపెజిన్ 1.6 మి.లీ. లేక ఇతోఫెన్ ఫ్రాక్స్ 2.0 మి.లీ. లేక ఎసిఫేట్ 1.5 గ్రా. లేక ఇమిడా క్లోఫ్రిడ్ + ఎథిఫ్రోల్ 80 డబ్వ్లుజి 0.25 గ్రా. లేక మోనోక్రోటోఫాస్ 2.2 మి.లీ. లేదా పైమెట్రోజన్ 0.6 గ్రా. లీటరు నీటికి కలిపి వాడాలి.

        </div>
    </ion-content>
</ion-view>
