<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
          కంకినల్లి (నల్లకంకి)
        </div>
        <div class="roundedrect">
          <br><b>పురుగు ఆశించిన గుర్తులుు</b><br><br>

          ఇవి కంటికి కనబడని సూక్ష్మ సాలీడు వర్గానికి చెందిన పురుగులు. ఇవి ఆశించిన ఆకులపై పసుపు వర్ణపు చారలు ఏర్పడి క్రమేపి ఆకు తొడిమల తేమ లోపల, ఆకు ఈనెలలో వృద్ధి చెందుతాయి. ఆకు అడుగుభాగాన ఈనెలపై మరియు ఆకు తొడిమలపై నల్లటిమచ్చలు ఏర్పడతాయి. గింజలపై నల్లటి మచ్చలు ఏర్పడి పాలుపోసుకోక తాలు గింజలుగా అవుతాయి.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          Content is missing in the document.

          <br><br><b>నివారణ</b><br><br>

          పురుగు నష్ట లక్షణాలు గుర్తించిన వెంటనే 15 రోజుల వ్యవధిలో రెండుసార్లు ప్రోఫేనోఫాస్ 2 మి.లీ. లేక డైకోఫాల్ 5 మి.లీ. లీటరు నీటిలో కలిపి పిచికారీ చేయాలి.

        </div>
    </ion-content>
</ion-view>
