<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
                వరి మెనూ
      <a href='#/app/paddy13-1'>
        <div class="section-heading">
            ఉల్లికోడు
        </div>
      </a>
      <a href='#/app/paddy13-2'>
        <div class="section-heading">
            కాడం తొలిచే పురుగు
        </div>
      </a>
      <a href='#/app/paddy13-3'>
        <div class="section-heading">
          ఆకుముడత
        </div>
      </a>
      <a href='#/app/paddy13-4'>
        <div class="section-heading">
            సుడిదోమ
        </div>
      </a>
      <a href='#/app/paddy13-5'>
        <div class="section-heading">
            పచ్చదీపపు పురుగులు
        </div>
      </a>
      <a href='#/app/paddy13-6'>
        <div class="section-heading">
            కంకినల్లి (నల్లకంకి)
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
