<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
            <div class="oval">     వరి పురుగులు </div>
      <a href='#/app/paddy13-1'>
        <div class="section-heading">
          <img src="img/13.1.jpg">
          ఉల్లికోడు 
          </img>
        </div>
      </a>
      <a href='#/app/paddy13-2'>
        <div class="section-heading">
            <img src="img/13.2.jpg">
            కాడం తొలిచే పురుగు
            </img>

        </div>
      </a>
      <a href='#/app/paddy13-3'>
        <div class="section-heading">
          <img src="img/13.3.jpg">
          ఆకుముడత
          </img>
        </div>
      </a>
      <a href='#/app/paddy13-4'>
        <div class="section-heading">
            <img src="img/13.4.jpg">
            సుడిదోమ
            </img>
        </div>
      </a>
      <a href='#/app/paddy13-5'>
        <div class="section-heading">
            <img src="img/13.5.jpg">
            పచ్చదీపపు పురుగులు
            </img>
        </div>
      </a>
      <a href='#/app/paddy13-6'>
        <div class="section-heading">
            <img src="img/13.6.jpg">
            కంకినల్లి (నల్లకంకి)
            </img>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
