<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
        అగ్గితెగులు లేక మెడ విరుపు తెగులు
        </div>
        <div class="roundedrect">
          <br><b>తెగులు ఆశించినపుడు కనబడే లక్షణాలు</b><br><br>

          ఆకులపై ముదురు గోధుమ రంగు అంచుతో మధ్యలో బూడిదరంగు గల నూలుకండె ఆకారపు మచ్చలు ఏర్పడి  ఆకులు ఎండిపోయి తగులబడినట్లు కనిపిస్తాయి. పిలకల కణుపుల వద్ద ఆశిస్తే ఆ ప్రదేశం వద్ద విరిగి పిలక వాలిపోతుంది వెన్నుల మెడభాగంలో ఈ తెగులు ఆశించటంవలన వెన్నులు విరిగి క్రిందికి వాలిపోతాయి.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          5 శాతం ఆకులు మరియు 2 శాతం ఆశించిన వెన్నులు

          <br><br><b>నివారణ</b><br><br>

          తట్టుకొనే శక్తిగల రకాల సాగు కిలో విత్తనానికి 3 గ్రా. కార్బండిజంని కలిపి పొడి విత్తన శుద్ధి లేదా 1 గ్రా. లీటరు నీటికి, కిలో విత్తనానికి కలిపి తడి విత్తన శుద్ధి చేయాలి. ట్రైసైక్లోజోల్  75 శాతం 0.6 గ్రా. లేదా ఐసోప్రోధయొలేన్ 40శాతం 1.5 మి.లీ. (లేక) కాసుగా మైసిన్ 3 ఎల్ 2.5 మి.లీ. / లీటరు నీటికి కలిపి పైరుపై పిచికారీ చేయాలి. చేనులోను, గట్లపైన కలుపును సకాలంలో నివారించాలి. తగు మోతాదులో నత్రజని ఎరువులను ఎక్కువ ధఫాలుగా వాడాలి. పైరులో నీరు లేకుండా ఆరగట్టరాదు.

        </div>
    </ion-content>
</ion-view>
