<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
          పొడతెగులు లేక మాగుడు తెగులు
        </div>
        <div class="roundedrect">
          <br><b>తెగులు ఆశించినపుడు కనబడే లక్షణాలు</b><br><br>

          దుబ్బుచేసే దశనుండి కాండం / మట్ట ఆకులపై మచ్చలు పెద్దవై పాముపొడ మచ్చలుగా ఏర్పడుతాయి. మొక్కలు/పైరు పూర్తిగా ఎండిపోతుంది. తెగులు వెన్నువరకు వ్యాపిస్తే తాలు గింజలు ఏర్పడుతాయి.

          <br><br><b>నిర్ణీత తీవ్రత స్థాయి</b><br><br>

          10 శాతం పిలకలు

          <br><br><b>నివారణ</b><br><br>

          విత్తనశుద్ది చేయాలి. సిఫారసు చేసిన నత్రజనిని 3-4 సార్లు వేయాలి. గట్లపైన, చేనులో కలుపు లేకుండా చూడాలి. హెక్సా కోనోజోల్ 2 మి.లీ. లేక వాలిడా మైసిన్ 2 మి.లీ. లేక ప్రోఫికోనజోల్ 1 మి.లీ. లేదా ట్రైఫ్లాక్సీ స్ట్రోబిస్ + టేబ్యుకోనజోల్ 75 డబ్యు జి 0.4 గ్రా. లీటరు నీటికి కలిపి 15 రోజుల కొకసారి రెండు పర్యాయాలు మందు ద్రావణాన్ని పిచికారీ చేయాలి.

        </div>
    </ion-content>
</ion-view>
