<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
        కాండం కుళ్ళు తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/14.3.jpg"></img>
          </div>
        <div class="roundedrect">
          <br><b>తెగులు ఆశించినపుడు కనబడే లక్షణాలు</b><br><br>

          కాండం లోపల కణుపుల మధ్యభాగమంతా నల్లగా మారుతుంది. ఆకులు పసుపు రంగుకు మారుతాయి. పిలకలు వాలిపోయి ఎండిపోతాయి. క్రమంగా దుబ్బు అంతా ఎండిపోతుంది. వెన్నులో తాలుగింజలు ఏర్పడుతాయి. పూర్తిగా ఎండిన పిలకలను చీల్చి చూసిన లోపలి భాగంలో నల్లని చిన్న చిన్న శిలీంధ్ర బీజాలు కనిపిస్తాయి.

      

          <br><br><b>నివారణ</b><br><br>

          తెగులు సోకిన పొలంలో పరిశుభ్రత పాటించాలి. మురుగు నీరు నిల్వ ఉండకుండా చూడాలి. విత్తనశుద్ది చేయాలి. ప్రారంభం లో తెగులు లక్షణాలను గుర్తించి హెక్సాకోనోజోల్ (2 మి.లీ.) లేదా వాలిడామైసిన్ (2 మి.లీ.) లేదా ప్రోపికొనజోల్ 1 మి.లీ. లేదా కార్బండిజం (1 గ్రా.) లేదా బెనోమిల్ (1 గ్రా.) లీటరు నీటికి కలిపిన ద్రావణాన్ని 15 రోజుల కొకసారి 2 సార్లు పిలకల క్రిందవరకు తడిసేలా పిచికారీ చేయాలి.

        </div>
    </ion-content>
</ion-view>
  