<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
        పొట్ట కుళ్ళు తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/14.4.jpg"></img>
          </div>
        <div class="roundedrect">
          <br><b>తెగులు ఆశించినపుడు కనబడే లక్షణాలు</b><br><br>

          పోటాకు తొడిమలపై నల్లటి ముదురు గోధుమ రంగు/చాక్లెట్ రంగు మచ్చలు ఏర్పడి వెన్నులు పొట్టలో కుళ్ళిపోతాయి వెన్ను పాక్షికముగా మాత్రమే బయటకు వస్తుంది. వెన్నులో తాలు గింజలు ఏర్పడుతాయి. గింజలు రంగు మారుతాయి.

     

          <br><br><b>నివారణ</b><br><br>

          పొట్టదశలో ఒకసారి 7 రోజుల తర్వాత రెండవసారి కార్బండిజం 50 శాతం మందు లీటరు నీటికి 1 గ్రా. చొ.న కలిపి పిచికారీ చేయాలి.

        </div>
    </ion-content>
</ion-view>
