<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
                వరి మెనూ
      <a href='#/app/paddy14-1'>
        <div class="section-heading">
          అగ్గితెగులు లేక మెడ విరుపు తెగులు
        </div>
      </a>
      <a href='#/app/paddy14-2'>
        <div class="section-heading">
          పొడతెగులు లేక మాగుడు తెగులు
        </div>
      </a>
      <a href='#/app/paddy14-3'>
        <div class="section-heading">
          కాండం కుళ్ళు తెగులు
        </div>
      </a>
      <a href='#/app/paddy14-4'>
        <div class="section-heading">
          పొట్ట కుళ్ళు తెగులు
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
