<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu tegulu">
                వరి  తెగుళ్ళు
      <a href='#/app/paddy14-1'>
        <div class="section-heading">
           <img src="img/14.1.jpg">అగ్గితెగులు లేక మెడ విరుపు తెగులు</img>
        </div>
      </a>
      <a href='#/app/paddy14-2'>
        <div class="section-heading">
           <img src="img/14.2.jpg">పొడతెగులు లేక మాగుడు తెగులు</img>
        </div>
      </a>
      <a href='#/app/paddy14-3'>
        <div class="section-heading">
           <img src="img/14.3.jpg">కాండం కుళ్ళు తెగులు</img>
        </div>
      </a>
      <a href='#/app/paddy14-4'>
        <div class="section-heading">
           <img src="img/14.4.jpg">పొట్ట కుళ్ళు తెగులు</img>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
