

<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	విత్తన శుద్ధి
	    </div>
	    
		<div class="roundedrect">
			కిలో విత్తనానికి 3 గ్రాముల కార్బండిజం కలిపి 24 గంటల తర్వాత నారుమడిలో చల్లు కోవాలి. దంపనారు మళ్ళలోకయితే లీటరు నీటికి ఒక గ్రాము కార్బండిజం కలిపి ఆ ద్రావణంలో విత్తనాలను 24 గంటలు నానబెట్టి, 24 గంటలు మండెకట్టి మొలకలను దుంప నారుమడిలో చల్లుకోవాలి. కిలో విత్తనాలు నానబెట్టడానికి లీటరు మందు నీరు సరిపోతుంది.
		</div>
		<div class ="sub-section">
			వరి విత్తనాల్ల్లో నిద్రావస్థను తొలగించడం
		</div>
		<div class="roundedrect">
			కోత కోసిన వెంటనే విత్తనాలను వాడుకోవాలంటే వరి గింజల్లోని నిద్రావస్థను తొలగించి అధిక మొలక శాతం రాబట్టడానికి లీటరు నీటికి తక్కువ నిద్రావస్థవున్న విత్తనాలకైతే 6.3 మి.లీ. లేదా విజేత లాంటి ఎక్కువ నిద్రావస్థవున్న విత్తనాలకైతే 10 మి.లీ. గాఢ నత్రికామ్లం కలిపి ఆద్రావణములో 24 గంటల పాటు నానబెట్టి మరో 24 గంటలపాటు మండెకట్టాలి. 
		</div>
		<div class ="sub-section">
			విత్తన మోతాదు (ఎకరాకు)
		</div>
		<div class="roundedrect">
		<p>నాటే పధ్ధతి	: 20 – 25 కిలోలు </br>
			వెదజల్లే పధ్ధతి 	: 24 – ౩౦  కిలోలు </br>
			గొర్రుతో విత్తడానికి (వర్షాధారపు వరి) : 30 – 36 కిలోలు </br> 
			శ్రీ పధ్ధతిలో : 2 కిలోలు </br>
			డ్రంసీడర్ పధ్ధతి : 12 – 18 కిలోలు </br>
			</p>
		</div>
    </div>
  </ion-content>
</ion-view>