<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	రకాలు
	    </div>
	    <div class="roundedrect">
	    	సాంబ మసూరి (బి పి టి 5204)
	    </div>
	    
	    
	    <div class="roundedrect">
	    	<ul>
	    		<li>పంట కాలం 	: 145 – 150 రోజులు (ఖరీఫ్), 135 రోజులు (రబీ)</li>
	    		<li>పంట దిగుబడి : 2.5 టన్నులు/ఎకరా</li>
	    		<li>గుణగణాలు :- సన్న బియ్యం, వివిధ వాతావరణ పరిస్థితులకు అనుకూలం.</li>
	        </ul>
	    </div>
	    <div class ="sub-section">
	    	జగిత్యాల సన్నాలు (జె జి ఎల్ 1798)
	    </div>
	    <div class="roundedrect">
	    	<ul>
	    		<li>పంటకాలం : 120 – 125 రోజులు (ఖరీఫ్)</li>
	    		<li>పంట దిగుబడి : 2.5 టన్నులు / ఎకరా</li>
	    		<li>గుణగణాలు :- గింజ సన్నం, సాంబ మషూరి రకాన్ని పోలి ఉంటుంది. ఉల్లి కోడును తట్టుకుంటుంది.</li>
	        </ul>
	    </div>
	    <div class ="sub-section">
	    	నెల్లూరు మషూరి (NLR 34449)
	    </div>

	      <div class="roundedrect">
	      	<ul>
	    		<li>పంటకాలం :- 125 రోజులు (అన్ని కాలాల్లో)</li>
	    		<li>పంటదిగుబడి : 3.2 టన్నులు / ఎకరా</li>
	    		<li>గుణగణాలు :- గుణగణాలు :- చేనుమీద పడిపోదు, పొట్టిరకం, గింజ నాణ్యత కలిగి, సాంబమషూరిని పోలి ఉంటుంది. అగ్గితెగులును పూర్తిగా తట్టుకుంటుంది.</li>
	        </ul>
	    </div>
	    <div class ="sub-section">
	    	నంద్యాల సన్నాలు (NDLR – 8 ) 
	    </div>

 		<div class="roundedrect">
 			<ul>
	    		<li>పంట కాలం : ఖరీఫ్ 135 రోజులు, రబీ 125 రోజులు </li>
	    		<li>పంట దిగుబడి : 3.0 టన్నులు / ఎకర</li>
	    		<li>గుణగణాలు : నీటి ఎద్దడిని తట్టుకునే సన్నగింజ రకం, గింజ సాంబమషూరిని పోలి ఉంటుంది. దోమను కొంతవరకు తట్టుకుంటుంది.</li>
	        </ul>
	    </div>
	  
	</div>
  </ion-content>
</ion-view>