<ion-view class="pretextView">
  <ion-content>
   <div class="contentWrapper paddymenu">
  	 <div class ="sub-section">
	    	ఆరోగ్యవంతమైన నారు పెంచడానికి సూచనలు
	    </div>

 		<div class="roundedrect">
 			<ul>
	    		<li>మడిని 10 – 12 రోజులు వ్యవధిలో 3 దఫాలు దమ్ము చేసి, చదును చేసి, నీరు పెట్టడానికి, తీయడానికి కాలువలను ఏర్పాటు చేయాలి. </li>
	    		<li>5 సెంట్లు నారుమడికి 2 కిలోల నత్రజని (1 కిలో విత్తనం చల్లే ముందు, మరో కిలో విత్తిన 12 – 14 రోజులకు), 1 కిలో భాస్వరం మరియు 1 కిలో పొటాష్ నిచ్చే ఎరువులు దుక్కిలో వేయాలి. </li>
	    		<li>మొలక కట్టిన విత్తనాన్ని సెంటుకు 5 కిలోలు వాడాలి. </li>
	    		<li> నారు ఒక ఆకు పూర్తిగా విచ్చుకునే వరకు 6 తడులు ఇచ్చి తర్వాత పల్చగా నీరు నిల్వ కట్టాలి.</li>
	    		<li>జింకు లోపాన్ని గమనిస్తే లీటరు నీటికి 2గ్రా జింకు సల్ఫేట్ ద్రావణాన్ని పిచికారీ చేయాలి. </li>
	    		<li>విత్తిన 10 రోజులకు కార్బోఫ్యూరాన్ 3జి గుళికలు సెంటు నారుమడికి 160 గ్రా. లేదా మోనో క్రోటోఫాస్ 1.6 మి.లీ. లేక క్లోరిఫైరిఫాస్ 2.0 మి.లీ. లీటరు నీటికి కలిపి విత్తిన 10 రోజులకు మరియు 17 రోజులకు పిచికారీ చేయాలి లేదా నారు తీయడానికి 7 రోజులు ముందు సెంటు నారుమడికి 160 గ్రా. కార్బోఫ్యూరాన్ గుళికలు ఇసుకలో కలిపి పలుచగా నీరుంచి వేయాలి. </li>
	    		
	        </ul>
	    </div>
	    </div>
  </ion-content>
</ion-view>