<ion-view class="pretextView">
  <ion-content>
   <div class="contentWrapper paddymenu">
  	 <div class ="sub-section">
	    	నాట్లు
	    </div>

 		<div class="roundedrect">
 			<ol>
	    		<li>నాట్లకు అనుకూల సమయం ఖరీఫ్ – సెప్టెంబర్ ; రబీ – నవంబర్ ; ఎడగారు – ఏప్రిల్ – మే </li>
	    		<li>నాట్లు వేయడానికి పొలాన్ని తయారు చేయడం:-</br>
	    			నాట్లు వేయడానికి 15 రోజుల ముందే పొలాన్ని దమ్ము చేయుట ప్రారంబించి 2-3 దఫాలుగా దమ్ము చేయాలి. పొలమంతా సమానంగా చదును చేయాలి. రేగడి భూముల్లో నాట్లు వేయడానికి 2 రోజుల ముందే దమ్ము పూర్తిచేసి, తర్వాతనే నాట్లు వేయాలి. 

	    		</li>
	    		<li>
	    			 <b>నాట్లు:-</b>  4 నుండి 6 ఆకులున్న లేతాకు పచ్చ నారును పైపైన నాటితే పిలకలు ఎక్కువగా తొడుగుతాయి. నాటేటప్పుడు ప్రతి రెండు మీటర్లకు 20 సెం.మీ. బాటలు తీయాలి.
	    		</li>
	    		<li>
	    			 <b>వరి రకాల కాలపరిమితి బట్టి కుదుళ్ళ సంఖ్య :-</b></br>
	    			 <table>
	    			 	<thead>
	    			 		<th>కాలపరిమితి </th>
	    			 		<th>నాతవలసిన దూరం </th>
	    			 		<th>చ.మీ.కు ఉండవలసిన కుదుళ్ళు</th>
	    			 	</thead>
	    			 	<tbody>
	    			 		<tr>
	    			 			<td>దీర్ఘ కాలిక రకాలు </br>(150 రోజుల పైన)</td>
	    			 			<td>20 X 15 సెం.మీ.</td>
	    			 			<td>33</td>
	    			 		</tr>
	    			 		<tr>
	    			 			<td>మధ్యకాలిక రకాలు </br>(125 – 135 రోజులు)</td>
	    			 			<td>15 X 15 సెం.మీ.</td>
	    			 			<td>44</td>
	    			 		</tr>
	    			 		<tr>
	    			 			<td>స్వల్పకాలిక రకాలు </br>(110 – 120 రోజులు)</td>
	    			 			<td>15 X 10 సెం.మీ.</td>
	    			 			<td>66</td>
	    			 		</tr>
	    			 	</tbody>
	    			 </table> 
	    		</li>

	    		
	        </ol>
	    </div>
	    </div>
  </ion-content>
</ion-view>