<ion-view class="pretextView">
  <ion-content>
   <div class="contentWrapper paddymenu">
  	 <div class ="sub-section">
	    	సమగ్ర పోషక యాజమాన్యం
	    </div>

 		<div class="roundedrect">
 			<ul>
	    		
	    		<li>పైరుకు సమతుల్యంగా పోషక పదార్థాలను అందజేయాలి.</li>
	    		<li>పశువుల ఎరువు, కంపోస్ట్, కోళ్ళ ఎరువువంటి సేంద్రీయ ఎరువులను, రసాయనిక ఎరువులతో కలిపి వాడినట్లయితే 20-25 శాతం వరకు నత్రజని ఆదా చేయవచ్చు.</li>
	    		<li>వరి మాగాణుల్లో అపరాలు, జీలుగ, జనుము, పిల్లి పెసర లాంటి పచ్చి రొట్టె పైరును కలియదున్నటం ద్వారా భూసారం పెరగడమేకాక సుమారు 20-25 శాతం నత్రజని, భాస్వరం, పొటాష్ లను కూడా ఆదా చేయవచ్చు.</li>
	    		<li>
	    			 సజీవ ఎరువులైన నీలి పచ్చనాచు, అజోల్ల, అజోస్పైరిల్లం, ఫాస్పోబ్యాక్టీరియా మొదలగు జీవన ఎరువులను వాడి నత్రజని, భాస్వర మోతాదులను 10-20% తగ్గించవచ్చు.
	    		</li>
	    		<li>
	    			నీలి ఆకుపచ్చ శైవలాలు – నాచు ను వరి పొలంలో వేస్తే ఎకరాకు 10 కిలోల నత్రజని పైరుకు అందుతుంది. నాచును పొడిచేసి వరినాట్లు వేసిన 7-10 రోజుల మధ్య మడిలో పలచగా నీరు నిలువగట్టి ఎకరాకు 4 కిలోల నాచుపొడిని ఇసుకతో కలిపి మడి అంతా సమానంగా పడేటట్లు చల్లాలి.
	    		</li>
	    		<li>
	    			అజొల్లా : వరి పొలంలో దమ్ములో ఎకరాకు 50 కిలోల సింగిల్ సూపర్ పాస్ఫేట్ వేసి పలుచగా నీరు నిలువగట్టి 100-150 కిలోల అజొల్లా వేసి 2 నుండి 3 వారాలు పెరగనిచ్చి నేలలో కలియదున్నాలి. ఎకరాకు 3 టన్నుల పచ్చిరొట్ట మరియు 12 కిలోల నత్రజనిని నేలకు చేరవేస్తుంది.
	    		</li>
	    		<li>
	    			అజోస్పైరిల్లం & అజటో బాక్టర్: ఎకరాకు సరిపడే విత్తనానికి 200-400 గ్రాముల కల్చరును పట్టించాలి. లేదా 1 కిలో కల్చరును. 20 కిలోల పశువుల ఎరువుతో కలిపి ఎకరం నేలపై చల్లాలి. దీని వలన ఎకరాకు 8-16 కిలోల నత్రజని పైరుకు అందుతుంది.
	    		</li>
	    		<li>
	    			ఫాస్పోబ్యాక్టీరియా : భూమిలో లభ్యం కాని స్థితిలోని భాస్వరాన్ని లభ్యమయ్యేలా చేస్తుంది. ఎకరాకు సరిపడే విత్తనంతో 200-400 గ్రాముల కల్చర్ ను పట్టించాలి. లేదా 1 కిలో కల్చర్ ను 20 కిలోల పశువుల ఎరువుతో కలిపి ఎకరం నేలలో వేయాలి.
	    		</li>
	    		
	        </ul>
	    </div>
	    </div>
  </ion-content>
</ion-view>