
<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
    	<div class ="sub-section">
			దక్షిణ మండలంలో సిఫారసు చేసిన పోషకాల మోతాదు
			(కిలోలు / ఎకరాకు)
    	</div>
    	<table class="paddy7table">
          <tbody>
            <tr>
              <td class="td1" valign="middle">
                <p class="p3">వ్యవసాయ వాతావరణ మండలం</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">ఖరీఫ్</p>
              </td>
              <td class="td1" colspan="5" valign="middle">
                <p class="p3">రబీ</p>
              </td>
            </tr>
            <tr>
              <td class="td1" valign="middle">
                <p class="p4">&nbsp;</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">నత్రజని</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">భాస్వరం</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">పొటాష్</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">నత్రజని</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">భాస్వరం</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p3">పోటాష్</p>
              </td>
            </tr>
            <tr>
              <td class="td1" valign="middle">
                <p class="p3">దక్షిణ మండలం</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">32</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">24</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">16</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">48</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">24</p>
              </td>
              <td class="td1" valign="middle">
                <p class="p5">16</p>
              </td>
            </tr>
          </tbody>
    	</table>
      <p style="text-align:left">
        <div class="roundedrect">
          <br><br>•	నత్రజనిని 3 సమభాగాలుగా చేసి, నాటుకు ముందు దమ్ములోను, దుబ్బుచేసే దశలోను, అంకురం దశలోను, బురుద పదునులో మాత్రమే సమానంగా వెదజల్లి 36-48 గంటల తర్వాత పలుచగా నీరు పెట్టాలి.
          <br><br>•	50 కిలోల యూరియాకి 10 కిలోల వేపపిండి లేక 250 కిలోల తేమ కలిగిన మట్టిగాని కలిపి, 2 రోజులు నిల్వ ఉంచి వెదజల్లితే నత్రజని వినియోగం పెరుగుతుంది.
          <br><br>•	మొత్తం భాస్వరం ఎరువును దమ్ములోనే వేయాలి.
          <br><br>•	పొటాష్ ఎరువులను రేగడి నేలల్లో ఆఖరి దమ్ములో పూర్తిగా ఒకేసారి వేయాలి. చల్మా (తేలిక) భూముల్లోఆఖరి దమ్ములో సగం, అంకురం ఏర్పడే దశలో మిగతా సగాన్ని వేయాలి.
          <br><br>•	కాంప్లెక్స్ ఎరువులను పైపాటుగా దుబ్బుచేసే సమయంలోగాని, అంకురం ఏర్పడే దశలోగాని వేయకూడదు. దమ్ములోనే వేయటం మంచిది.
        </div>
      </p>
    </div>
  </ion-content>
</ion-view>
