<ion-view class="pretextView">
  <ion-content>
   <div class="contentWrapper paddymenu">
  	 <div class ="sub-section">
	    	జింకులోప లక్షణాలు
	</div>
	<div class="roundedrect">
		<div>పై నుంచి 3 లేదా 4 ఆకుల్లో మధ్య ఈనె పాలి పోతుంది. నాటిన 2 నుండి 4 లేదా 6 వారాల్లో ముదురాకు చివర్లలో, మధ్య ఈనెకు ఇరుప్రక్కల త్రుప్ప్పు లేక ఇటుక రంగు మచ్చలు కనబడుతాయి. ఆకులు చిన్నవిగా, పెళుసుగా ఉండి వంచగానే శబ్దం చేస్తూ విరిగిపోతాయి. మొక్కలు గిడసబారి దుబ్బు చేయవు. నత్రజని ఎరువులు వేసినప్పటికి పైరుపచ్చబడదు.</div>
		<div><b>సవరణ: </b>ఒకే వరి పంట పండిచే భూముల్లో ప్రతి మూడు పైర్లకు ఒకేసారి, రెండు పంటలు పండించేట్లయితే ప్రతి రబీ సీజన్లో, ఆఖరి దమ్ములో ఎకరాకు 20 కిలోల జింకు సల్ఫేట్ వేయాలి లేదా పైరుపై జింకు లోపం కనిపించగానే లీటరు నీటికి 4 గ్రా. జింకు సల్ఫేట్ మరియు 5 గ్రా. యూరియా చొప్పున కలిపి 5 రోజుల వ్యవధిలో 2,3 సార్లు పిచికారీ చేయాలి.</div>
	</div>
	 <div class ="sub-section">
	    	ఇనుములోప లక్షణాలు
	</div>
	<div class="roundedrect">
		<div>లేత చిగురాకులు తెల్లగామారి ఉదృతి ఎక్కువగా ఉన్నప్పుడు ఇటుకరంగు మచ్చలు వచ్చి ఆకులు నిర్జీవమవుతాయి. పిలకలు తగ్గి, ఎత్తు పెరగదు. వర్షాధార నారుమళ్ళలో, మెట్టవరిలో ఈ లోపం ఎక్కువగా కనిపిస్తుంది.</div>
		<div><b>సవరణ: </b>దుంప నారుమళ్ళు పోస్తే ఈ సమస్య రాదు. లీటరు నీటికి 20గ్రా. అన్నభేది, 2 గ్రా. నిమ్మ ఉప్పు కలిపి పిచికారీ చేయాలి.</div>
	</div>
	</div>
  </ion-content>
</ion-view>