<ion-view class="pretextView">
  <ion-content>
   <div class="contentWrapper paddymenu">
  	 <div class ="sub-section">
	    	కలుపు యాజమాన్యం
	</div>
	<div class="roundedrect">
		<div>నారుమడిలో ఊద నిర్మూలనకు ఎకరా నారుమడికి బుటాక్లోర్ 1.5 లీటర్లు 200 లీటర్లు నీటితో కలిపి, విత్తిన 7 లేక 8వ రోజున మడిలో నీటిని తీసివేసి పిచికారీ చేయాలి లేదా విత్తిన 14, 15 రోజులప్పుడు సైహోలోఫాప్ బ్యూటైల్ 10% 400 మి.లీ. 200 లీటర్ల నీటితో కలిపి పిచికారీ చేయాలి.</div>
		<div>మాగాణి వరిలో ఊద మొదలైన ఏక వార్షిక గడ్డిజాతి మొక్కలు ఉన్నప్పుడు బ్యూటాక్లోరో 50% 1 నుండి 1.5 లీ. లేదా అనిలోఫాస్ 30% 500 మి.లీ. లేదా ప్రెటిలాక్లోర్ 50% 500 మి.లీ. లలో ఏదో ఒకదానిని ఎకరాకు 25 కిలోల పొడి ఇసుకలో కలిపి, నాటిన 3 నుండి 5 రోజులలో పలుచగా నీరు పెట్టి సమానంగా వెదజల్లాలి. ఎకరాకు ప్రెటిలాక్లోర్ 500 మి.లీ. లేదా 35 నుండి 50 గ్రా. ఆక్సాడయార్జిల్ 80% పొడి మందును 500 మి.లీ. నీటిలో కలిపి, ఆ ద్రావణాన్ని ఎకరాకు 20 కిలోల పొడి ఇసుకలో కలిపి నాటిన 3 నుండి 5 రోజుల్లో పలుచగా నీరు ఉంచి సమానంగా వెదజల్లాలి.</div>
		<div>
			గడ్డి, తుంగ, వెడల్పాటి ఆకు మొక్కలు సమపాళ్ళలో ఉన్నప్పుడు ఎకరాకు 4 కిలోల బ్యూటాక్లోర్ 5% గుళికలు మరియు 4 కిలోల 2, 4-డి ఇథైల్ ఎస్టర్ 4% గుళికలు, 20 కిలోల పొడి ఇసుకలో కలిపి నాటిన 3 నుండి 3 రోజుల్లో పలుచగా నీరు ఉంచి సమానంగా వెదజల్లాలి.
		</div>
		<div>
			గడ్డి, తుంగ మరియు ఆకుజాతి కలుపుమొక్కలున్నట్లయితే నాటిన 15 – 20 రోజులప్పుడు         బిస్ పైరి బాక్ సోడియం (10% ద్రావకం) అనే కలుపు మందును 80-120 మి.లీ. / ఎకరాకు పిచికారీ చేయాలి.
		</div>
		<div>
			వరినాట్లు వేసిన 8-10 రోజుల తర్వాత కూడా పైరజోసల్ఫ్యురాన్ 5% WP ఎకరాకు 80 గ్రాములు లేదా 15 రోజుల తర్వాత ఊదర వంటి గడ్డిజాతి కలుపుమొక్కలున్నప్పుడు సైహలోఫాప్ – P – బ్యూటైల్ 10% మందును ఎకరాకు 400 మి.లీ. చొప్పున 200 లీటర్ల నీటిలో కలిపి పిచికారీ చేయాలి. నాటిన 15-20 రోజులప్పుడు ఇథాక్సి సల్ప్యూరాన్ 15% WDG ఎకరాకు 50గ్రా. చొ|| 200 లీటర్ల నీటికి కలిపి, పొలంలో నీటిని తేసివేసి సమానంగా పిచికారీ చేసి కలుపు నివారణ చేయవచ్చును.
		</div>
		<div>
			నాటిన 25-30 రోజులప్పుడు పొలంలో వెడల్పాటి కలుపు మొక్కల ఉదృతి ఎక్కువగా ఉన్నప్పుడు   ఎకరాకు 400 గ్రా. 2, 4-డి సోడియం సాల్ట్ 80% పొడి మందును 200 లీ. నీటిలో కలిపి పొలంలో నీటిని తీసివేసి కలుపుపై పడేటట్లు పిచికారీ చేయాలి.
		</div>
	</div>
	</div>
	
</ion-content>
</ion-view>