<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
          <h3 class="crop-heading">     పత్తి  </h3>
      <a href='#/app/cotton2'>
        <div class="section-heading">
            ఎరువులు యాజమాన్యం (ఎకరాకు కిలోల్లో)
        </div>
      </a>
       <a href='#/app/cotton3'>
        <div class="section-heading">
            నీటి యాజమాన్యం
        </div>
      </a>
       <a href='#/app/cotton4'>
        <div class="section-heading">
            కలుపు నివారణ
        </div>
      </a>
       <a href='#/app/cotton5'>
        <div class="section-heading">
            సూక్ష్మధాతు లోపాలు – సవరణ
        </div>
      </a>
       <a href='#/app/cotton6'>
        <div class="section-heading">
            జీవన ప్రక్రియ సంబంధిత రుగ్మతలు
        </div>
      </a>
       <a href='#/app/cotton7'>
        <div class="section-heading">
            తెగుళ్ళు
        </div>
      </a>
        <a href='#/app/cotton8'>
        <div class="section-heading">
            బిటి ప్రత్తిలో పాటించవలసిన పురుగు మందుల నిరోధక శక్తి యాజమాన్య పద్ధతులు
        </div>
      </a>
   
    </div>
  </ion-content>
</ion-view>
