

<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper">
	    <div class="oval">
	    	ఎరువులు యాజమాన్యం (ఎకరాకు కిలోల్లో):
	    </div>
	    <br>
	    <div class="table-container">
		<table>
		 	<thead>
		 	   <th>
		 	   		ప్రాంతం
		 	   </th>
		 	   <th>
		 	   		నత్రజని
		 	   </th>
		 	    <th>
		 	    	భాస్వరం
		 	   </th>
		 	   <th>
		 	   		పొటాష్
		 	   </th>
		 	   <th>
		 	   		వేసే పధ్ధతి
		 	   	</th>
		 	</thead>
		 	<tbody>		 		
		 		<tr>
		 			<td colspan="4">
		 				కోస్తా ప్రాంతం
		 			</td>
		 			<td rowspan="11">
		 				అన్ని ప్రాంతాలకు సిఫారసు చేసిన భాస్వరం ఎరువులు ఒకేసారి ఆఖరి దుక్కిలో వేసి కలియదున్నాలి. కోస్తా, రాయలసీమ ప్రాంతాల్లో అమెరికన్ రకాలకు మరియు సంకరజాతి రకాలకు సిఫారసు చేసిన నత్రజని మరియు పొటాష లను మూడు సమభాగాలుగు చేసి విత్తిన  30, 60, 90 రోజులకు మొక్క మొదళ్లకు 7-10 సెం.మీ. దేశవాళీ రకాలు దూరంలో పాదులు తీసి వేయాలి. రాయలసీమలోని అమెరకన్ రకాలు వర్షాధార అమెరికన్ సంకరజాతి రకాలకు సిఫారసు చేసిన నత్రజనిని రెండు సమభాగాలుగా చేసి విత్తిన 30,60 రోజులకు పైన తెల్పిన విధంగా వేయాలి.
		 			</td>	
		 		</tr>
		 		<tr>
		 			<td>అమెరికన్ రకాలు</td>
		 			<td>36</td>
		 			<td>18</td>
		 			<td>18</td>
		 	    </tr>
		 	    <tr>
		 			<td>సంకర జాతి రకాలు</td>
		 			<td>48</td>
		 			<td>24</td>
		 			<td>24</td>
		 		</tr>
		 	    <tr>
		 			<td colspan="4">రాయలసీమ
		 			</td>

		 		</tr>

		 	    <tr>
		 			<td>దేశవాళి రకాలు</td>
		 			<td>8</td>
		 			<td>8</td>
		 			<td>-</td>
		 		</tr>

		 	    <tr>
		 	    	<td>అమెరికన్ రకాలు (వర్షాధారము)</td>
		 			<td>16</td>
		 			<td>8</td>
		 			<td>8</td>
		 		</tr>

		 		 <tr>
		 	    	<td>అమెరికన్ రకాలు (వర్షాధారము)</td>
		 			<td>36</td>
		 			<td>18</td>
		 			<td>18</td>
		 		</tr>

		 		<tr>
			 		<td>సంకరజాతి రకాలు</td>
			 		<td>48</td>
			 		<td>24</td>
			 		<td>24</td>
		 		</tr>

		 		<tr>
			 		<td colspan="4">వరి కోసిన తర్వాత వేసే మాగాణి భూముల్లో</td>

		 		</tr>

		 		<tr>
			 		<td>సూటి రకాలు</td>
			 		<td>54</td>
			 		<td>18</td>
			 		<td>1</td>
		 		</tr>
		 		<tr>
			 		<td>హైబ్రిడ్స్ (సంకరజాతి రకాలు)</td>
			 		<td>60</td>
			 		<td>24</td>
			 		<td>24</td>
		 		</tr>
		 			

		 	</tbody>
		</table>
		</div>

    </div>
  </ion-content>
</ion-view>