

<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	కలుపు నివారణ
	    </div>
	    
		<div class="roundedrect">
			విత్తే ముందు ప్లుక్లోరాలిన్ 45% ఎకరాకు లీటరు చొప్పున పిచికారీ చేసి భూమిలో కలియదున్నాలి లేదా పెండిమిథాలిన్ 30% ఎకరాకు 1.3 నుండి 1.6 లీ. విత్తిన వెంటనే గాని మరుసటి రోజున గానీ పిచికారీ చేయాలి. విత్తిన 25-30 రోజులప్పుడు అంతరకృషి చేయడానికి అవకాశం లేనప్పుడు గడ్డి జాతి మొక్కల నివారణకు ఎకరాకు 400 మి.లీ. క్విజలోఫాప్ ఇథైల్ 200 లీటర్ల నీటిలో కలిపి పిచికారీ చేసుకోవాలి. వెడల్పాటి ఆకు కలుపు సమస్య ఎక్కువగా ఉన్నట్లయితే ఎకరాకు 250 మి.లీ. పైరిథయోబ్యాక్ సోడియంను 200 లీటర్లు నీటిలో కలిపి పిచికారీ చేసుకోవాలి. ఖరీఫ్ లో వర్షాలు ఎక్కువగా వుండి అంతరకృషి కుదరనప్పుడు ఎకరాకు లీటరు పెరాక్వాట్ 24% లేదా 2 లీటర్ల గ్లైఫోసేట్ మందును 2 కిలోల యూరియా/అమ్మోనియం సల్ఫేట్ తో 200లీ. నీటిలో కలిపి ప్రత్తి మీద పడకుండా వరుసల మధ్య కలుపు మీద మాత్రమే పడేటట్లు పిచికారీ చేసుకోవాలి.
		</div>
	</div>
  </ion-content>
</ion-view>