<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	సూక్ష్మధాతు లోపాలు – సవరణ
	    </div>
	    
		<div class="roundedrect">
			మెగ్నీషియం లోప లక్షణాలు
		</div>
		<div class ="sub-section">
			ముదురు ఆకులు, అంచుల నుండి మధ్య భాగానికి పసుపు రంగుకు మారుతాయి. ఆకుల ఈనెలు మాత్రం ఆకుపచ్చగా వుంటాయి. లోప తీవ్రత పెరిగినప్పుడు ఆకులు ఎర్రబారి ఎండిపోయి రాలిపోతాయి. నివారణకు లీటరు నీటికి 10గ్రా. మెగ్నీషియం సల్ఫేట్ పైరు వేసిన 45 మరియు 75 రోజుల తర్వాత రెండుసార్లు పిచికారీ చేయాలి.
		</div>
		<div class="roundedrect">
			జింకు లోప లక్షణాలు
		</div>
		<div class ="sub-section">
			ఈ ధాతు లోపం, మొక్క మధ్య ఆకుల మీద కనిపిస్తుంది. ఆకుల ఈనెలు ఆకుపచ్చగా వుండి ఈనెల మధ్య భాగం మాత్రమే పసుపుపచ్చగా మారుతుంది. కొమ్మ చివరి ఆకులు చిన్నవిగా వుండి ముడతలు పడి కణుపుల మధ్య దూరం తగ్గుతుంది. నివారణకు 20 కిలోల జింకు సల్ఫేట్ ను ఆఖరు దుక్కిలో వేసుకోవాలి. లేదా 0.2% (2.0గా) జింకు సల్ఫేట్ ద్రావవాణాన్ని మొక్కల మీద లోప లక్షణాలు గమనించినప్పుడు 7-10 రోజుల వ్యవధిలో 2సార్లు పిచికారీ చేయాలి.
		</div>
		<div class="roundedrect">
		    బోరాన్ లోప లక్షణాలు
		</div>
		<div class ="sub-section">
			పూల స్వరూపం మారి ఆకర్షణ పత్రాలు చిన్నవై లోపలకు ముడుచుకుపోతాయి. ఆకులు మరియు కాడలు ఒకే రీతిన ఉండక కొంత దళసరిగాను, కొంత పలచగాను వుండి అక్కడక్కడ రింగులుగా ఏర్పడటంతో పాటు ఆకుల మీద రాగి రంగు మచ్చలు ఏర్పడుతాయి. ఈ లోపం బాగా ఎక్కువగా వున్నప్పుడు పూత మొగ్గ దశలో ఎండిపోవడం, చిన్న కాయలు రాలిపోవడంతో పాటు మొక్కలు గిడసబారి ప్రధాన కాండంపై పగుళ్ళు కూడా ఏర్పడతాయి. కాయలు సరిగ్గా అభివృద్ధి చెందక ఆకారం కోల్పోయి కాయ పెరిగే దశలో ఒక్కోసారి నిలువుగా పగుళ్ళు ఏర్పడతాయి. నివారణకు పైరు వేసిన 60 మరియు 90 రోజుల తర్వాత లీటరు నీటికి 1-1.5 గ్రా. బోరాక్స్ వారం రోజుల వ్యవధిలో రెండుసార్లు పిచికారీ చేయాలి.
		</div>
    </div>
  </ion-content>
</ion-view>