<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
	    <div class="oval">
	    	జీవన ప్రక్రియ సంబంధిత రుగ్మతలు
	    </div>
	    
		<div class="roundedrect">
			పూత, పిందె రాలటం
		</div>
		<div class ="sub-section">
			ప్రతికూల పరిస్థితులలో నాప్తలిన్ ఎసిటిక్ యాసిడ్ 10 పి.పి.యం. ద్రావణాన్ని ఒకటి లేదా రెండుసార్లు 10-15 రోజుల వ్యవధిలో అవసరాన్ని బట్టి పిచికారి చేయటం ద్వారా పూత, పిందె రాలటాన్ని కొంత వరకు నివారించవచ్చు.
		</div>
		<div class="roundedrect">
			అధికంగా రొట్టె పెరగడం
		</div>
		<div class ="sub-section">
			సైకోసిల్ 60 పి.పి.యం. మోతాదులో పిచికారి చేసినట్లయితే, మొక్కల్లో అదనపు శాఖీయ పెరుగుదల ఆగిపోయి, మొక్కల్లో తయారైన పిండి పదార్థాలు, పూత, పిందె అభివృద్ధికి వుపయోగపడటంతో, పాటు పూత, పిందె రాలటం తగ్గుతుంది.
		</div>
		<div class="roundedrect">
		    పక్వానికి రాకముందే ఆకులు వడలి రాలిపోవడం
		</div>
		<div class ="sub-section">
			నెలలో పొటాష్ లభ్యత అధికంగా వున్నప్పటికిని మొక్కలో పొటాషియం లోపం వలన ఆకులు పక్వానికి రాకముందే రాలిపోతాయి. దీనిని అధిగమించుటకు 2% పొటాషియం నైట్రేటు ద్రావణాన్ని ప్రత్తి పంట కాయ దశలో ఉన్నప్పుడు 4-5 రోజుల వ్యవధిలో రెండు సార్లు పిచికారి చేయాలి.
		</div>
		<div class="roundedrect">
		    బెట్ట లేదా ముంపునకు గురైనప్పుడు
		</div>
		<div class ="sub-section">
			 బెట్టకు లేదా నీటి ముంపునకు ప్రత్తి పొలం గురైనప్పుడు, పూత పిందె, కాయలు రాలి పోవడం, ఆకులు వాడిపోవడం జరుగుతుంది. అప్పుడు మురుగు నీటిని తీసివేయడంతో పాటుగా, ఎండ వున్న సమయంలో 2% పొటాషియం నైట్రేటు మరియు 2% యూరియా మార్చి మార్చి పిచికారి చేయడం ద్వారా మంచి ఫలితాన్ని పొందవచ్చు.
		</div>
    </div>
  </ion-content>
</ion-view>