<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  వేరుకుళ్ళు తెగుళ్ళు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.1.jpg"></img>
          </div>
        <div class="roundedrect">
         భూమిలో తేమ అధికంగా ఉన్నప్పుడు ఈ తెగులు పైరు అన్ని దశల్లో కనబడుతుంది. లేత మొక్కలు అర్ధాంతరంగా ఎండిపోయి చనిపోతాయి. వడలిపోయిన ఆకులు చాలా కాలం వరకు చెట్లపై నుండి క్రిందికి వ్రేలాడుతూ వుంటాయి. కిలో విత్తనానికి 2 గ్రా. కార్బండిజం లేదా 10 గ్రా. ట్రైకోడెర్మా విరిడితో విత్తన శుద్ది చేసి విత్తుకోవాలి. రెండు కిలోల ట్రైకోడెర్మా విరిడి పొడిని 90 కిలోల పశువుల ఎరువు మరియు 10 కిలోల వేప పిండితో కలిపి వృద్ది చేసి ఆఖరి దుక్కిలో మరియు అవసరాన్ని బట్టి పైపాటుగా వేయాలి. కాపర్ ఆక్సీ క్లోరైడ్ 3 గ్రా. లేదా కార్బండిజం 1 గ్రా. లీటరు నీటికి కలిపిన ద్రావణాన్ని తెగులు సోకిన మొక్కల పాదుల చుట్టూ నేలపై పోయాలి.

        </div>
    </ion-content>
</ion-view>