<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  వడలు తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.2.jpg"></img>
          </div>
        <div class="roundedrect">
        <br><b>ఫ్యుజేరియం వడలు తెగులు</b><br><br>

            తెగులు సోకిన మొక్కల ఆకులు వాడిపోయి మొదట ఈనెల మధ్య పసుపు రంగుగా, తదుపరి ఎర్రగా మారి ఆకులు క్రింది నుండి పైకి ఎండుకుంటూ రాలిపోతాయి. కొమ్మలను చీల్చి చూస్తే లోపల నల్లని బూజుతో చారలుగా కనిపిస్తాయి.

        <br><b>వర్టిసీలియం వడలు తెగులు</b><br><br>
          ఈనెల మధ్య పసుపు రంగుకు మారి, తెగులు తీవ్రమైనప్పుడు కణాలు చనిపోయి పెద్ద పెద్ద నల్లని మచ్చలు ఏర్పడి ఆకులపై పులి చారల వలె కనిపిస్తాయి. ఆకులు కొంత కాలం వ్రేలాడి, పూర్తిగా రాలాక క్రింద భాగంలో వున్న మొగ్గలు క్రొత్త ఆకులను, కొమ్మలనిస్తాయి, కాని కాయలు ఏర్పడవు. కాండము మరియు వేరును చీల్చి చూస్తే లోపల గోధుమ రంగుకు మారి ఉంటుంది. వేరుకుళ్ళు తెగులు నివారణకు సూచించిన చర్యలను పాటించాలి. సిఫార్సు మేరకు పొటాష్ ఎరువులను తప్పక వాడాలి.

        </div>
    </ion-content>
</ion-view>