<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  నల్లమచ్చ తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.3.jpg"></img>
          </div>
        <div class="roundedrect">
       
        ముందుగా ఆకులపై కోణాకారంలో నూనె రంగు మచ్చలు ఏర్పడి తర్వాత నల్లగా మారి మూడవ దశలో ఆకుల ఈనెల ద్వారా తెగులు వ్యాపించి నల్లగా మారుతుంది. తెగులు ఉదృతంగా ఉన్నప్పుడు కొమ్మలకు కూడా వ్యాపించి కొమ్మలు నల్లగా మారి ఎండిపోతాయి. దీనినే ‘బ్లాక్ ఆర్మ్’ అని పిలుస్తారు. పైరు వివిధ దశల్లో కనిపిస్తుంది. వర్షాకాలంలో మబ్బులు పట్టినప్పుడు ఈ తెగులు బాగా వ్యాపిస్తుంది. కిలో విత్తనానికి 10 గ్రా. సూడోమొనాస్ ప్లోరోసెన్స్ తో విత్తనశుద్ది చేయాలి. ఉదృతిని బట్టి 3-4 పర్యాయాలు 15 రోజుల వ్యవధిలో 10 లీటర్ల నీటికి 1 గ్రా. స్ట్రెప్టోసైక్లిన్ మరియు కాపర్ ఆక్సీ క్లోరైడ్ 30 గ్రాముల చొప్పున కలిపి పిచికారి చేయాలి.
        </div>
    </ion-content>
</ion-view>