<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  ఆకుమచ్చ తెగుళ్ళు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.4.jpg"></img>
          </div>
        <div class="roundedrect">
       
       ఆల్టర్నేరియా వలన ఆకుల మీద గోధుమ రంగు మచ్చలు వలయాకారపు సుడులుగా, రింగులుగా ఏర్పడతాయి. సెర్కోస్పోరా  వలన ఆకుల మీద ముదురు గోధుమ రంగులో గుండ్రని మచ్చలు ఏర్పడి చుట్టూ ఎరుపు వర్ణం కల్గి మధ్యభాగం తెల్లగా ఉంటుంది. హెల్మింతోస్పోరియం వలన ఆకుల మీద తేలిక గోధుమ రంగు గుండ్రని మచ్చలు ఏర్పడి మధ్యభాగం బూడిదరంగుతో చుట్టూ ఎర్రటి అంచులు ఏర్పడుతాయి. ఈ మూడు తెగుళ్ల నివారణకు సూడోమొనాస్ తో విత్తన శుద్ధి చేసి నాటాలి. లీటరు నీటికి 2.5 గ్రా. మాంకోజెబ్ లేదా కాపర్ ఆక్సీ క్లోరైడ్ 3 గ్రా. లేదా క్యూమాన్.ఎల్. 4 మి.లీ. లేదా ప్రొపికొనజోల్ 1 మి.లీ. లేదా కాప్టాన్ + హెక్సాకొనజోల్ (తాకత్) 1 గ్రా. 2-3 పర్యాయాలు 15 రోజుల వ్యవధితో పిచికారి చేయాలి.

        </div>
    </ion-content>
</ion-view>