<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	 బూజు (గ్రే మిల్ట్యు) తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.5.jpg"></img>
          </div>
        <div class="roundedrect">
       
       ఆకుల మీద కోణాకారపు తెల్లటి మచ్చలు ఏర్పడి, బూజు తెగులు శిలీంధ్ర బీజాలు ఆకుల అడుగుభాగాన ఏర్పడుతాయి. ఉదృతిని బట్టి ఆకు పైభాగాన కూడా వ్యాపించి ఆకులు పసుపు రంగులోకి మారి పండు బారి రాలిపోతాయి. నివారణకు లీటరు నీటిలో కరిగే గంధకం 3 గ్రా. లేదా 1 గ్రా. కార్బండిజం కలిపి పిచికారి చేయాలి లేదా పొడి గంధకం ఎకరాకు 8-10 కిలోలు పవరు డస్టరునువుపయోగించి చల్లాలి.

        </div>
    </ion-content>
</ion-view>