<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  కాయకుళ్ళు తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.6.jpg"></img>
          </div>
        <div class="roundedrect">
       
       ప్రత్తి పంట కాయదశలో ఉన్నప్పుడు వర్షాలు ఎక్కువగా పడితే అనేక రకాలైన శిలీంధ్రాలు ఆశించి కాయలు కుళ్ళి పోతాయి. ఈ శిలీంధ్రాలు ఎక్కువగా కాయతొలుచు పురుగుల వల్ల ఏర్పడి రంధ్రాల ద్వారా కాయలోనికి ప్రవేశిస్తాయి. నివారణకు సాధారణంగా వాడే పురుగు మందులతో పాటు శిలీంద్ర నాశినులైన స్ట్రెప్టోసైక్లిన్ మరియు కాపర్ ఆక్సీ క్లోరైడ్ పైన చెప్పిన మోతాదులో కలిపి 10 రోజుల వ్యవధితో పిచికారీ చేయాలి. శిలీంద్రం వలన కలిగే కాయ కుళ్ళుకు 1 గ్రా. కార్బండిజం లీటరు నీటిలో కలిపి పిచికారీ చేయాలి.

        </div>
    </ion-content>
</ion-view>