<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  టొబాకో స్ట్రీక్ వైరస తెగులు
        </div>
         <div class="img-wrapper">
            <img src="img/cotton/7.7.jpg"></img>
          </div>
        <div class="roundedrect">
       
       ఈ వైరస్ తెగలు తామర పురుగుల ద్వారా ప్రత్తిని ఆశిస్తుంది. వైరస్ సోకిన మొక్కల్లో కొమ్మల చివరి ఆకులు కొద్దిగా పసుపు వర్ణానికి మారి చిన్నవిగా ఉంటాయి. కొంత భాగం  మాడిపోతాయి. క్రొత్త చిగురు, పూత ఏర్పడదు. వయ్యారిభామ, గడ్డి చేమంతి, ఉత్తరేణి మొదలగు కలుపు మొక్కల ద్వారా ఈ వైరస్ వ్యాపిస్తుంది. కావున ఈ మొక్కలను నాశనం చేయాలి. తామర పురుగుల నివారణకు అవసరాన్ని బట్టి లీటరు నీటికి ఎసిఫేట్ 1.5 గ్రా. లేక మోనోక్రోటోఫాస్ 1.6 మి.లీ. లేక ధయోమిథాక్సాం 0.2 గ్రా. లేక ఇమిడాక్లోప్రిడ్ 0.3 మి.లీ. లేక ఎసిటామిప్రిడ్ 0.2 గ్రా. చొప్పున వారం రోజుల వ్యవధిలో రెండుసార్లు మందులను మార్చి పిచికారి చేయలి.
       
        </div>
    </ion-content>
</ion-view>