<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
                
      <a href='#/app/cotton7-1'>
        <div class="section-heading">
          <img src="img/cotton/7.1.jpg">
          వేరుకుళ్ళు తెగులు
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-2'>
        <div class="section-heading">
          <img src="img/cotton/7.2.jpg">
          వడలు తెగులు
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-3'>
        <div class="section-heading">
          <img src="img/cotton/7.3.jpg">
          ఆకుమచ్చ తెగులు
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-4'>
        <div class="section-heading">
          <img src="img/cotton/7.4.jpg">
          బూజు తెగులు
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-5'>
        <div class="section-heading">
          <img src="img/cotton/7.5.jpg">
          త్రుప్పు తెగులు 
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-6'>
        <div class="section-heading">
          <img src="img/cotton/7.6.jpg">
          కాయకుళ్ళు తెగులు
          </img>
        </div>
      </a>
       <a href='#/app/cotton7-7'>
        <div class="section-heading">
          <img src="img/cotton/7.7.jpg">
          టొబాకో స్ట్రీక్ వైరస తెగులు 
          </img>
        </div>
      </a>
      
    </div>
  </ion-content>
</ion-view>
