<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  పంట తొలిదశ 1-60  రోజుల పంట దశ (రసం పీల్చు పురుగులు ఆశించు దశ)
        </div>
        <div class="roundedrect">
          
            బిటి ప్రత్తి పంటను తొలిదశలో ఆశించే రసం పీల్చు పురుగులైనటువంటి పచ్చదోమ, పేనుబంక మరియు తామరపురుగులను ఈ క్రింది పద్ధతుల ద్వారా సమర్థవంతంగా నివారించవచ్చు.

            <br>
            <ul>
              <li>
                రసం పీల్చు పురుగులను తట్టుకోగల బిటి వంగడాలను మాత్రమే ఎంచుకొని సాగు చేయాలి.
              </li>
               <li>
                విత్తనశుద్ధి పాటించుట వలన దాదాపు 30 రోజుల వరకు రసం పీల్చు పురుగులను అరికట్టవచ్చు. 70 డబ్ల్యుయస్ లేక థయామిథాక్సాం 70 డబ్ల్యుయస్ మందులను ఒక కిలో విత్తనానికి 4 నుండి 5 గ్రా. వరకు విత్తన శుద్ధి చేసికోనవలెను.
              </li>
               <li>
                అవసరమైన మోతాదులో మాత్రమే సిఫారసు చేసిన మేరకు రసాయన ఎరువులను ఉపయోగించవలెను. ముఖ్యంగా నత్రజని ఎరువులను సరియైన మోతాదులో సకాలంలో వేయాలి. సేంద్రియ ఎరువులను విధిగా వుపయోగించినచో నేల సత్తువ పెరుగుతుంది.
              </li>
               <li>
                ప్రత్తిలో అంతర పంటలుగా అలసంద, సోయాచిక్కుడు, పెసర మరియు కొర్ర వంటి పంటలను సాగుచేయటం ద్వారా మిత్ర పరుగులు బాగా వృద్ధి చెంది కొంత వరకు రసంపీల్చు పురుగులన నియంత్రణకు దోహదపడతాయి.
              </li>
               <li>
                తొలి దశలో ఆశించే రసం పీల్చే పురుగులను అదుపు చేయడానికి కాండం మీద పూత పద్థతిని పాటించాలి. మూడు పర్యాయాలు 30, 45 రోజులలో మొనోక్రోటోఫాస్ 1:4 నిష్పత్తిలో వాడాలి (1 పాళ్ళు మందు, 4 పాళ్ళు నీరు) మరియు 60 రోజుల వయస్సులో ఇమిడాక్లోప్రిడ్ 1:20 నిష్పత్తిలో వాడాలి (1 పాళ్ళు మందు, 20 పాళ్ళు నీరు) కాండం పూత పద్ధతి ద్వారా పచ్చదోమ, పేనుబంక, పిండినల్లి పురుగులను ఎటువంటి పరుగు మందుల పిచికారీ లేకుండా 70-80 రోజుల వరకు అదుపు చేసుకోవచ్చును. పరుగు మందులను పిచికారీ చేయకపోవటం వలన తొలిదశలో మిత్ర పురుగుల సంతతి పెరిగి చీడపీడలను అదుపు చేయడంలో సహకరిస్తాయి.
              </li>
               <li>
                రసంపీల్చు పరుగుల నివారణకు 5 శాతం వేపగింజల కషాయం వాడాలి.
              </li>
              </ul>
        </div>
    </ion-content>
</ion-view>