<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  60 నుండి 90 రోజుల పంట దశ
        </div>
        <div class="roundedrect">
          ప్రత్తి పంటలో సాధారణంగా పూత ఏర్పడిన దగ్గర నుండి కాయతొలుచు పరుగులు ఆశించటం మొదలవుతుంది. కాయతొలుచు పురుగులలో ముఖ్యమైనవి తలనత్త, శనగపచ్చ పరుగు మరియు పోగాకులద్దె పురుగు. ఇవి పంట యొక్క వివిధ దశలలో ఆశించి దిగుబడులకు తీవ్ర నష్టం కలిగిస్తాయి. ఈ క్రింది యాజమాన్య పద్ధతులు పాటించడం ద్వారా కాయ తొలుచు పురుగు బారి నుండి పంటను సమర్థవంతంగా కాపాడవచ్చును.
          <br>
          <b>నష్టపరిమితి స్థాయి:&nbsp;</b>ఎకరంలో 50 శాతం మొక్కలలో కనీసం ఒక్కొక్క మొక్క ఒక గూడ కంటే ఎక్కువ నష్టపోయినచో (పురుగు చేసిన రంధ్రముతో, విచ్చుకున్న గూడులు) 5 శాతం వేప గింజల కశాయమును పిచికారి చేయుట ద్వారా శనగ పచ్చ పురుగు గ్రుడ్లను, మొదటి దశ గొంగళి పురుగులను సమర్థవంతంగా నివారించవచ్చును.
          <ul>
            <li>
              వృక్ష సంబంధిత మందులైన వేపగుంజల కషాయం 5 శాతం లేక 0.5 శాతం వేప నూనె లేక 0.2 నుండి 0.5 శాతం వేప నూనె సంబంధిత మందులను పిచికారి చేయవచ్చు.

            </li>
            <li>
              పొగకులద్దె పరుగు నివారణకు లీటరు నీటికి 1.0 మి.లీ. నొవాల్యురాన్ లేదా 1.0 మి.లీ. లూఫెన్యూరాన్ లేదా ఇమామెక్టీన్ బెంజోయోట్ ను 0.5 మి.లీ. పిచికారి చేయాలి.
            </li>

          </ul>
        </div>
    </ion-content>
</ion-view>