<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  90 నుండి 120 రోజుల పంట దశ 
        </div>
        <div class="roundedrect">
         ఈ దశలో సాధారణంగా శనగపచ్చ పురుగు ఉధృతి ఎక్కువగా ఉంటుంది. 90 రోజుల నుండి బిటి ప్రత్తిలో గూడ, పూత మరియు పిందెలలో ఉండే బిటి ప్రోటీను స్థాయి క్రమేపి తగ్గుతూ వుండటం వలన శనగపచ్చ పరుగు నియంత్రణ కూడా క్రమేపి తగ్గుతూ ఉంటుంది. కావున ఈ దశలో ఏమైనా గొంగళి పురుగుల నష్టపరిమితి స్థాయి గమంచినచో ఒకటి లేదా రెండు పర్యాయాలు క్రిమిసంహారక మందులు ఉపయోగించడం ద్వారా పరుగును అదుపు చేయవచ్చును.
          
          <ul>
            <li>
              ఆనవాయితీగా ఉపయోగించే థయోడికార్బ్ 1.5 గ్రా. లేదా క్వినాల్ ఫాస్ 2.0 మి.లీ. లేదా క్లోరిఫైరిఫాస్ 2.5 మి.లీ. ను మొదటి పిచికారిగా ఉపయోగించాలి. 
            </li>
            <li>
              అవసరమైతే రెండవసారి పిచికారిగా, స్పైనోసాడ్ 0.3 మి.లీ. లేదా ఇండాక్స్ కార్బ్ 1.0 మి.లీ. లేదా ఇమామేక్టిన్ బెంజోయేట్ 0.5 గ్రా. లేదా ఫ్లూబెండామైడ్ 0.3 మి.లీ. లేదా క్లొరాన్ ట్రినిలిఫ్రోల్ 0.3 మి.లీ. చొప్పున ఒక లీటరు నీటికి కలిపి ఏదో ఒక మందును మార్చి మార్చి పిచికారి చేసుకొనవచ్చును.
            </li>
            <li>
              తెల్ల దోమ అదుపు కొరకు సిఫారసు చేసిన పరుగు మందులను 3 మి.లీ. వేపనూనె కలిపి పిచికారి చేయాలి.
            </li>
            <li>
              రసం పీల్చు పురుగుల నివారణకు 1.5 గ్రా. ఎసిఫేట్ లేదా 2.0 మి.లీ. ఫిప్రోనిల్ ను లేదా 0.3 గ్రా. ప్లోనికామిడ్ లేదా 1.25 గ్రా. డైఫెనిధియురాన్ లీటరు నీటికి కలిపి వాడాలి.
            </li>
          </ul>
        </div>
    </ion-content>
</ion-view>