<ion-view class="pretextView">
    <ion-content>
      <div class ="sub-section">
	    	  120 రోజుల తరువాత దశ
        </div>
        <div class="roundedrect">
         ఈ దశలో సాధారణంగా గులాబిరంగు పురుగు మరియు పిండినల్లి ఉధృతి ఎక్కువగా ఉంటుంది.          
          <ul>
            <li>
              గులాబిరంగు పురుగు నష్టపరిమితి స్థాయి గమనించి (గులాబిరంగు పురుగు నష్టపరిమితి స్థాయి తెలుసుకొనుటకు ప్రత్తి పంటలో అక్కడక్కడా కొన్ని కాయలను కోసి తెరచి చూడాలి. పది కాయలకు ఒక లార్వా గమనించినచో దానిని నష్ట పరిమితి స్థాయి అధిగమించినట్లుగా గుర్తించాలి). అవసరం మేరకు పంట చివర దశలో ఒకటి లేక రెండు పర్యాయాలు సింథటిక్ పైరిత్రాయిడ్ మందులను పిచికారీ చేయుట ద్వారా గులాబి రంగు పరుగును నివారించవచ్చు. 
            </li>
            <li>
              పెద్ద గొంగళిపురుగును గమనించినచో ఏరి నాశనం చేయాలి.
            </li>
            <li>
              పిండినల్లి నివారణకు ఎసిఫేట్ లేదా ప్రోఫినోఫాస్ మందులను ఉపయోగించాలి.  
            </li>          
          </ul>
        </div>
    </ion-content>
</ion-view>