<ion-view class="pretextView">
  <ion-content>
    <div class="contentWrapper paddymenu">
                
      <a href='#/app/cotton8-1'>
        <div class="section-heading">
          పంట తొలిదశ 1-60  రోజుల పంట దశ (రసం పీల్చు పురుగులు ఆశించు దశ)
        </div>
      </a>
      <a href='#/app/cotton8-2'>
        <div class="section-heading">
          60 నుండి 90 రోజుల పంట దశ:
        </div>
      </a>
      <a href='#/app/cotton8-3'>
        <div class="section-heading">
          90 నుండి 120 రోజుల పంట దశ :
        </div>
      </a>
      <a href='#/app/cotton8-4'>
        <div class="section-heading">
          120 రోజుల తరువాత దశ:
        </div>
      </a>
   
    </div>
  </ion-content>
</ion-view>
