/* Empty. Add your own CSS if you like */

.appTitle {
  font-size: 24px;
  font-weight: bolder;
  padding: 5px;
}

.appIcon {
  padding: 5px;
  font-size: 24px;
}

.homeView .card {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: black;
  padding: 0;
  border: 5px solid #28a54c;
  color: white;
  text-align: center;
}

.homeView .card .title {
  line-height: 2;
  font-weight: bold;
}

.homeView .card .item-image img {
  height: 100px;
}

.videosView .videoTile {
  margin: 10px;
}

.callcenterView .card {
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
}

.content-heading{
    margin-top:20px;
    margin-bottom:10px;
    border-radius: 15px;
    background: #73AD21;
    padding-top: 20px;
    padding-right: 10px;
    padding-left:10px;
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
}

.contentWrapper{

    padding-left:5px;
    padding-right:5px;
}

.content{
  margin-left:5px;
}


li:before {
  content: '*';
}

.cropwrapper{
  width:100%;
  margin:10px;
  clear:both;
}

.crop{
  padding:20px;
  width:50%;
  float:left;
}

.cropicon{
  width:100%;
  height:100px;
}

.kandhi p {
  margin-left: 15px;
  margin-right: 15px;
}

.kandhi h1 {
  text-align: center;
}

.kandhi li:before {
  content: '';
}
